/*引入流程*/
.sign_center {
	margin: 20px auto 0 auto;
	width: 1188px;
	border: 1px solid #ececec;
}

.search-result-wrap {
	width: 888px;
}

.menu-item {
	font-size: 16px;
	color: #666;
	font-family: "Microsoft Yahei";
	overflow: hidden;
	height: 48px;
	border-bottom: 1px solid #ececec;
}

.left-menu li a {
	display: block;
	width: 217px;
	height: 47px;
	color: #666666;
	font-size: 16px;
	background: url(../style/css/images/);
	text-align: center;
	line-height: 47px;
	border-right: 1px solid #fff;
	position:relative;
	z-index: 100;
}

.my-pending-approve .left-menu {
	position: relative;
	right: -1px;
	float: left;
	width: 218px;
	overflow: hidden;
	zoom: 1;
}

.menu-item-txt {
	margin-top: 16px;
	float: left;
	line-height: 18px;
}

.search-result-wrap {
	float: left;
	border-left: 1px solid #eee;
	padding:10px 40px 65px 40px;
}

.daozhangintro{
	margin-top: 36px;
}



.protop{
	padding: 20px 0;
	border-bottom: 1px solid #ececec;
}

.lijiqian{width: 90px;height: 36px;line-height: 36px;text-align: center;background:#ffb433;color:#fff;border-radius:2px;}
.orange{width: 4px;height: 16px;background: #ffab19;margin-right: 10px;margin-top: 3px;}
.proname{color:#333333;font-size: 16px;}
.prodetail{padding-top: 32px;}
.prodetail ul{}
.prodetail ul li{position: relative;}
.prodetail ul li i{width: 28px;height: 28px;background: #bdbdbd;color:#fff;font-size: 14px;font-weight: bold;display: block;border-radius: 50%;text-align: center;line-height: 28px;margin-right: 28px;position: relative;}
.prodetail ul li p{height: 28px;line-height: 28px;font-size: 14px;color:#333;}
.dashborder{height: 39px;border-left: 1px dashed #c7c7c7;margin:9px 13px;}