@import url(common.css);
@import url(module.css);
@import url(reg.css);
.body_wrap{
	margin-top: 30px;
}
/*tips文字提示*/
.body_wrap .body_box .title .brife{
    height: 48px;
    text-indent: 0;
    margin: 16px 0 16px 36px;
    font: normal 12px/16px 'Microsoft Yahei';
}
/*原密码输入位置*/
.body_wrap .body_box .row-current-password{
	margin-top: 50px;
}
/*未输入密码错误提示*/
.body_wrap .body_box .row-current-password .error-tips{
	color: #ff5556;
}
/*红色提示*/
.body_wrap .body_box .row_way .login-tip{
	color: #f52a2c;
}
/*错误提示框*/
.body_wrap .body_box .row_way .row_info .error-bor{
	border: 1px solid #f52a2c;
}
/*提示描述信息*/
.body_wrap .body_box .row_one .txt_info{
	color: #666;
}
/*表单禁用样式*/
.body_wrap .body_box input:disabled{
	background-color: rgb(235, 235, 228);
}
/*提交按钮*/
.body_wrap .body_box .J_submit{
	width: 100px;
	height: 40px;
}
/*输入框正确提示图标*/
.body_wrap .body_box .row_way .row_choose i.icon_success_16,
.body_wrap .body_box .row_way .row_list i.icon_success_16{
	left: 690px;
}
/*支付密码设置描述信息*/
.body_wrap .body_box .row_way_top_desc{
	margin-top: 50px;
	margin-right: 100px;
	font-size: 14px;
}
/*IE兼容性*/
.body_wrap .body_box input{
	/*height: 30px;*/
	line-height: 14px;
	/*padding: 0px 4px!important;*/
	display: block;
	font: 14px arial!important;
}
.body_wrap .body_box .fix-pos{
	position: absolute;
    top: 34px;
}

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
	}
.clearfix { zoom: 1; } /* IE6 */ 
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 