/* 账户安全 */
.account_main_safe {padding:0 74px 0 80px;width:1034px;border:1px solid #e9e9e9;margin:0 auto 50px;font-family:'microsoft yahei';}
.account_main_safe li {padding:32px 0;height:36px;line-height:36px;border-bottom:1px solid #ededed;overflow:hidden;}
.account_main_safe li.last {border-bottom:0 none;}
.account_main_safe .icon,
.account_main_safe .name,
.account_main_safe .desc,
.account_main_safe .opts {margin-right:20px;float:left;height:36px;display:inline;}
.account_main_safe .icon {
    float:left;
    width:36px;background:url(../images/icon_account_safe.png) no-repeat;
}
.account_main_safe .name {
    float: left;
    width:165px;font-size:16px;
}
.account_main_safe .desc {
    float: left;
    width:560px;font-size:12px;
}
.account_main_safe .opts {
    float: right;
    margin-right:0;width:127px;font-family:arial;text-align:right;
}
.account_main_safe .opts a {margin-left:25px;color:#359bff;text-decoration:none;}
.account_main_safe .opts a:hover {color:#f60;text-decoration:underline;}

.account_main_safe .icon_login {background-position:0 0;}
.account_main_safe .icon_pay {background-position:-37px 0;}
.account_main_safe .icon_mobile {background-position:-74px 0;}
.account_main_safe .icon_password {background-position:-111px 0;}
.account_main_safe .icon_account {background-position:-148px 0;}
.account_main_safe .icon_edit {background-position:-194px 0;}

/* 资金信息 */
.account_main_fund {padding:50px 20px;width:948px;border:1px solid #e9e9e9;border-top:0;margin:0 auto 50px;font-family:'microsoft yahei';}
.account_main_fund .balance-hd {margin-bottom:20px;font-size:14px;font-weight:bold;}
.account_main_fund .balance {margin-bottom:30px;padding-bottom:30px;font-size:14px;height:28px;line-height:28px;overflow:hidden;border-bottom:1px dashed #ccc;}
.account_main_fund .balance .desc {display:inline-block;vertical-align:middle;}
.account_main_fund .balance .amount {margin-right:5px;display:inline-block;vertical-align:middle;}
.account_main_fund .usable,
.account_main_fund .disable {margin-left:50px;width:350px;float:left;display:inline;}
.account_main_fund .disable {width:280px;}
.account_main_fund .usable .amount {color:#f70;font:normal 28px/28px arial;height:28px;_margin-top:-4px;}

.account_main_fund .btns {padding:2px 0;font-size:12px;height:24px;overflow:hidden;}
.account_main_fund .btns a {margin-right:10px;color:#39f;line-height:24px;text-decoration:none;float:left;display:inline;}
.account_main_fund .btns a:hover {color:#f60;text-decoration:underline;}
.account_main_fund .btns a.btn-blue {width:66px;height:24px;line-height:24px;color:#fff;text-align:center;background:#4da6ff;display:inline-block;*display:inline;*zoom:1;border-radius:4px;} 
.account_main_fund .btns a.btn-blue:hover {color:#fff;text-decoration:none;} 
.account_main_fund .btns a.btn-gray {width:64px;height:22px;line-height:22px;color:#666;text-align:center;background:#f8f8f8;border:1px solid #ccc;display:inline-block;*display:inline;*zoom:1;border-radius:4px;} 
.account_main_fund .btns a.btn-gray:hover {color:#666;text-decoration:none;} 

.account_main_fund .balance_info {margin:0 auto;max-width:800px;width:100%;border:1px solid #e5e5e5;border-radius:2px;font-size:14px;color:#333;}
.account_main_fund .balance_info h3 {height:42px;line-height:42px;background:#f8f8f8;border-bottom:1px solid #f2f2f2;text-indent:20px;font-weight:normal;}
.account_main_fund .balance_info_box {height:206px;display:table;_position:relative;}
.account_main_fund .balance_info_wp {display:table-cell;vertical-align:middle;_position:absolute;_top:50%;}
.account_main_fund .balance_info_bd {_position:relative;_top:-50%;}
.account_main_fund .balance_info_bd dl {height:28px;line-height:28px;overflow:hidden;}
.account_main_fund .balance_info_bd dt {float:left;width:220px;color:#666;text-align:right;}
.account_main_fund .balance_info_bd dd {overflow:hidden;display: inline;}


/* 子账户 */
.account_main_sub .acc_table table .amount {padding-right:20px;padding-left:10px;text-align:right;}


/* 表单页 */
.account_page_wp {margin:0 auto 50px auto;width:988px;border:1px solid #e9e9e9;font-family:'microsoft yahei';}
.account_page_hd {height:48px;background:#f8f8f8;border-bottom:1px solid #e9e9e9;overflow:hidden;}
.account_page_hd h2,
.account_page_hd em {margin-left:20px;font-size:16px;font-weight:normal;line-height:48px;color:#333;float:left;display:inline;}
.account_page_hd em {font-size:12px;color:#666;}
.account_page_bd {padding:80px 0;}
.account_page_bd_tp40 {padding-top:40px;}

.account_page_bd .row_way:before, .account_page_bd .row_way:after,
.account_page_bd .row_btn_one:before, .account_page_bd .row_btn_one:after {content:'';display:table;}
.account_page_bd .row_way:after,
.account_page_bd .row_btn_one:after {clear:both;}
.account_page_bd .row_way,
.account_page_bd .row_btn_one {zoom:1;}

.account_page_bd .row-group {overflow:hidden;}
.account_page_bd .row-group .a_link {line-height:30px;}
/* 验证码 短信校验码 */
.account_page_bd .row-group .input_vcode {width:168px;}
.account_page_bd .row-group .input_mcode {width:118px;}
.account_page_bd .row-group .a_vcode{
    display: block;
    height: 30px;
}
.account_page_bd .row-group a.img_vcode {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
}
.account_page_bd .row_hr {margin-bottom:40px;}
.account_page_bd .row_way_upload {margin-bottom:20px;}
.account_page_bd .row_way_upload .row_name,
.account_page_bd .row_way_upload .row_info {height:50px;height:auto !important;min-height:50px;zoom:1;}
.account_page_bd .upload_placeholder {margin:0 20px 5px 0;width:130px;height:90px;background:#f8f8f8;display:inline;float:left;}
/*图片*/
.account_page_bd .upload_placeholder .a_img {
    position: relative;
    display: block;
    width: 134px;
    height: 94px;
    margin-bottom: 22px;
    cursor: url(../images/zoomin.cur),pointer;
}
.account_page_bd .upload_placeholder img{
    width: 130px;
    height: 90px;
}
.account_page_bd .upload_placeholder .span_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 134px;
    height: 94px;
    background: url(../images/verified.sprite.png) no-repeat 0 -590px;
    _background: url(../images/verified8.sprite.png) no-repeat 0 0;
    z-index: 99;
}
.account_page_bd .upload_placeholder span.span_layer_border{
    background-position: 0 -684px;
    _background-position: 0 -134px;

}
.account_page_bd .row_way_upload .btn_white {position:relative;display:block;margin-top:30px;cursor:pointer;overflow: hidden;}
.account_page_bd .certificate a.btn{ float: none;  margin-top: 15px;}
.account_page_bd .certificate a.download_certificate{  margin-top: 8px;}
.account_page_bd .row_way_upload .btn_white input {position:absolute;top: -20px;left:-40px;width:150px;height: 50px;
    font-size: 80px;cursor:pointer;filter:alpha(opacity=1);-moz-opacity:.01;-khtml-opacity:.01;opacity:.01;}
/*报错位*/
.account_page_bd .row_way_upload .upload_anchor{
    position: relative;
    z-index: 9;
}
.account_page_bd .row_way_upload .upload_txt{
    position: absolute;
    top: 0;
    left: 150px;
    display: block;
    width: 134px;
    height: 30px;
    line-height: 30px;
    color: #f55;
}
.account_page_bd .row_way_upload .certificate .upload_txt{
    top: -9px;
}



/* 成功-失败-报错信息页 */
.result_wp {margin:0 auto;font-family:'microsoft yahei';}
.result_wp a {color:#39f;}
.result_wp a:hover {color:#F60;}
.result_bd:before,
.result_bd:after {content:'';display:table;}
.result_bd:after {clear:both;}
.result_bd {margin:0 auto;width:630px;zoom:1;}
.result_l {width:132px;float:left;overflow-x:hidden;}
.result_r {width:498px;float:left;}
.icon_result {display:block;width:32px;height:32px;float:right;}
.result_l .icon_result_success {background:url(../images/icon_success_32.png) no-repeat 0 0;}
.result_l .icon_result_error {background:url(../images/icon_error_32.png) no-repeat 0 0;}
.result_l .icon_result_info {background:url(../images/icon_info_32.png) no-repeat 0 0;}
.result_info {padding:3px 0 0 10px;}
.result_info h3 {font-size:16px;font-weight:normal;height:28px;line-height:28px;}
.result_info .cont {padding-top:10px;line-height:22px;color:#666;}
.result_info .cont .f14 {font-size:14px;line-height:22px;margin-bottom:15px;}
.result_info .cont p {font-size:12px;margin-bottom:10px;line-height:18px;}
.result_info .gray, 
.result_info .gray a {color:#999;}
.result_info .gray a:hover {color:#f60;}
.result_info .goto {padding-top:20px;font-size:12px;color:#999;}
.result_info .goto a {margin-right:15px;}
.result_info .red{
    color: #f55;
}
/* 重置密码 */
.reset_pwd_wp {padding:0 40px;}
.reset_pwd_item {padding:35px 0;height:60px;border-bottom:1px dashed #dedede;overflow:hidden;}
.reset_pwd_item_last {border-bottom:0 none;}
.reset_pwd_desc {width:740px;height:60px;float:left;}
.reset_pwd_desc dt {height:30px;line-height:30px;font-size:16px;color:#333;}
.reset_pwd_desc dd {margin-top:8px;height:22px;line-height:22px;font-size:12px;color:#999;}
.reset_pwd_opts {height:60px;float:right;}
.reset_pwd_opts .btn {margin:10px 0 0 0;width:116px;}
.reset_pwd_opts .btn_link {margin:10px 0 0 0;width:116px;font-size:14px;background:#fff;color:#39f;}
.reset_pwd_opts .btn_link:hover {background:#fff;color:#f60;}


.account_page_win{
    padding: 80px 0;

}
.account_page_win .result_wp a{
    color: #fff;
}
.account_page_win .row_way .row_name{
    width: 374px;
}
.account_page_win .row_btn_one{
    margin-left: 374px;
}

.help-conter-tab{margin:0 20px;padding:10px 0;border-bottom:1px dashed #ccc;}
.help-conter-tab li{height:30px;line-height:30px;}
.help-conter-tab li a{color:#666;}
.help-conter-tab li a:hover{color:#f70;}
.help-conter .qa_list dt{font-size:14px;padding-bottom:10px;}
.help-conter .qa_list dd p{text-indent:24px;margin-bottom:10px;}

/*反洗钱*/
.fanxi-h2-control{float:right;margin:10px 20px 0 0;}
.fanxi-h2-control a{display:inline-block;}
.fanxi-h2-control .Fanxi-hover{width:60px;height:30px;line-height:30px;text-align:center;color:#fff;background:#4ca5ff;border-radius:4px;overflow:hidden;}
.fanxi-h2-control .Fanxi-default{width:90px;height:28px;line-height:28px;text-align:center;border:1px solid #ccc;border-radius:4px;color:#666;background:#fff;overflow:hidden;}
.fanxi-h2-control .Fanxi-hover:hover{background:#3299fe;text-decoration:none;}
.progress_fanxiqian{width:720px;margin:0 135px;}
.progress_fanxiqian .progress_load{width:494px;margin-left:128px;}
.progress_fanxiqian .progress_load_width{width:494px !important;margin:0 !important;overflow:hidden;}
.row_hr_h2{margin:10px 20px;padding-bottom:5px;font-size:16px;}
.row_hr_h2 em{position:relative;top:1px;display:inline-block;width:4px;height:14px;background:#ccc;margin-right:5px;}
.row_hr_h3{margin:10px 20px;padding-bottom:5px;font-size:16px;border-bottom:1px dashed #dedede;}
.color999{color:#999;}
.fanxi-tip-box{width:910px;padding:20px;margin:10px auto 30px;border:1px dashed #dedede;}
.fanxi-tip-box h3{margin-bottom:5px;}
.fanxi-tip-box h3 em{position:relative;top:3px;margin-right:5px;display:inline-block;width:16px;height:16px; background:url(../images/tipsBg.png) no-repeat -155px -70px;}
.fanxi-tip-box p{line-height:1.9;color:#666;}
.fanxi-tip-box p b{color:#333;}
.fanxi-tip-main{width:910px;padding:20px;margin:10px auto 30px;border:1px dashed #dedede;}
.fanxi-tip-main p{text-align:center;color:#666;}
.fanxi-tip-main p em{position:relative;top:3px;margin-right:5px;display:inline-block;width:16px;height:16px; background:url(../images/tipsBg.png) no-repeat -155px -70px;}
.J_cancel{font-size:16px !important;font-weight:bold !important;margin:0 15px;}
.account_page_wp_result .row_way .row_info{min-height:38px;}
.fanxi-paper-table{width:950px;margin:20px auto;border:1px solid #e9e9e9;border-left:0;font-size:14px;}
.fanxi-paper-table td,.fanxi-paper-table th{border-left:1px solid #e9e9e9;padding:8px 0;}
.fanxi-paper-table th{background:#f8f8f8;color:#666;}
.fanxi-paper-table td{border-top:1px solid #e9e9e9;text-align:center;}
.fanxi-paper-table .red{color:#f55;}
.fanxi-paper-table .green{color:#3cb200;}
.row_way .red{color:#f55;}
.row_way .green{color:#3cb200;}

.Fanxi-window-pop{position:fixed;left:50%;margin-left:-185px;top:50%;margin-top:-85px;width:370px;height:170px;border:6px solid #b2b2b2;background:#fff;}
.Fanxi-window-pop p{font-size:16px;padding:45px 0 25px 0;text-align:center;}
.Fanxi-window-pop a{float:none;display:block;margin:0 auto;}
.ver_upload{font-family:'microsoft yahei';}
.ver_success .fanxi-txt,.ver_success .fanxi-txt-b{width:400px;margin:0 0 15px 352px;}
.ver_success .fanxi-txt span{color:#999;}
.ver_success .fanxi-txt-b{font-weight:bold;margin-bottom:-10px;}
.progress_box .progress_txt{width:210px;}
.progress_box .progress_txt p{float:left;color:#999;font-size:12px;margin:-5px 0 0 40px;}
.fanxi-paper-table a{color:#39f;}
.fanxi-paper-table a:hover{color:#f70;}
.row_way_change .row_info{min-height:38px;}
.body_box{padding-bottom:20px;}

/**/
.asset_warp_nav{height:40px;line-height:40px;margin-bottom:20px;background:#f8f8f8;border-top:1px solid #e8e8e8;}
.asset_warp_nav li{float:left;width:90px;font-size:14px;}
.asset_warp_nav li a{position:relative;top:-1px;display:inline-block;height:40px;line-height:40px;color:#666;border-top:1px solid #e8e8e8;}
.asset_warp_nav li a.on,.asset_warp_nav li a:hover{color:#39f;border-top:1px solid #39f;}
.acc_myacc{margin-top:50px;}
.acc_myacc td{padding:40px;font-size:16px;}
.acc_myacc td em{color:#f70;font-size:26px;padding-right:5px;}
.acc_myacc td .btn{float:right;width:76px;height:28px;line-height:28px;font-size:14px;margin-left:15px;}
.acc_myacc td .btn_tx{background:#fff;color:#666;height:26px;line-height:26px;border:1px solid #ddd;}
.acc_myacc td .btn_tx:hover{background:#efefef;}
.acc_myacc_msg{text-align:center;padding:50px 0;font-size:16px;}
.acc_myacc_msg i{position:relative;top:5px;margin-right:10px;display:inline-block;width:24px;height:24px;background:url(../images/tipIcon.png) no-repeat -156px -70px;}
.acc_mybank table{padding:30px 0;}
.acc_mybank td{font-size:14px;padding:5px;}
.acc_mybank td.a-right{text-align:right;color:#666;}
