@import url(dialog.css);
@import url(reset.css);


.c3 {color:#333;}
.c6 {color:#666;}
.c9 {color:#999;}
a:hover {text-decoration: none;}
.t-align {text-align:right;}
.approval {width:1188px;margin:auto;margin-top:20px;border:1px solid #e8e8e8;}
.approval .title {height:70px;line-height:70px;background:#f8f8f8;padding-left:30px;font-size:24px;}
.approval .content {padding:0px 30px 30px;}
.approval .content .sub-title{height:40px;line-height:40px;font-size:18px;margin-top:35px;}
.approval .content .simple-desc {height:76px;margin-bottom:26px;}
.approval .content .simple-desc li {height:76px;}
.approval .content .simple-desc .first {width:336px;}
.approval .content .simple-desc .second {width:353px;}
.approval .content .simple-desc .three {width:437px;}
.approval .content .simple-desc li span {display:block;font-size:14px;height:38px;line-height:38px;}
.approval .content .simple-desc li .l-height {line-height:48px;}
.approval .content .simple-desc li div {height:76px;}
.approval .content table {width:100%;border:1px solid #e8e8e8;margin-top:10px;}
.approval .content table thead td {height:40px;text-align:center;background:#dce9f5;}
.approval .content table tbody td {padding:17px 2px;border-top:1px solid #ccc;text-align:center;}
.approval .content .card-no {max-width:160px;word-break:break-all;}
.approval .content .remarks {max-width:160px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;position:relative;}
.approval .content .sugg {word-break: break-all;width:240px;}
/*.approval .content .remarks .remarks-con {display:none;position:absolute;}*/

.approval .content .page {padding:20px 0 0;line-height:28px;text-align:right;}
.approval .content .page .posi-right {text-align:center;display:inline-block;line-height: 30px;}
.approval .content .page .border {border:1px solid #ccc;}
.approval .content .page .page-num {width:30px;height:28px;}
.approval .content .page .fl {color:#333;margin-left:5px;}
.approval .content .page .m-left {margin-left:30px;}
.approval .content .page .input-num {text-align:center;line-height: 30px;}
.approval .content .page .goto {width:48px;background:#e8e8e8;	}
.approval .content .page a:hover {color:#f70;}
.approval .content .page a.active {border:1px solid #fff;font-weight:bold;}
.approval .content .page .fl.disable {color:#ccc;}
.approval .content .page .fl.disable:hover {color:#ccc;}
.approval .content .page .prev-page,.approval .content .page .next-page {width:68px;}
.approval .content .page .page-num i {display:inline-block;width:4px;height:8px;background:url(../images/icons_Sprites.png) no-repeat;}
.approval .content .page .prev-page i {background-position:-93px -64px;margin-right:5px;}
.approval .content .page .prev-page.disable i {background-position:-85px -64px;}
.approval .content .page .next-page i {background-position:-89px -64px;margin-left:5px;}
.approval .content .page .next-page.disable i {background-position:-97px -64px;}

/*提交模块*/
.input-approval {font-size:14px;margin-top:50px;}
.input-approval li {margin-top:20px;}
.input-approval .left-title {width:435px;display:inline-block;text-align:right;}
.input-approval .radio {display:inline-block;top:2px;position:relative;width:15px;height:15px;background:url(../images/icons_Sprites.png) no-repeat -109px -27px;margin-right:4px;cursor: pointer;}
.input-approval .right-radio {margin-left:28px;}
.input-approval .radio.agree {background-position:-124px -27px;}
.input-approval textarea {width:358px;height:68px;outline: none;padding:10px;resize: none;border:1px solid #ccc;}
.input-approval .input-word-prompt {padding-left:435px;}
.input-approval .clearfix .left-title {line-height:40px;}
.input-approval li a {display:inline-block;border-radius:4px;width:98px;height:38px;line-height:38px;border:1px solid #ccc;text-align:center;font-size:16px;}
.input-approval .btns {text-align:center;}
.input-approval .submit {border:1px solid #ffb433;background:#ffb433;color:#fff;}
.input-approval .go-back {margin-left:20px;}

/*弹窗*/
.diag-con {padding:50px 0 30px;text-align:center;}
.diag-con .con {height:24px;text-align:center;line-height:24px;}
.diag-con .con span {height:24px;line-height:24px;}
.diag-con .con .con-span {display:inline-block;}
.diag-con .con .warn {display:inline-block;width:24px;height:24px;position:relative;background:url(../images/icons_Sprites.png) no-repeat -109px -42px;margin-right:10px;}
.diag-con .conf {height:24px;text-align:center;margin-top:40px;width:260px;height:40px;line-height:40px;border-radius:4px;background:#ffb433;color:#fff;font-size:16px;display:inline-block;}

.fixed-tips {display:none;position:fixed;top:80%;left:50%;margin-left:-87px;margin-top:-25px;width:260px;height:100px;line-height:100px;padding-top:12px;border:1px solid #ccc;background:#fff;border-radius:4px;box-shadow: 2px 2px 4px 0px #ccc;text-align:center;-webkit-box-shadow: 2px 2px 4px 0px #ccc;-ms-box-shadow: 2px 2px 4px 0px #ccc;-moz-box-shadow: 2px 2px 4px 0px #ccc;}
.fixed-tips span {display:inline-block;line-height:24px;font-size:16px;}
.fixed-tips .warn {display:inline-block;width:24px;height:24px;position:relative;background:url(../images/icons_Sprites.png) no-repeat -109px -66px;margin-right:10px;}

/** 正在加载 **/
.loading-no-network {width:240px;height:62px;margin:100px auto;font-size:14px;text-align: center;}

/** error **/
.err-server	{height:120px;text-align:center;margin:300px 0;}
.err-server .main-con {display:inline-block;}
.err-server .img {float:left;width:156px;height:120px;}
.err-server .con {float:left;height:120px;margin-left:30px;}
.err-server .con h2 {font-size:18px;height:70px;line-height:120px;}
.err-server .con p {font-size:12px;height:50px;line-height:50px;}
.err-server .con p a {color:#3399ff;}






