@import url(reset.css);
.wrap{
	width: 1188px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ececec;
}
.main-wrap{
	display: inline-block;
	text-align: left;
	padding: 165px 0 175px 0;
}
.result-tips{
	font-size: 18px;
	color: #333;
	line-height: 32px;
}
.result-tips i{
	float: left;
	width: 32px;
	height: 32px;
	background: url(../images/icon_success_32.png) no-repeat center;	
	margin-right: 10px;
}
.order-num-p,.price-p{
	font-size: 14px;
	color: #666;
	padding-left: 40px;
}
.jump-p{
	padding-top: 30px;
	font-size: 14px;
	color: #333;
	padding-left: 40px;
}
.jump-p a{
	color: #3399ff;
	padding: 0 5px;
}