@import url(common1190.css);
@import url(dialog.css);
@import url(ECode.calendar.css);
@import url(snpage.css);
@import url(placeholder.css);
a:hover{text-decoration: none;}
input{font-size: 14px;}
.rel{position: relative;}
.jr-placeholder .label-for-input{font-size: 14px;color: #999;}
.placeholder{position: absolute;width: 148px;height: 22px;font-size: 12px;color: #999;top:0;left: 0}
.placeholder.left720{left: 720px}
.placeholder.left596{left: 596px}
.placeholder.left486{left: 486px}
.placeholder.left164{left: 164px}
.placeholder.left177{left: 177px}
.placeholder.left170{left: 170px}
.placeholder.left180{left: 180px}
.placeholder.top6{top: 6px}
.placeholder.top10{top: 10px}
.placeholder.top-23{top: -23px}
.placeholder.textleft{text-align: left;}
.placeholder.margin0{margin:0 !important;}
.padbtm30{padding-bottom: 30px}
.textc{text-align: center;}
.w100{width: 100px}
.paddbtm20{padding-bottom: 20px}
.paddtop20{padding-top: 20px}
.w200{width: 200px}
.disinlbk{display: inline-block;}
.hei100{height: 100px}
.mrb20{margin-bottom: 20px}
.padd20{padding:20px 0;}
.padd16{padding:16px 0;}
.padd30{padding-top: 30px !important}
.mrt9{margin-top: 9px}
.mrt18{margin-top: 18px}
.mrt38{margin-top: 38px}
.mrt28{margin-top: 28px}
.mrb33{margin-bottom: 33px}
.width40{width: 40px}
.mrb35{margin-bottom: 35px}
.mrb38{margin-bottom: 38px}
.mrl9{margin-left: 9px}
.mrr117{margin-right: 117px}
.mrr226{margin-right: 226px}
.mrr164{margin-right: 164px}
.mrr260{margin-right: 260px}
.mrr174{margin-right: 174px}
.mrr282{margin-right: 282px}
.width356{width: 356px}
.width580{width: 580px}
.ml20 {margin-left: 20px;}
.mrl36{margin-left: 36px}
.mrl70{margin-left: 70px}
.height46{height: 46px}
.fl {float: left;}
.fr{float: right;}
.fl, .fr { display: inline;}
.color6{color: #666666}
div.color6{color: #666666}
.color3{color: #333333}
div.mrt20{margin-top: 20px}
.border_ec{border:1px #ececec solid;}
.borderbottom_ec{border-bottom:1px #ececec solid;}
.mrl220{margin-left: 220px}
.mrl276{margin-left: 276px}
.mrl285{margin-left: 285px}
.mrl230{margin-left: 230px}
.mrl642{margin-left: 642px}
.mrl306{margin-left: 306px}
.mrl28{margin-left: 28px}
.h18{height: 18px}
.h40{height: 40px}
.bgf8{background: #f8f8f8}
.oprator_head li:first-child{margin-left: 0 !important}
.oprator_head li.clearlaston{border-top: none;margin: 0;padding: 0 20px;}
.oprator_head li.clearlaston a{color: #333;}
.oprator_head li.addactiveon{border-top: 1px solid #39f;margin: 0 20px;padding: 0;}
.oprator_head li a.activeaon{color:#39f;}
.oprator_head li a{font-size: 14px;}
/*查询区域 [[*/
.query-wrap{padding: 19px 0;}
.query-wrap ul li.search-item{width: 50%;height: 30px;float: left;padding-bottom: 16px;}
.query-wrap ul li div{float: left;}
.query-wrap ul li div.label{width: 108px;height: 30px;line-height:30px;text-align: right;font-size: 14px;color: #666;}
.query-wrap ul li div.query-condition input.inp{width: 268px;height: 28px;border: 1px solid #cccccc;;line-height: 28px;padding-left: 10px;}
.query-wrap ul li .date-range-wrap {width: 320px;float: left; position: relative; z-index: 1;}
.query-wrap ul li .err{
	min-width:300px;
	font-size: 12px;
	color: #f55;
	padding-left: 108px;
	display: none;
}
.query-wrap ul li .date-range-wrap input {padding: 0 5px;float: left;height: 28px;width: 118px;border: 1px solid #CCC;outline: none; line-height: 28px;font-size: 14px; background: url(../images/input_data.png) 102px 7px no-repeat;cursor: default;}
.query-wrap ul li .date-range-wrap .to-line {margin: 0 5px;float: left;height: 14px;width: 10px; border-bottom: 1px solid #CCC;}
.date-range-wrap .date-sel-wrap {position: relative; margin-left: 10px;float: left;width: 28px;height: 28px;border: 1px solid #CCC;cursor: pointer;}
.date-range-wrap div {float: left;}
.date-range-wrap .date-sel-wrap .arrow { display: block;position: absolute; top: 12px;left: 9px;width: 0; height: 0;line-height: 0; font-size: 0;border: 5px solid transparent; border-top-color: #CCC;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;}
.sel-list-wrap {position: absolute;top: 29px;right: 0;width: 318px;line-height: 28px;border: 1px solid #ccc;color: #666;background-color: #FFF; cursor: pointer;}
.select-box-wrap { display: none;overflow: hidden;position: relative;top: -1px;*top: -2px;*left: 0; width: 278px;border: 1px solid #BBB;background-color: #FFF;font-size: 14px; z-index: 2;}
.select-box-wrap .sel-val { display: block;width: 100%; height: 32px;text-indent: 10px;color: #333;line-height: 32px;}
.select-box-wrap .sel-val:hover {color: #FFF;background-color: #4ca6ff;text-decoration: none;}
.sel-list-wrap {position: absolute;top: 29px;right: 0;width: 318px;line-height: 28px;border: 1px solid #ccc;color: #666;background-color: #FFF; cursor: pointer;}
.select-box-wrap { display: none;overflow: hidden;position: relative;top: -1px;*top: -2px;*left: 0; width: 278px;border: 1px solid #BBB;background-color: #FFF;font-size: 14px; z-index: 2;}
.select-box-wrap .sel-val { display: block;width: 100%; height: 32px;text-indent: 10px;color: #333;line-height: 32px;}
.select-box-wrap .sel-val:hover {color: #FFF;background-color: #4ca6ff;text-decoration: none;}
.date-select-wrap {display: none;}
.select-box-input { outline: none;width: 278px; height: 28px;border: 1px solid #CCC;text-indent: 10px;line-height: 24px;font-size: 14px;font-family: "Microsoft Yahei";background: url(../images/icon_white_arrow.png) 260px 12px no-repeat;cursor: pointer; color: #333;}
.select-box-input.ie7{text-indent: 0px;width: 268px;padding-left: 10px;}
.query-wrap .btn-wrap{padding-left: 108px;}
.query-wrap .btn-wrap a{display: inline-block;width: 100px;height: 30px;line-height: 30px;text-align: center;background-color: #ffb433;border-radius: 2px;color: #FFF;font-size: 14px;}
/*查询区域 ]]*/
/*订单区域 [[*/
.order-info-wrap{width: 1150px;margin: 0 19px;padding-bottom: 20px;}
.order-info-wrap .notic-wrap{height: 28px;line-height:28px;border: 1px solid #ffcc66;}
.order-info-wrap .notic-wrap i{float: left;width: 16px;height: 16px;background: url(../images/icon_sigh_16.png) no-repeat center;margin: 7px 0 0 9px;}
.order-info-wrap .notic-wrap p{font-size: 12px;color: #666;padding-left: 30px;}
.table-wrap table{width: 1150px;border: 1px solid #eeeeee;border-collapse: collapse;margin: 8px 0 20px 0;}
.table-wrap table tr{border-bottom: 1px solid #eeeeee ;}
.table-wrap table th{height: 40px;line-height:40px;font-size: 14px;color: #666;text-align: left;padding-left: 15px;}
.bcg-blue{background: #dce9f5;border: 0;}
.table-wrap table td{word-break:break-all;font-size: 12px;color: #333;padding: 10px 7px 10px 14px;}
.table-wrap table .order-num-wrap p{float: left;}
.table-wrap table .order-num-wrap p.order-num,.table-wrap table .order-num-wrap p.deal-num{width: 120px;word-break: break-all;}
.table-wrap table p.time{width: 70px;word-break: break-all;}
.table-wrap table .order-btn{width: 120px;color: #d2d2d2;}
.table-wrap table .order-btn a{font-size: 12px;color: #3399ff;padding: 0 5px;}
.table-wrap table .order-btn a.pl0{padding-left: 0;}
.table-wrap table td.un-pay{color: #3cb200;}
.table-wrap table td.refused{color: #ff5555;position: relative;}
.refused i.tip-hover{display: inline-block;width: 12px;height: 12px;background: url(../images/uptip.png) no-repeat;vertical-align: middle;margin: -2px 0 0 1px;*margin-top: 0;}
.pop-tips{position:absolute;border: 1px solid #ffcc66;z-index: 99;bottom:54px;left:-12px;display: none;}
.pop-tips p{width: 145px;font-size: 12px;color: #333;word-break: break-all;padding: 4px 10px;background: #fff;}
.pop-tips i{position: absolute;display: inline-block;width: 11px;height: 7px;background: url(../images/arrow-icon.png) no-repeat center;left:77px;bottom: -7px;}
/*订单区域 ]]*/
/*弹窗相关 [[*/
.ui-dialog-head{background: #fff;border-bottom: 0;}
.cont-info-wrap{padding:0 24px 30px 24px;font-family: "microsoft yahei";}
.cont-info-wrap .order-info,.oP,.label{font-size: 14px;font-weight: bold;line-height: 14px;color: #333;}
.oP{padding: 8px 0;}
.cont-info-wrap .order-info em{display:inline-block;padding: 0 8px;}
.cont-info-wrap .order-info em.br{border-right:1px solid #d2d2d2 ;}
.cont-info-wrap .oTable{height: 178px;overflow-y: scroll;margin-bottom: 6px;}
.cont-info-wrap table{font-size:12px;border: 1px solid #eeeeee;border-collapse: collapse;}
.cont-info-wrap table tr{border-bottom: 1px solid #eee;}
.cont-info-wrap table th{height: 34px;line-height:34px;text-align: left;padding-left: 6px;}
.cont-info-wrap table td{padding: 6px;}
.cont-info-wrap table td p{word-break: break-all;}
.w64{width: 64px;}
.w66{width: 66px;}
.w84{width: 84px;}
.cont-info-wrap div{font-size: 14px;word-break: break-all;padding-bottom: 5px;}
.cont-info-wrap div.label-introduce{width: 600px;position: relative;color: #333;margin-top: 4px;}
.cont-info-wrap div.label-introduce span{position: absolute;font-size: 12px;color: #959595;right: 0;bottom: -11px;}
.cont-info-wrap .sure-btn{width: 100px;height: 40px;line-height: 40px;color: #ffffff;background: #ffb433;margin: 20px 0 0 251px;}
.cont-info-wrap .refuse-btn{width: 98px;height: 38px;line-height:38px;border: 1px solid #dddddd;color: #c8c8c8;margin: 20px 20px 0 190px;background: #f8f8f8;}
.cont-info-wrap .accepts-btn{width: 98px;height: 38px;line-height:38px;border: 1px solid #cccccc;color: #333;margin: 20px 20px 0 190px;}
.cont-info-wrap .cancel-btn{width: 98px;height: 38px;line-height:38px;border: 1px solid #cccccc;color: #333;}
.cont-info-wrap a{float: left;text-align: center;font-size: 16px;font-weight: bold;border-radius: 4px;margin-top: 20px;}
.cont-info-wrap .desc-textarea{width: 590px;height: 88px;font-size:14px;border: 1px solid #cccccc;resize: none;padding:0px 5px;}
.cont-info-wrap .desc-textarea.bg-grey{background: #fafafa;}
/*弹窗相关 ]]*/
/*查询等待模板 && 查询为空模板 [[*/
.wait-wrap .info{padding: 150px 0;}
.empty-info {
	padding: 120px 0;
	width: 400px;
	height: 106px;
}
.empty-info a {
	color: #39F;
}
.empty-info a:hover {
	text-decoration: none;
	color: #39F;
}
.empty-info .empty-icon {
	margin-right: 42px;
	float: left;
	overflow: hidden;
	zoom: 1;
}
.empty-info .desc {
	padding-top: 40px;
	float: left;
}
.empty-info .desc .no-data{font-size: 18px;font-weight: bold;color: #333;}
/*查询等待模板 && 查询为空模板 ]]*/
/*确认拒绝结果小弹窗 [[*/
.refused-result-wrap{
	position: fixed;
	top:50%;
	left: 50%;
	z-index: 99;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.09);
	display: none;
}
.refused-result-wrap p{
	display: inline-block;
	font-size: 14px;
	color: #333;
	font-family: "microsoft yahei";
	padding: 10px 12px;
	background: #fff;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
.refused-result-wrap i{
	float: left;
	height: 24px;
	width: 24px;
	margin-right: 8px;
}
.result-success{
	margin-top: -40px;
}
.result-success i{
	background: url(../images/icon_success_24.png) no-repeat center;
}
.result-fail i{
	background: url(../images/sign_fail.jpg) no-repeat center;
}
.result-success{
	margin-left:-106px;
}
.result-fail01{
	margin-left:-134px;
}
.result-fail02{
	margin-left:-148px;
}
/*确认拒绝结果小弹窗 ]]*/