@import url(common.css);
@import url(module.css);
a:hover {text-decoration: none;}

.hide {display:none;}
.mar-top {margin-top:20px;}

/** 二级菜单 **/
.second-menu {height:40px;line-height:40px;border-top:1px solid #e6e6e6;background:#f8f8f8;font-size:14px;}
.second-menu .second-menu-list {margin:auto;width:1190px;height:40px;}
.second-menu .second-menu-item {float:left;padding-right:32px;cursor: pointer;}
.second-menu .second-menu-item a {color:#666;display:block;cursor: pointer;}
.second-menu .second-menu-item.hover a {color:#3399ff;border-top:1px solid #3399ff;margin-top:-1px;}
.second-menu .second-menu-item:hover a {color:#3399ff;border-top:1px solid #3399ff;margin-top:-1px;}

/** 批量付款 **/
.batch-payment {position:relative;width:1188px;min-height:743px;border:1px solid #e6e6e6;margin:20px auto;overflow:hidden;}
.three-menu {float:left;width:218px;min-height:743px;line-height:48px;font-size:16px;border-right:1px solid #e6e6e6;position:relative;z-index:2;}
.three-menu .three-menu-item {height:48px;width:218px;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;cursor: pointer;position:relative;}
.three-menu .three-menu-item.three-menu-item-first {border-top:0;}
.three-menu .three-menu-item.three-menu-item-last {border-bottom:1px solid #e6e6e6;}
.three-menu .three-menu-item a {display:block;padding-left:63px;color:#999;cursor: pointer;}
.three-menu .three-menu-item a .icon {position:absolute;width:20px;left:27px;top:17px;background:url(../images/icon-batch-payment.png) no-repeat;}
.three-menu .three-menu-item a .icon-1 {height:14px;background-position:0 0;}
.three-menu .three-menu-item a .icon-2 {top:13px;height:20px;background-position:0 -18px;}

/** 单笔付款 三级菜单 **/
.three-menu .three-menu-item.single-transfer a {padding-left:76px;}
.three-menu .three-menu-item.single-transfer a .icon {left:42px;background:url(../images/icons_Sprites.png) no-repeat;}
.three-menu .three-menu-item.single-transfer a .icon-3 {height:17px;top:13px;background-position:-23px 0;}
.three-menu .three-menu-item.single-transfer a .icon-4 {height: 14px;top: 16px;background-position:-23px -19px;}
.three-menu .three-menu-item.single-transfer a .icon-5 {height:17px;top: 15px;background-position:-23px -35px;}

.three-menu .three-menu-item.hover {border-right:1px solid #fff;}
.three-menu .three-menu-item.hover a {color:#3399ff;}
.three-menu .single-transfer.hover a .icon-3{background-position: 0 0;}
.three-menu .single-transfer.hover a .icon-4{background-position: 0px -19px;}
.three-menu .single-transfer.hover a .icon-5{background-position: 0 -35px;}

/** 批量转账内容 **/
.batch-payment .content {position:relative;float:left;width:929px;min-height:713px;padding:14px 20px 0;border-left:1px solid #e6e6e6;margin-left:-1px;z-index:1}
.batch-payment .content .loading-img{position:fixed;width: 50px;height:50px;top: 50%;left: 50%;margin:-25px 0 0 -25px;z-index: 9999;display: none;}
.batch-payment .content .bank-id-search {height:34px;line-height:34px;padding:0 24px;border:1px solid #e6e6e6;display:inline-block;color:#999;font-size:16px;border-radius:3px;cursor:pointer;}
.batch-payment .content .table-result {width:929px;overflow-x:auto;}

/** 上传文件 **/
.batch-payment .content .upload-file {margin-top:20px;width:929px;height:535px;}
.batch-payment .content .upload-file .batch-transfer{float:left;width:456px;height:535px;border:1px solid #e6e6e6;color:#999;}
.batch-payment .content .upload-file .batch-transfer .title {height:59px;line-height:68px;text-align:center;background:#f8f8f8;font-size:20px;color:#666;}
.batch-payment .content .upload-file .batch-transfer .select-file {padding-top:90px;}
.batch-payment .content .upload-file .batch-transfer .select-file .select-file-opera {height:36px;width:456px;line-height:34px;}
.batch-payment .content .batch-transfer .select-file-opera span{float:left;font-size:16px;color:#666;padding-left:21px;}
.batch-payment .content .batch-transfer .select-file-opera input{margin-left:14px;float:left;width:208px;height:34px;border:1px solid #ccc;}
.batch-payment .content .batch-transfer .select-file-opera .up {margin-left:20px;border-radius:3px;cursor:pointer;position:relative;float:left;width:60px;height:34px;text-align:center;line-height:34px;border:1px solid #c2c2c2;font-size:16px;}
/*
.batch-payment .content .batch-transfer .select-file-opera .up input {cursor:pointer;z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);margin-left:0;}
*/
.batch-payment .content .batch-transfer .tips {font-size:14px;padding-left:136px;margin-top:9px;}
.batch-payment .content .batch-transfer .down-template {font-size:16px;margin-top:20px;}
.batch-payment .content .batch-transfer .down-template a {color:#3399ff;border-bottom:2px solid #3399ff;}
.batch-payment .content .batch-transfer .agree-payment {display:block;margin:49px 0 0 136px ;width:110px;height:30px;font-size:14px;font-weight:bold;color:#fff;background:#ffb433;border-radius:2px;text-align:center;line-height:30px;}
.batch-payment .content .upload-file .batch-to-bank-card {margin-left:13px;}

/** 更多信息介绍 **/
.batch-payment .content .more {margin-top:69px;padding-left:197px;font-size:16px;text-align:center;color:#999;height:20px;line-height:17px;}
.batch-payment .content .more a{float:left;color:#3399ff;border-bottom:2px solid #3399ff;margin-right:19px;}
.batch-payment .content .more span{float:left;}
.batch-payment .content .more .dividing-line{float:left;width:2px;background:#999;height:19px;margin-right:29px;}

/** 信息警告 **/
.batch-payment .warning {text-align:center;margin-top:194px;}
.batch-payment .warning span {position:relative;padding-left:21px;font-size:14px;line-height:16px;}
.batch-payment .warning span:before {position:absolute;left:0;top:0;content:"";width:15px;height:15px;background:url(../images/icon-batch-payment.png) no-repeat;background-position:0 -40px;}
.batch-payment .to-certification {font-size:16px;border-radius:2px;margin:20px auto 0;display:block;width:179px;height:40px;line-height:40px;background:#ffab19;color:#fff;font-weight:bold;text-align:center;}

.warn {color:red;line-height:20px;height:20px;font-size:12px;padding-left:73px;overflow:hidden;visibility: visible;}
.warn li {float:left;}
.warn li.bank-name {width: 310px;height: 20px;}
.warn li.prov {width: 155px;height: 20px;}
.warn li.city {width: 185px;height: 20px;}
.warn li.sub-bank {width: 170px;height: 20px;}

/** 行号查询弹窗 **/
 /*{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);display:none;}
 {position:absolute;left:255px;top:140px;width:882px;height:308px;border:6px solid #b2b2b2;background:#fff;color:#666;font-size:14px;display:none;}*/
 .batch-transfer .title {position:relative;height:35px;line-height:35px;font-size:14px;font-weight:bold;padding:0 10px;background:#f8f8f8;border:1px solid #ccc;}
 .batch-transfer .title .close {position:absolute;right:20px;top:12px;width:12px;height:12px;background:url(../images/icon-batch-payment.png) no-repeat;background-position: 0px -57px;}
 .search-condition-result {padding:10px 30px 21px;}
 .search-condition {height:30px;line-height:30px;}
 .search-condition.z-index{position: relative;z-index: 9;}
 .search-condition .span{float:left;width:66px;text-align:right;}
 .search-condition .out {float:left;}
 .search-condition .out {position:relative;height:28px;border:1px solid #ccc;padding-left:4px;}
 .search-condition .out.error {border:1px solid red;}
 .search-condition .bank-name {margin:0 48px 0 6px;width:184px;}
 .infor-list {position:absolute;left:-1px;width:500px;top:28px;padding:20px 10px;background:#fff;border:1px solid #ccc;font-size:14px;z-index:99;}
 .infor-list b.close {position:absolute;right:6px;top:0px;cursor: pointer;color:#999;}
 .infor-list .letter-search {text-align:center;height:29px;width:100%;border-bottom:1px solid #333;color:#999;}
 .infor-list .letter-search-item {float:left;width:78px;height:28px;line-height:28px;margin-right:20px;border:1px solid #ccc;border-bottom:0;cursor: pointer;}
 .infor-list .letter-search-item.active {border:1px solid #333;border-bottom:1px solid #fff;color:#333;}
 .infor-list .letter-search-item:last-child {margin-right:0;}
 .infor-list .infor-name-list {padding-top:10px;max-height:300px;overflow-y: auto;}
  .infor-list .infor-name-list .infor-name-item {position:relative;padding-left:46px;}
  .infor-list .infor-name-list .infor-name-item span {padding:0px 10px;cursor:pointer;display:inline-block;}
  .infor-list .infor-name-list .infor-name-item span:hover {background:#ffb433;color:#fff;}
  .infor-list .infor-name-list .infor-name-item span.span-first {position:absolute;left:0;top:0;margin-right:6px;}


 .search-condition .out .icon-down {cursor:pointer;position:absolute;right:0px;top:2px;width:8px;height:4px;border:10px solid #fff;background:url(../images/icon-batch-payment.png) no-repeat;background-position:0 -71px;}
 .search-condition .out input {float:left;width:84%;outline: none;height:28px;border:0;line-height:30px;font-size:14px;margin-left: -4px;padding-left: 3px;}
 .search-condition .prov {margin:0 10px 0 6px;width:140px;}
 .search-condition .city {width:180px;}
 .search-condition .city-list .infor-name-list .infor-name-item {padding-left:0;}
 .search-condition .sub-bank {position:relative;left:6px;width:450px;}
 .search-condition .sub-bank input {width:94%;}
 .search-condition .out .input-alert-list {position:absolute;top:28px;left:-1px;width:100%;border:1px solid #ccc;background:#fff;max-height:150px;overflow-y: auto;}
 .search-condition .out .input-alert-item {padding-left:4px;cursor:pointer;}
 .search-condition .out .input-alert-item:hover {background:#ffb433;color:#fff;}



 .btn-search {cursor:pointer;margin-left:95px;float:left;width:100px;height:30px;line-height:30px;text-align:center;border-radius:2px;background:#ffb433;font-size:14px;color:#fff;}
 .line {margin-top:20px;color:#eee;overflow:hidden;height:1px;line-height:1px;}
 .search-result {margin-top:29px;width:100%;text-align:center;}
 .search-result thead tr{background:#dce9f5;height:41px;line-height:41px;}
 .search-result tbody tr td{border:1px solid #ccc;height:48px;line-height:48px;color:#333;}
 .search-result tbody tr td.first-td {border-right:0;}
 .search-result tbody tr td.last-td {border-left:0;}


/** 提示消息 **/
.prompt {padding-top:224px;font-size:16px;}
.prompt p {padding-left:333px;}
.prompt p span {position:relative;}
.prompt p span i.icon-warn {width:15px;height:15px;display:inline-block;background:url(../images/icons_Sprites.png) no-repeat;background-position:-111px 0;margin-right:6px;vertical-align: middle;}
.prompt .a-btn {text-align:center;margin-top:20px;}
.prompt .a-btn a  {width:179px;height:40px;display:inline-block;border-radius:2px;line-height:40px;color:#fff;font-weight:bold;background:#ffab19;}
.prompt .a-btn a.left {color:#fff;font-weight: normal;font-size:14px;height:32px;width:121px;line-height:32px;}
.prompt .a-btn a.right {color:#fff;font-weight: bold;height:30px;width:119px;border:1px solid #999;margin-left:19px;font-size:14px;color:#999;line-height:32px;background:#fff;}
.prompt .a-btn a:hover {background-color:#fcbc4e;}
.prompt .a-btn a.right:hover {background-color:#eee;}
.prompt h2 {height:48px;line-height:48px;font-size:24px;padding-left:264px;margin:0 auto 20px;}
.prompt h2 span {margin-left:20px;}
.prompt .right-arrow {float:left;width:48px;height:48px;display:inline-block;background:url(../images/tipIcon.png) no-repeat -70px 0px;}

/** 转账步骤 **/
.axis-step {margin:10px 19px 0 10px;padding-left:45px;height:54px;border-bottom:2px solid #ddd;color:#999;font-size:16px;}
.axis-step .step {float:left;width:215px;padding-left:25px;position:relative;height:54px;line-height:40px;}
.axis-step .step span {font-size:18px;color:#fff;text-align:center;line-height:32px;width:30px;height:62px;position:absolute;left:-15px;top:0;background:url(../images/icons_Sprites.png) no-repeat;background-position:-79px 0;}
.axis-step .step.active {color:#333;}
.axis-step .step.active span{background-position:-47px 0;}
.axis-step .step.hasActive {border-bottom:2px solid #b2d9ff;}
.axis-step .step.hasActive span {background-position:-47px -68px;}
.axis-step .last-step {width:110px;}

.account-type {margin-top:56px;height:36px;line-height:36px;font-size:16px;}
.account-type span {width:250px;display:inline-block;text-align:right;}
.account-type .radio {margin-right:6px;width:15px;height:15px;background:url(../images/icons_Sprites.png) no-repeat -109px -27px;;position:relative;top:2px;display:inline-block;}
.account-type .radio.active {background-position:-124px -27px;}
.account-type .person {margin-left:17px;}
.account-type .company {margin-left:30px;}

.input-list .input-item {font-size:16px;margin-top:19px;position:relative;line-height:40px;}
.input-list .input-item .radio {margin-left: 17px;margin-right:6px;width:15px;height:15px;background:url(../images/icons_Sprites.png) no-repeat -109px -27px;position:relative;top:2px;display:inline-block;}
.input-list .input-item .radio.active {background-position:-124px -27px;}
.input-list .input-item .warn-img {position:relative;top:2px;margin-left:4px;width:16px;height:16px;display:inline-block;}
.input-list .input-item .warn-img.active {background:url(../images/tipIcon.png) no-repeat;background-position:-182px -70px;}
.input-list .input-item .warn-con {position: absolute;
    left: 267px;
    top: 40px;
    background: #fff;
    z-index: 1;
    line-height: 20px;
    width: 360px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #999;
    padding: 10px;
}
.input-list .input-item .warn-con.person-real-time-acc {width: 113px;left: 298px;}
.input-list .input-item .warn-con.person-common-acc {width: 117px;left: 424px;}
.input-list .input-item .warn-con.person-morrow-acc {width: 117px;left: 552px;}
#personOtherBankLi {margin-top:0;padding-top:19px;}
.input-list .input-item.account-name {overflow:visible;}
.input-list .input-item .input-title {width:250px;display:inline-block;text-align:right;float:left;height:40px;line-height:40px;}
.input-list .input-item .input {width:360px;height:38px;line-height:38px;border:1px solid #ccc;margin-left:17px;font-size:14px;padding-left:10px;margin-right:20px;float:left;}
.input-list .input-item .input.err {border:1px solid red;}
.input-list .input-item .input.prov {width:98px;}
.input-list .input-item .input.city {width:230px;margin-left:0;}
.input-list .input-item .arrow-down {position:absolute;width:8px;height:4px;margin-left:-50px;background:url(../images/icons_Sprites.png) no-repeat -77px -64px;top:8px;cursor: pointer;border:10px solid #fff;background-color:#fff;}
.input-list .input-item .font {float:left;height:40px;line-height:40px;color:#333;}
.input-list .input-item .a-font {color:#3399ff;text-decoration: underline;cursor: pointer;}
/*.input-list .input-item .history {}*/
.history-record {position:absolute;width:347px;max-height:390px;border:1px solid #ddd;background:#fff;left:500px;top:42px;z-index:9;color:#999;}
.history-record .header {height:39px;line-height:39px;background:#f4f4f4;font-size:16px;text-align:center;border-bottom:1px solid #e3eaf1;position:relative;}
.history-record .header .close {position:absolute;width:11px;height:11px;top:13px;right:9px;background:url(../images/icons_Sprites.png) no-repeat -111px -16px;cursor: pointer;}
.history-record ul {max-height:350px;overflow-y:auto;}
.history-record .record-item {line-height:34px;border-bottom:1px solid #ddd;padding-left:20px;font-size:12px;cursor: pointer;}
.history-record .record-item .con {width:250px;display:inline-block;}
/*.history-record .record-item .oper {width:80px;display: inline-block;}*/
.history-record .record-item .oper.hide {display:none;}
.history-record .record-item:hover {background:#dfefff;}
.history-record .record-item a{color:#39f;}
.input-list .input-item p {padding-left:268px;font-size:14px;color:#666;line-height:20px;}
.input-list .input-item p.sms {height:20px;line-height:20px;}
.input-list .input-item p.warn {color:red;}
.input-list .input-item .yfb-acc-warn {height: 24px;line-height: 24px;font-size: 14px;margin-left: 267px;background: #ffedc7;width: 360px;border: 1px solid #f9c78b;color: #ea6e00;padding-left: 10px;}
.input-list .input-item p.city-warn {padding-left:524px;}
.input-list .input-item p.surplus-num {margin-top:4px;color:#999;line-height:20px;}
.input-list .input-item .checkbox {position:relative;top:1px;margin-right:5px;width:13px;height:13px;display:inline-block;background:url(../images/icons_Sprites.png) no-repeat -126px 0 ;cursor: pointer;}
.input-list .input-item .checkbox.checkon {background-position:-126px -14px;}
.input-list .btn {padding:50px 0 30px;padding-left:267px;}
.input-list .btn .next-step {width:119px;height:30px;line-height:30px;border-radius:2px;border:1px solid #999;color:#999;text-align:center;display:inline-block;font-size:16px;}
.input-list .btn .next-step.active {color:#fff;background:#ffab19;border:1px solid #ffab19;cursor: pointer;}
.input-list .btn .next-step.active:hover {background:#fcb943;border:1px solid #fcb943;}

.keyup-list {position:relative;left:267px;width:100%;width:370px;max-height:200px;border:1px solid #ddd;overflow-y:auto;font-size:14px;cursor: pointer;}
.keyup-list li {padding-left:10px;height:40px;line-height:40px;}
.keyup-list li:hover {background:#dfefff;}

/* 选择银行 */
.banksHtml {position: absolute;left: 267px;top: 9px;display:none;}
.sle-banks{display:block;position:absolute;top:30px;left:0px;width:500px;padding-bottom:10px;background:#fff;border:1px solid #cacaca;z-index:99999;}
.dialog_line a{color: #3399ff;}
.sle-banks .title{width:477px;height:22px;margin:0px auto 10px;padding:10px 0px 0px 3px;border-bottom:1px solid #cacaca;}
.sle-banks .title a{position:relative;top:1px;_top:2px;display:inline;float:left;width:60px;height:21px;line-height:22px;margin-right:4px;overflow:hidden;color:#999;text-align:center;border:1px solid #cacaca;border-bottom:none;font-size:14px;}
.sle-banks .title a:hover{color:#333;text-decoration:none;}
.sle-banks .title a.foc{ position:relative;top:0px;_top:1px;height:22px;_height:23px;color:#333;background:#fff;}
.sle-banks .close{position:absolute;width:12px;height:12px;right:10px;cursor:pointer;display:block;font:bold 14px/35px simsun;color: #999;}
.sle-banks .con{display:none;padding-left:5px;max-height:300px;overflow-y: scroll;}
.sle-banks .img a{float:left;border:1px solid #fff;}
.sle-banks .img a:hover{border:1px solid #6cb1d2;}
.sle-banks .con dl{float:left;}
.sle-banks .con dt{float:left;width:35px;padding-top:3px;padding-top:2px\9;color:#f70;font-weight:bold;text-indent:20px;}
.sle-banks .con dd{float:left;width:440px;}
.sle-banks .con dd a{float:left;padding:2px 5px 1px 5px;color:#333;white-space:nowrap;word-warp:normal;}
.sle-banks .con dd a:hover{color:#fff;text-decoration:none;background:#f70;}

/*信息展示*/
.sub-msg-show {margin-top:114px;}
.sub-msg-show li {line-height:38px;font-size:14px;}
.sub-msg-show li span.trans-remark-left {float:left;}
.sub-msg-show li span.trans-remark-right {display: inline-block;float: left;width: 520px;line-height: 24px;padding-top: 6px;}
.sub-msg-show li .title {display:inline-block;width:402px;text-align:right;color:#666;font-size:16px;}
.sub-msg-show li a {display:inline-block;text-align:center;line-height:32px;width:119px;height:30px;border-radius:4px;cursor: pointer;}
.sub-msg-show li .btn-sure {color:#fff;background:#ffab19;border:1px solid #ffab19;}
.sub-msg-show li .btn-sure:hover {background:#fcb943;border:1px solid #fcb943;}
.sub-msg-show li .btn-back {border:1px solid #ccc;color:#666;margin-left:20px;color:#999;}
.sub-msg-show li .btn-back:hover {background:#fefdfc;}
.sub-msg-show .remind {font-size:12px;}
.sub-msg-show .remind i {position:relative;top:1px;margin-right:5px;display:inline-block;width:12px;height:12px;background:url(../images/icons_Sprites.png) no-repeat -77px -72px;}
/** 省弹窗 **/
.input-item .infor-list {left:267px;top:39px;z-index:9;}
.input-item .infor-list .infor-name-list .infor-name-item span:hover {background:#3399ff;color:#fff;}
.input-item .infor-list .infor-name-list .infor-name-item span.span-first:hover {background:#fff;color:#333;}
/** 下拉input keyup 数据 **/
.keyup-down-list {position:relative;top:0px;border:1px solid #ccc;max-height:200px;overflow-y:auto;cursor: pointer;}
.keyup-down-list li {line-height:40px;padding-left:10px;font-size:14px;}
.keyup-down-list li:hover {background:#3399ff;color:#fff;}
.city-down-list {position: relative;left: 397px;width: 240px;}
.sub-bank-down-list {left:267px;width:370px;}

/** 下拉定位 **/
#pullDownBanks {left:660px;}
#provDown {left:398px;}

/** 单笔交易查询 start **/
.z-index {z-index:2;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.cond-sel {width:100%;font-size:14px;color:#666;}
.cond-sel td {position:relative;height:50px;vertical-align: top;}
.cond-sel input {height:28px;line-height:28px;border:1px solid #ccc;width:148px;padding-left:10px;font-size:14px;color:#999;}
.cond-sel input:focus {border:1px solid #4ca6ff;box-shadow: 0px 0px 2px #4ca6ff;}
.cond-sel .trans-type input {width:248px;}
.cond-sel .warns td{height:20px;}
.cond-sel td .arrow-down {position:absolute;top:3px;right:1px;width:8px;height:4px;background:url(../images/icons_Sprites.png) no-repeat -77px -64px;cursor: pointer;border:10px solid #fff;background-color:#fff;}
.cond-sel .trans-type .arrow-down {right:41px;}
.cond-sel .in-sel {display:none;position:absolute;width:158px;border:1px solid #ccc;left:0;top:30px;border-top:0;z-index: 1;background:#fff;color:#333;cursor: pointer;}
.cond-sel .trans-type .in-sel {width:258px;}
.cond-sel .in-sel li {line-height:30px;padding-left:10px;}
.cond-sel .in-sel li:hover {color:#fff;background:#4ca6ff;}

.cond-sel .sel-time input {float:left;width:108px;background:url(../images/icon_tip.png) no-repeat 90px -173px;}
.cond-sel .sel-time span {float:left;margin:0 3px;height:30px;line-height:26px;color:#ccc;}
.cond-sel .down-time {float:left;width:28px;height:28px;border:1px solid #ccc;margin-left:8px;position:relative;}
.cond-sel .down-time .in-sel {border-top:1px solid #ccc;left: -131px;top: 28px;}
.cond-sel .down-time .arrow-down {right:0;}
.cond-sel .down-time.active {background:#f8f8f8;}
.cond-sel .down-time.active .arrow-down {border:10px solid #f8f8f8;}
.cond-sel .btn {width:100px;height:30px;line-height:30px;}



.result-list {width:100%;margin-top:30px;font-size:14px;border: 1px solid #ccc;}
.result-list thead {color:#666;}
.result-list thead tr td {height:40px;line-height:40px;background:#dce9f5;text-align:center;}
.result-list tbody {border:1px solid #ccc;}
.result-list tbody tr td {padding:10px 0px;text-align:center;border-top: 1px solid #ccc;}
.result-list td .td-warn {display:inline-block;width:16px;height:16px;background:url(../images/tipIcon.png) no-repeat;background-position: -182px -70px;position:relative;top:3px;margin-right:6px;}
.result-list tbody tr td a {text-decoration: underline;color:#3399ff;}
.result-list .bg-grey {background-color: rgb(240, 244, 255);}
.c-red {color:#ff5555;}
.c-green {color:#3cb200;}
.c-blue {color:#3399ff;}
.c-grey {color:#999;}

.page {padding:20px 0 0;line-height:28px;text-align:right;height: 60px;}
.page .posi-right {text-align:center;display:inline-block;line-height: 30px;}
.page .border {border:1px solid #ccc;}
.page .page-num {width:30px;height:28px;}
.page .fl {color:#333;margin-left:5px;}
.page .m-left {margin-left:30px;}
.page .input-num {text-align:center;line-height: 30px;}
.page .goto {width:48px;background:#e8e8e8;	}
.page a:hover {color:#f70;}
.page a.active {border:1px solid #fff;font-weight:bold;}
.page .fl.disable {color:#ccc;}
.page .fl.disable:hover {color:#ccc;}
.page .prev-page,.page .next-page {width:68px;}
.page .page-num i {display:inline-block;width:4px;height:8px;background:url(../images/icons_Sprites.png) no-repeat;}
.page .prev-page i {background-position:-93px -64px;margin-right:5px;}
.page .prev-page.disable i {background-position:-85px -64px;}
.page .next-page i {background-position:-89px -64px;margin-left:5px;}
.page .next-page.disable i {background-position:-97px -64px;}

.kindly-reminder {padding-top:60px;text-align:center;}
.kindly-reminder p {height:24px;line-height:24px;}
.kindly-reminder p span {height:24px;display:inline-block;}
.kindly-reminder .icon {float:left;width:24px;height:24px;display:inline-block;margin-right:4px;background:url(../images/icons_Sprites.png) no-repeat -115px -90px;}
.kindly-reminder .icon-right {background-position: -109px -66px;}
.kindly-reminder .icon-error {background-position: -109px -42px;}
.kindly-reminder .btns {margin:20px 0 30px;}
.kindly-reminder .btns a {display:inline-block;width:98px;height:38px;line-height:38px;border:1px solid #ffb433;background:#ffb433;border-radius:3px;font-size:16px;font-weight:bold;}
.kindly-reminder .btns a.sure {color:#fff;}
.kindly-reminder .btns a.can {background:#fff;color:#333;border:1px solid #ccc;margin-left:20px;}

.fixed-tips {display:none;position:fixed;top:50%;left:50%;margin-left:-87px;margin-top:-25px;width:173px;height:36px;padding-top:12px;border:1px solid #ccc;background:#fff;border-radius:4px;box-shadow: 2px 2px 4px 0px #ccc;text-align:center;-webkit-box-shadow: 2px 2px 4px 0px #ccc;-ms-box-shadow: 2px 2px 4px 0px #ccc;-moz-box-shadow: 2px 2px 4px 0px #ccc;}
.fixed-tips span {display:inline-block;line-height:24px;}
.fixed-tips .right {display:inline-block;width:24px;height:24px;position:relative;background:url(../images/icons_Sprites.png) no-repeat -109px -66px;margin-right:10px;}


.dialog-show {position:relative;}
.dialog-show p {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.dialog-show .show-all {position:absolute;width:180px;left: -125px;bottom: 26px;display: none;z-index: 9;}
.dialog-show .show-all .con {width:154px;padding: 6px 12px;border: 1px solid #c0e0ff;text-align: left;background-color: #eef7ff;word-wrap: break-word;}
.show-all .down-arrow {width: 180px;height: 6px;background: url(../images/case-border.png) no-repeat;overflow: hidden;background-position:-60px;z-index: 100;}

.order-id {width:52px;}
.trans-to {width:30px;}
.up-down-arrow {display:inline-block;width:14px;height:14px;background:url(../images/index.png) no-repeat;vertical-align: middle;margin-left:4px;transition:all 0.4s;-webkit-transition:all 0.4s;-ms-transition:all 0.4s;-moz-transition:all 0.4s;}
.up-down-arrow.active {background-position:0px -15px;}

/** 单笔交易查询 end **/

