@import url("reset.css");
@import url("common.css");
@import url("snpage.css");
.banner{
	width: 1190px;
	height: 80px;
	margin: 0 auto;
}
.banner img{
	margin-top: 25px; 
}
.wrap{
	width: 100%;
	font-family: "microsoft yahei";
	background: #f8f8f8;
}
.wrap .wrap-title{
	width: 1190px;
	margin: 0 auto;
	height: 42px;	
}
.wrap .wrap-title p{
	float: left;
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin-top: 13px;
	padding-left: 12px;
	border-left: 5px solid #ffab19;
}
.content-wrap .content{
	width: 1188px;
	min-height: 518px;
	border: 1px solid #ececec;
	margin: 18px auto 0;
}
.content-wrap .content .left-tab{
	float: left;
	width: 219px;
	min-height: 518px;
	position: relative;
	z-index: 9;
}
.content-wrap .content .left-tab li{
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	border-bottom: 1px solid #ececec;
	cursor: pointer;
}
.content-wrap .content .left-tab li.cur{
	width: 219px;
	color: #3399ff;	
	border-right: 1px solid #ffffff;
}
.content-wrap .content .left-tab li i{
	float: left;
	width: 18px;
	margin: 18px 20px 0 40px;
}
.content-wrap .content .left-tab li i.icon-1{
	height: 13px;
	background: url(../images/msg01.png) no-repeat center;
}
.content-wrap .content .left-tab li i.icon-2{
	height: 16px;
	background: url(../images/msg02.png) no-repeat center;
}
.content-wrap .content .left-tab li i.icon-3{
	height: 13px;
	background: url(../images/msg03.jpg) no-repeat center;
}
.content-wrap .content .left-tab li i.icon-4{
	height: 16px;
	background: url(../images/msg04.png) no-repeat center;
}
.content-wrap .content .main-cont{
	float: left;
	width: 968px;
	min-height: 518px;
	border-left: 1px solid #ececec;
	padding-bottom: 33px;
}
.content-wrap .content .main-cont .cont-tab{
	margin: 10px 40px 0 40px;
	border-bottom:1px solid #f3f3f3;
}
.content-wrap .content .main-cont .cont-tab span{
	float: left;
	font-size: 16px;
	color: #666;
	margin-right: 20px;
	padding: 10px 0;
	cursor: pointer;
}
.content-wrap .content .main-cont .cont-tab span.cur{color: #333333;border-bottom: 2px solid #ffab19;}
.content-wrap .content .main-cont ul{padding: 20px 40px;}
.content-wrap .content .main-cont ul li{border-bottom: 1px dashed #e6e6e6;padding: 10px 0;}
.content-wrap .content .main-cont ul li .msg-title{font-size: 16px;font-weight:bold ;color: #333;}
.content-wrap .content .main-cont ul li .msg-cont{max-height:63px;font-size: 14px;color: #666;padding: 5px 0;overflow: hidden;}
.content-wrap .content .main-cont ul li .msg-more a{color: #3399ff;font-size: 14px;}
.content-wrap .content .main-cont ul li .msg-date{font-size: 14px;color: #999;padding: 5px 0;}
.hide{display: none;}
/*查询等待模板 [[*/
.content-wrap .content .main-cont ul.wait-wrap{
	padding: 200px 0;
}
.content-wrap .content .main-cont ul.wait-wrap .wait{
	border-bottom: none;
}
/*查询等待模板 ]]*/
/*空模板 [[*/
.content-wrap .content .main-cont .empty-info{
	width: 360px;
	margin: 0 auto;
	padding: 180px 0;
}
.content-wrap .content .main-cont .empty-info img{
	float: left;
}
.content-wrap .content .main-cont .empty-info .desc{
	width: 200px;
	float: left;
}
.content-wrap .content .main-cont .empty-info .desc .row01{
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	padding: 45px 0 15px 30px;
}
.content-wrap .content .main-cont .empty-info .desc .row02{
	float: left;
	font-size: 12px;
	color: #666;
	padding-left: 30px;
}
.content-wrap .content .main-cont .empty-info .desc .row02 a{
	color: #3399ff;
}
/*空模板 ]]*/