@import url(reset.css);
@import url(ECode.calendar.css);
input::-ms-clear { display: none; } 
.my-launch-wrap {
	margin: 20px auto 0 auto;
	width: 1188px;
	border: 1px solid #ececec;
	font-family: "Microsoft Yahei";
}

.my-launch-wrap .search-wrap {
	padding: 20px;
}
.my-launch-wrap .search-wrap .search-item {
	float: left;
	width: 574px;
	height: 50px;
}
.my-launch-wrap .search-wrap .search-key {
	float: left;
	width: 94px;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
	color: #666;
}
.my-launch-wrap .search-wrap .search-val {
	float: left;
}
.search-wrap .search-btn {
	margin-left: 94px;
	display: block;
	width: 100px;
	height: 30px;
	background-color: #ffb433;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	font-size: 14px;
	*margin-left: 104px;
}
.search-wrap .search-btn:hover {
	text-decoration: none;
}

.empty {
    color: #999;
}
.input-box {
	outline: none;
    width: 278px;
    height: 28px;
    border: 1px solid #CCC;
    text-indent: 10px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
	color: #333;
}

.select-box-input {
	outline: none;
    width: 278px;
    height: 28px;
    border: 1px solid #CCC;
    text-indent: 10px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    background: url(../images/icon_white_arrow.png) 260px 12px no-repeat;
	cursor: pointer;
	color: #333;
}
.select-box-wrap {
	display: none;
	overflow: hidden;
	position: relative;
	top: -1px;
	width: 278px;
	border: 1px solid #BBB;
	background-color: #FFF;
	font-size: 14px;
	z-index: 2;
	*left:10px;
}
.nomargin{
	*left:5px;
}
.select-box-wrap .sel-val {
	display: block;
	width: 100%;
	height: 32px;
	text-indent: 10px;
	color: #333;
	line-height: 32px;
}
.select-box-wrap .sel-val:hover {
	color: #FFF;
	background-color: #4ca6ff;
	text-decoration: none;
}

.search-result-wrap {
	padding: 19px;
}

.info-icon-24 {
	float: left;
	width: 24px;
	height: 24px;
	background: url(../images/tipIcon.png) -156px -70px no-repeat;
}

.success-icon-24 {
	float: left;
	width: 24px;
	height: 24px;
	background: url(../images/tipIcon.png) -156px 0 no-repeat;
}


/* 列表 start */
.my-launch-wrap {
	height: 900px;
	font-family: "Microsoft Yahei", Arial, Tahoma, "Simsun";
}
.my-launch-wrap .search-wrap {
	margin: 10px 0 5px 0;
}
.my-launch-wrap .search-wrap .search-item {
	position: relative;
	line-height: 30px;
	font-size: 14px;
	z-index: 0;
}
.my-launch-wrap .search-wrap .search-item1 {
	z-index: 100;
}
.my-launch-wrap .search-wrap .search-item3 {
	z-index: 0;
}
.my-launch-wrap .search-wrap .search-item .err {
	position: absolute;
	bottom: -4px;
	height: 22px;
	left: 94px;
	font-size: 12px;
	color: #F00;
	line-height: 22px;
}
.my-launch-wrap .search-wrap .search-item .key {
	padding-right: 14px;
	float: left;
	width: 75px;
	text-align: right;
	color: #999;
}
.my-launch-wrap .search-wrap .search-item .value {
	float: left;
	padding: 5px 0;
	height: 20px;
}
.my-launch-wrap .search-wrap .search-item .value .condition {
	margin-left: 14px;
	padding: 0 8px;
	float: left;
    height: 20px;
    line-height: 20px;
    border: 0;
    color: #666;
    text-decoration: none;
    background-color: #FFF;
}
.my-launch-wrap .search-wrap .search-item .value .condition.on {
    color: #FFF;
    background-color: #FFA200;
}
.my-launch-wrap .search-wrap .search-item .sel-wrap {
	position: relative;
	float: left;
	width: 138px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ccc;
	color: #666;
	cursor: pointer;
}
.my-launch-wrap .search-wrap .search-item .sel-wrap .sel-input {
	padding-left: 10px;
	width: 126px;
	height: 26px;
	line-height: 26px;
	border: 0;
	cursor: pointer;
}
.my-launch-wrap .search-wrap .search-item .sel-wrap .arrow {
	position: absolute;
	top: 12px;
	right: 10px;
	border: 4px solid transparent;
	border-top-color: #ccc;
	line-height: 0;
	font-size: 0;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap {
	float: left;
	position: relative;
	z-index: 1;
	*margin-left: 5px;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap div {
	float: left;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap span {
	float: left;
	padding: 0 10px;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap input {
    padding: 0 0 0 10px;
    float: left;
    height: 28px;
    width: 118px;
    border: 1px solid #CCC;
    outline: none;
    line-height: 28px;
    font-size: 14px;
    background: url(../images/input_data.png) 102px 7px no-repeat;
    cursor: default;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap .to-line {
	margin: 0 5px;
	float: left;
	height: 14px;
	width: 10px;
	border-bottom: 1px solid #CCC;
}
.my-launch-wrap .search-wrap .search-item .search-btn {
	float: left;
	margin-left: 10px;
	overflow: hidden;
	zoom: 1;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #FFF;
	background-color: #F80;
	border-radius: 2px;
	text-align: center;
}
.my-launch-wrap .search-wrap .search-item .search-btn:hover {
	color: #FFF;
	text-decoration: none;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap .date-sel-wrap {
	position: relative;
	margin-left: 10px;
	float: left;
	width: 28px;
	height: 28px;
	border: 1px solid #CCC;
	cursor: pointer;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap .date-sel-wrap .arrow {
	display: block;
	position: absolute;
	top: 12px;
	left: 9px;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border: 5px solid transparent;
	border-top-color: #CCC;

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
.my-launch-wrap .search-wrap .search-item .date-range-wrap .date-sel-wrap.open .arrow {
	top: 7px;
	border: 5px solid transparent;
	border-bottom-color: #CCC;
}
.my-launch-wrap .search-wrap .search-item .sel-list-wrap {
	position: absolute;
	top: 29px;
	right: 0;
	width: 318px;
	line-height: 28px;
	border: 1px solid #ccc;
	color: #666;
	background-color: #FFF;
	cursor: pointer;
}
.my-launch-wrap .search-wrap .search-item .sel-list-wrap .sel-item {
}
.my-launch-wrap .search-wrap .search-item .sel-list-wrap .sel-item .a {
	display: block;
	width: 100%;
	height: 32px;
	text-indent: 10px;
	color: #333;
	line-height: 32px;
}
.my-launch-wrap .search-wrap .search-item .sel-list-wrap .sel-item .a:hover {
	color: #FFF;
	background-color: #4ca6ff;
	text-decoration: none;
}
.my-launch-wrap .search-wrap .search-item .data-range-select {
	margin-left: 94px;
}

.my-launch-wrap .search-result-wrap table {
	width: 1148px;
	border: 1px solid #eee;
}
.my-launch-wrap .search-result-wrap th {
	text-align: center;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666;
	background-color: #dce9f5;
}
.my-launch-wrap .search-result-wrap tr {
	height: 60px;
}
.my-launch-wrap .search-result-wrap tr.thead {
	height: 36px;
}
.my-launch-wrap .search-result-wrap td {
	font-family: "Microsoft Yahei";
	color: #666;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.my-launch-wrap .search-result-wrap td div {
	text-align: left;
}
.my-launch-wrap .search-result-wrap .order-no {
	padding-left: 20px;
	width: 180px;
	text-align: left;
}
.my-launch-wrap .search-result-wrap td.order-no {
	padding-left: 20px;
	text-align: left;
}
.my-launch-wrap .search-result-wrap .business-name {
	width: 60px;
	text-align: left;
}
.my-launch-wrap .search-result-wrap td.business-name {
	text-align: left;
}
.my-launch-wrap .search-result-wrap .price {
	padding-right: 30px;
	width: 130px;
	text-align: right;
}
.my-launch-wrap .search-result-wrap td.price {
	color: #F60;
}
.my-launch-wrap .search-result-wrap .apply-time {
	width: 120px;
	text-align: left;
}
.my-launch-wrap .search-result-wrap .apply-time .time {
	color: #999;
}
.my-launch-wrap .search-result-wrap .end-time {
	width: 120px;
	text-align: left;
}
.my-launch-wrap .search-result-wrap .end-time .time {
	color: #999;
}
.my-launch-wrap .search-result-wrap td.end-time {
	text-align: left;
}
.my-launch-wrap .search-result-wrap .promoter {
	text-align: left;
	width: 100px;
}
.my-launch-wrap .search-result-wrap .remarks {
	text-align: left;
	width: 180px;
	padding-right: 20px;
}
.my-launch-wrap .search-result-wrap td .remarks-detail {
	display:block;
	width: 180px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.my-launch-wrap .search-result-wrap .status {
	text-align: left;
	width: 90px;
}
.my-launch-wrap .search-result-wrap td.status {
	text-align: left;
}
.my-launch-wrap .search-result-wrap .operation {
	text-align: left;
	width: 100px;
}
.my-launch-wrap .search-result-wrap td.operation {
	text-align: left;
}
.my-launch-wrap .search-result-wrap td .operation-wrap {
	height: 30px;
}
.my-launch-wrap .search-result-wrap td.operation .detail {
	float: left;
	height: 30px;
	line-height: 30px;
}
.my-launch-wrap .search-result-wrap td.operation .revoke {
	float: left;
	height: 30px;
	line-height: 30px;
}
.my-launch-wrap .search-result-wrap td .splite-line {
	margin: 10px 9px 0 9px;
	/*display: inline-block;*/
	float: left;
	height: 12px;
	width: 1px;
	font-size: 0;
	border-left: 1px solid #CCC;
	overflow: hidden;
	zoom: 1;
}

.my-launch-wrap .search-result-wrap td.status {
	color: #3cb200;
}
.my-launch-wrap .search-result-wrap td.status {
	color: #3cb200;
}
.my-launch-wrap .search-result-wrap td.transfering {
	color: #F70;
}
.my-launch-wrap .search-result-wrap td.failure {
	color: #F55;
}
.my-launch-wrap .search-result-wrap td.normal {
	color: #333;
}
.empty-tpl {
	font-family: "Microsoft Yahei";
	height: 490px;
}
.empty-tpl .body {
	margin: 60px 0 0 445px;
	overflow: hidden;
}
.empty-tpl .unit {
	position: absolute;
	bottom: 45px;
	right: 50px;
	font-size: 14px;
	color: #999;
}
.empty-tpl .head .goto {
	float: right;
	padding-top: 3px;
	height: 72px;
	line-height: 72px;
}
.empty-tpl .body .person {
	display: block;
	margin: 60px auto 15px auto;     
	position: relative;
}
.empty-tpl .body .desc {
	padding-left: 10px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 24px;
	line-height: 24px;
}

.revoke-tpl .body .desc {
	padding-left: 10px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 24px;
	line-height: 24px;
}
.revoke-tpl .btn-wrap {
	margin-left: 140px;
	margin-bottom: 20px;
	overflow: hidden;
}
.revoke-tpl .btn-wrap .btn {
	margin-right: 20px;
	float: left;
	overflow: hidden;
	font-size: 16px;
	text-align: center;
	border-radius: 2px;
}
.revoke-tpl .btn-wrap .btn.ok {
	height: 30px;
	width: 100px;
	background-color: #ffb433;
	color: #FFF;
	line-height: 30px;
}
.revoke-tpl .btn-wrap .btn.cancel {
	height: 28px;
	width: 98px;
	border: 1px solid #CCC;
	background-color: #FFF;
	color: #333;
	line-height: 28px;
}
.revoke-tpl .btn-wrap .btn:hover {
	text-decoration: none;
}

.revoke-tpl {
	font-family: "Microsoft Yahei";
}
.revoke-tpl .body {
	margin: 50px 0 40px 162px;
	overflow: hidden;
}
.revoke-tpl .body .desc {
	padding-left: 10px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 24px;
	line-height: 24px;
}
/* 列表 end */


/* 填充的空白行 start */
.m-result .blank{
	height: 22px;
}

.m-result .no-result-td, .m-result .wait-td {
	height:270px;
	border-bottom: 0;
}
.m-result .no-result, .m-result .wait{
	height:270px;
}
.m-result .no-result .info, .m-result .wait .info{
	margin-top: 120px;
	margin-left: 460px;
	height:32px;
	line-height: 32px;
	font-family: "Microsoft Yahei";
}

.m-result .no-result i{
	display: block;
	margin-right: 10px;
	float:left;
	width:32px;
	height: 32px;
	overflow: hidden;
	background:url(../images/sprite.png) 0px -14px no-repeat;
}

.m-result .wait img{
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	float:left;
	overflow: hidden;
}

.m-result .wait i{
	display: block;
	margin-right: 10px;
	float:left;
	width:32px;
	height: 32px;
	overflow: hidden;
	background:url(../images/sprite.png) 0px -14px no-repeat;
}
/* 填充的空白行 end */

/* 弹出层 start */
.filter {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: .6;
	z-index: 100; 
}
.pop-layer {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	width: 736px;
	border: 6px solid #b2b2b2;
	background: #FFF; 
	font-family: "Microsoft Yahei", Arial, Tahoma, "Simsun";
}
.pop-layer .title {
	height: 30px;
	padding: 0 45px 0 18px;
	background: #ebf2fa;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	line-height: 41px; 
}
.pop-layer .name {
	color: #333;
	font-size: 14px; 
	line-height: 30px;
	font-weight: bold;
}
.pop-layer .more {
	float: right;
	color: #3399ff; 
}
.pop-layer .more:hover {
	color: #ff7700; 
}
.pop-layer .close {
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 24px;
	color: #666;
	line-height: 18px; 
}
.pop-layer .close:hover {
	text-decoration: none; 
}
.pop-layer .pop-body {
	padding: 15px 18px;
	max-height: 640px;
}
.pop-layer .btn-box {
	padding: 0 20px 25px;
	text-align: center; 
}
.pop-layer .btn-box .button-define{margin: 0 15px;}
/* 弹出层 end */


/* simple start */
.simple {
	background: #FFF;
	font-family: "Microsoft Yahei", Arial, Tahoma, "Simsun";
}

.simple .head {
	height: 77px;
	border-bottom: 2px solid #ebf0f6;
}
.simple .head .title {
	margin-top: 37px;
	float: left;
	overflow: hidden;
	zoom: 1;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}
.simple .head .title-1 {
	float: left;
	font-weight: bold;
	color: #666;
}
.simple .head .title-2 {
	float: left;
	color: #333;
}
.simple .goto-wrap {
	float: right;
	padding-top: 45px;
	line-height: 30px;
}
/* simple end */

/* 分页 start */
.m-paginate {
	margin-top: 20px;
    float:right;
    height:26px;
    overflow: hidden;
    zoom: 1;
}
.m-paginate .previous{
    position: relative;
    width:63px;
    height:24px;
    border: 1px solid #CCC;
    line-height: 24px;
    cursor: pointer;
    margin-right: 5px;
}
.m-paginate .previous-disabled, .m-paginate .next-disabled{
    border: 1px solid #CCC;
    color:#999;
}
.m-paginate .previous i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    left:9px;
    background:url(../images/sprite.png) -29px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .previous-disabled i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    left:9px;
    background:url(../images/sprite.png) -47px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .page{
    /*cursor: pointer;*/
}
.m-paginate .page span{
    float:left;
}
.m-paginate .page-num{
    margin-right: 5px;
    cursor: pointer;
    width:24px;
    height:24px;
    line-height: 24px;
    text-align: center;
    border:1px solid #CCC;
    font-family: "Arial";
    font-size: 12px;
    color:#333;
}
.m-paginate .current{
    width:26px;
    height:26px;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    color:#FF9500;
}
.m-paginate .hover{
    color:#FF9500;
}
.m-paginate .ellipsis{
    margin-right: 5px;
    width:16px;
    height:26px;
    line-height: 20px;
    text-align: center;
}
.m-paginate .next{
    position: relative;
    width:63px;
    height:24px;
    border: 1px solid #CCC;
    line-height: 24px;
    cursor: pointer;
    margin-right: 26px;
}
.m-paginate .next i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    right:9px;
    background:url(../images/sprite.png) -37px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .next-disabled i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    right:9px;
    background:url(../images/sprite.png) -55px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .jump-to-num {
    margin-right: 8px;
    height:22px;
    width:26px;
    line-height: 20px;
    text-align: center;
}
.m-paginate .jump {
    cursor: pointer;
    height:24px;
    width:48px;
    border:1px solid #CCC;
    line-height: 24px;
    text-align: center;
}

#demo-wrap,#demo-wrap2{float:left;background:#fff;z-index:10002;}
#demo-wrap input,#demo-wrap2 input{padding-left:8px;width:92px;font-size:12px;padding-top:4px;padding-bottom:4px;}
.h-line{
    float:left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
}
.paginate-txt{
    height:26px;
    line-height: 26px;

}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mr7 {
    margin-right: 7px;
}
.mr40 {
    margin-right: 40px;
}
/* 分页 end */

.goto {
	color: #39f;
}
.goto:hover {
	color: #F70;
	text-decoration: none;
}

/* 弹框  [[ */
.ui-dialog-wrap {color: #333; position: absolute; left: 50%; top: 45%;  transition: top .2s ease-in-out; }
.ui-dialog-mask {width: 100%; height:100%; position: fixed; _position: absolute; left: 0; top: 0; background:#000; display: none;}

.ui-dialog-outer {padding: 5px; filter:alpha(opacity=20); background:#000; background:rgba(0,0,0,0.2) !important; zoom: 1;}
.ui-dialog-inner {font: normal 14px/1.5 arial simsun; position: relative;}

.ui-dialog-head {background: #f8f8f8; border-bottom: 1px solid #d6e0ef; position: relative;}
.ui-dialog-cont {padding: 10px; background: #fff;}
.ui-dialog-foot {padding: 10px; background: #fff; text-align: right; font-size: 0; word-spacing: -1px;}

.ui-dialog-title {padding: 0 25px 0 10px; height: 30px; color: #333; font: bold 14px/30px arial simsun; overflow: hidden; text-align: left;}
.ui-dialog-close {width: 12px; height: 12px; color: #333; text-align: center; font: normal 14px/12px simsun; text-decoration: none; outline: none; position: absolute; top: 10px; right: 10px; cursor: pointer;}
.ui-dialog-close:hover {color: #f30; text-decoration: none;}

/* mini 弹框 [[ */
.ui-dialog-min-wrap {
	
}
.ui-dialog-min-wrap .ui-dialog-cont {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 2px 6px #ccc;
}
.ui-dialog-min-wrap .dialog-min-tips-msg {
	padding-left: 10px;
	float: left;
	line-height: 24px; 
	font-family: "Microsoft Yahei";
}
/* mini 弹框 ]] */
/* 弹框  ]] */