@import url(reset.css);

.my-pending-approve {
	margin: 20px auto 0 auto;
	width: 1188px;
	border: 1px solid #ececec;
}

.my-pending-approve .left-menu {
	position: relative;
	right: -1px;
	float: left;
	width: 218px;
	overflow: hidden;
	zoom: 1;
}
.my-pending-approve .left-menu .menu-item {
	font-size: 16px;
	color: #666;
	font-family: "Microsoft Yahei";
	overflow: hidden;
	height: 48px;
	border-bottom: 1px solid #ececec;
}
.my-pending-approve .left-menu .menu-item.on {
	color: #39F;
	border-right: 1px solid #FFF;
}
.my-pending-approve .left-menu .menu-item a {
	float: left;
	color: #666;
}
.my-pending-approve .left-menu .menu-item a:hover {
	color: #F60;
	text-decoration: none;
}
.my-pending-approve .left-menu .menu-item .menu-item-icon {
	margin: 16px 20px 0 20px;
	float: left;
	width: 18px;
	height: 18px;
	background: url(../images/pending-approve.png) no-repeat;
	overflow: hidden;
	zoom: 1;
}
.my-pending-approve .left-menu .menu-item .menu-item-txt {
	margin-top: 16px;
	float: left;
	line-height: 18px;	
}
.my-pending-approve .left-menu .menu-item .pending {
	background-position: 0 0;
}
.my-pending-approve .left-menu .menu-item.on .pending {
	background-position: -22px 0;
}
.my-pending-approve .left-menu .menu-item .record {
	background-position: 0 -22px;
}
.my-pending-approve .left-menu .menu-item.on .record {
	background-position: -22px -22px;
}


.my-pending-approve .main-content {
	padding: 20px;
	float: left;
	border-left: 1px solid #ececec;
}

/* 列表 [[ */
.my-pending-approve .search-result-wrap {
	padding-bottom: 20px;
	float: left;
	border-left: 1px solid #eee;
}
.my-pending-approve .search-result-wrap table {
	margin: 20px 20px 0 20px;
	width: 928px;
	border: 1px solid #eee;
}
.my-pending-approve .search-result-wrap th {
	text-align: center;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666;
	font-family: "Microsoft Yahei";
	background-color: #dce9f5;
}
.my-pending-approve .search-result-wrap tr {
	height: 60px;
	border-bottom: 1px solid #eee;
}
.my-pending-approve .search-result-wrap tr.thead {
	height: 40px;
}
.my-pending-approve .search-result-wrap td {
	font-family: "Microsoft Yahei";
	color: #333;
	font-size: 12px;
	text-align: center;
}
.my-pending-approve .search-result-wrap td div {
	text-align: left;
}
.my-pending-approve .search-result-wrap .check-box {
	padding-left:10px;
	width: 23px;
	text-align: left;
}
.my-pending-approve .search-result-wrap .order-no {
	width: 180px;
	text-align: left;
}
.my-pending-approve .search-result-wrap td.order-no {
}
.my-pending-approve .search-result-wrap .business-name {
	width: 60px;
}
.my-pending-approve .search-result-wrap .price {
	padding-right: 10px;
	width: 92px;
	text-align: right;
}
.my-pending-approve .search-result-wrap td.price {
	color: #F60;
}
.my-pending-approve .search-result-wrap .apply-time {
	width: 85px;
	text-align: left;
}
.my-pending-approve .search-result-wrap .apply-time .time {
	color: #999;
}
.my-pending-approve .search-result-wrap .end-time {
	width: 85px;
	text-align: left;
}
.my-pending-approve .search-result-wrap .end-time .time {
	color: #999;
}
.my-pending-approve .search-result-wrap td.end-time {
	text-align: left;
}
.my-pending-approve .search-result-wrap .promoter {
	width: 80px;
	text-align: left;
}
.my-pending-approve .search-result-wrap .promoter-wrap {
	width: 80px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.my-pending-approve .search-result-wrap .remarks {
	padding-left: 5px;
	text-align: left;
	width: 175px;
}
.my-pending-approve .search-result-wrap td .remarks-detail {
	display:block;
	width: 175px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.my-pending-approve .search-result-wrap .operation {
	width: 40px;
}
.my-pending-approve .search-result-wrap td.operation .detail {
	display: inline-block;
}

.goto {
	color: #39f;
}
.goto:hover {
	color: #F70;
	text-decoration: none;
}

.empty-tpl {
	font-family: "Microsoft Yahei";
	height: 490px;
}
.empty-tpl .body {
	margin: 60px 0 0 325px;
	overflow: hidden;
}
.empty-tpl .unit {
	position: absolute;
	bottom: 45px;
	right: 50px;
	font-size: 14px;
	color: #999;
}
.empty-tpl .head .goto {
	float: right;
	padding-top: 3px;
	height: 72px;
	line-height: 72px;
}
.empty-tpl .body .person {
	display: block;
	margin: 60px auto 15px auto;     
	position: relative;
}
.empty-tpl .body .desc {
	padding-left: 10px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 24px;
	line-height: 24px;
}
/* 列表 ]] */

/* 分页 start */
.m-paginate {
    float:right;
    height:26px;
    overflow: hidden;
    zoom: 1;
}
.m-paginate .previous{
    position: relative;
    width:63px;
    height:24px;
    border: 1px solid #CCC;
    line-height: 24px;
    cursor: pointer;
    margin-right: 5px;
}
.m-paginate .previous-disabled, .m-paginate .next-disabled{
    border: 1px solid #CCC;
    color:#999;
}
.m-paginate .previous i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    left:9px;
    background:url(../images/sprite.png) -29px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .previous-disabled i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    left:9px;
    background:url(../images/sprite.png) -47px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .page{
    /*cursor: pointer;*/
}
.m-paginate .page span{
    float:left;
}
.m-paginate .page-num{
    margin-right: 5px;
    cursor: pointer;
    width:24px;
    height:24px;
    line-height: 24px;
    text-align: center;
    border:1px solid #CCC;
    font-family: "Arial";
    font-size: 12px;
    color:#333;
}
.m-paginate .current{
    width:26px;
    height:26px;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    color:#FF9500;
}
.m-paginate .hover{
    color:#FF9500;
}
.m-paginate .ellipsis{
    margin-right: 5px;
    width:16px;
    height:26px;
    line-height: 20px;
    text-align: center;
}
.m-paginate .next{
    position: relative;
    width:63px;
    height:24px;
    border: 1px solid #CCC;
    line-height: 24px;
    cursor: pointer;
    margin-right: 26px;
}
.m-paginate .next i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    right:9px;
    background:url(../images/sprite.png) -37px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .next-disabled i{
    position: absolute;
    width: 5px;
    height:9px;
    top:7px;
    right:9px;
    background:url(../images/sprite.png) -55px 0px no-repeat;
    cursor: pointer;
}
.m-paginate .jump-to-num {
    margin-right: 8px;
    height:22px;
    width:26px;
    line-height: 20px;
    text-align: center;
}
.m-paginate .jump {
    cursor: pointer;
    height:24px;
    width:48px;
    border:1px solid #CCC;
    line-height: 24px;
    text-align: center;
}

#demo-wrap,#demo-wrap2{float:left;background:#fff;z-index:10002;}
#demo-wrap input,#demo-wrap2 input{padding-left:8px;width:92px;font-size:12px;padding-top:4px;padding-bottom:4px;}
.h-line{
    float:left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
}
.paginate-txt{
    height:26px;
    line-height: 26px;

}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.mr7 {
    margin-right: 7px;
}
.mr40 {
    margin-right: 40px;
}
/* 分页 end */

.checkbox {
	float: left;
	width: 13px;
	height: 13px;
	background: url(../images/checkbox.jpg) no-repeat;
}
.checkbox.checked {
	background: url(../images/checkbox.jpg) -18px 0 no-repeat;
}
.checkall {
	margin: 18px 10px 20px 10px;
}

.batch-approval {
	margin: 0 20px 20px 20px;
	position: relative;
	height: 48px;
	width: 926px;
	border: 1px solid #eee;
	border-top: 0;
	background-color: #f8f8f8;
	font-size: 16px;
	font-family: "Microsoft Yahei";
}
.batch-approval .checkall-txt {
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 48px;
}
.batch-approval-btn {
	position: absolute;
	top: -1px;
	right: 0;
	height: 50px;
	width: 140px;
	background-color: #CCC;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	cursor: not-allowed;
}
.batch-approval-btn.on {
	background-color: #ffb433;
	cursor: pointer;
}
.batch-approval-btn:hover {
	text-decoration: none;
}


/* 弹框  [[ */
.ui-dialog-wrap {color: #333; position: absolute; left: 50%; top: 45%;  transition: top .2s ease-in-out; }
.ui-dialog-mask {width: 100%; height:100%; position: fixed; _position: absolute; left: 0; top: 0; background:#000; display: none;}

.ui-dialog-outer {padding: 5px; filter:alpha(opacity=20); background:#000; background:rgba(0,0,0,0.2) !important; zoom: 1;}
.ui-dialog-inner {font: normal 14px/1.5 arial simsun; position: relative;}

.ui-dialog-head {background: #f8f8f8; border-bottom: 1px solid #d6e0ef; position: relative;}
.ui-dialog-cont {padding: 10px; background: #fff;}
.ui-dialog-foot {padding: 10px; background: #fff; text-align: right; font-size: 0; word-spacing: -1px;}

.ui-dialog-title {padding: 0 25px 0 10px; height: 30px; color: #333; font: bold 14px/30px arial simsun; overflow: hidden; text-align: left;}
.ui-dialog-close {width: 12px; height: 12px; color: #333; text-align: center; font: normal 14px/12px simsun; text-decoration: none; outline: none; position: absolute; top: 10px; right: 10px; cursor: pointer;}
.ui-dialog-close:hover {color: #f30; text-decoration: none;}

/* 弹框  ]] */

/* 审批说明弹框 [[ */
.approve-desc {
	margin-top: 20px;
	font-family: "Microsoft Yahei";
}
.approve-desc .desc-wrap {
	margin-bottom: 20px;
	overflow: hidden;
}
.approve-desc .desc-wrap .desc-label {
	float: left;
	height: 36px;
	width: 100px;
	text-align: right;
	line-height: 36px;
	font-size: 14px;
	color: #333;
}
.approve-desc .desc-wrap .desc-textarea {
	padding: 6px 10px;
	float: left;
	outline: none;
	height: 76px;
	width: 358px;
	border: 1px solid #CCC;
	resize: none;
	line-height: 22px;
	font-size: 14px;
	color: #999;
	font-family: "Microsoft Yahei";
}
.approve-desc .btn-wrap {
	margin: 0 0 10px 140px;
	overflow: hidden;
}
.approve-desc .btn-wrap .btn {
	margin-right: 20px;
	float: left;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
}
.approve-desc .btn-wrap .btn:hover {
	text-decoration: none;
}
.approve-desc .btn-wrap .btn.ok {
	background-color: #ffb433;
	color: #FFF;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
.approve-desc .btn-wrap .btn.cancel {
	background-color: #FFF;
	color: #333;
	border: 1px solid #ccc;
	width: 98px;
	height: 38px;
	line-height: 38px;
}
/* 审批说明弹框 ]] */

/* 审批确认 [[ */
.my-pending-confirm .search-result-wrap .order-no {
	padding-left: 15px;
}
.my-pending-confirm .search-result-wrap td.order-no {
	padding-left: 15px;
}
.confirm-info-wrap {
	margin: 35px 0 0 375px;
}
.confirm-info-wrap li {
	margin-top: 10px;
	overflow: hidden;
}
.confirm-info-wrap .confirm-key, .confirm-info-wrap .confirm-value {
	float: left;
	font-size: 14px;
	line-height: 22px;
}
.confirm-info-wrap .confirm-key {
	width: 78px;
	color: #666;
	text-align: right;
}
.confirm-info-wrap .confirm-value {
	color: #333;
}
.confirm-info-wrap .confirm-info-btn-wrap {
	margin: 15px 0 0 8px;
}
.confirm-info-wrap .confirm-info-btn-wrap .btn {
	margin-right: 20px;
	float: left;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
}
.confirm-info-wrap .confirm-info-btn-wrap .btn:hover {
	text-decoration: none;
}
.confirm-info-wrap .confirm-info-btn-wrap .btn.ok {
	background-color: #ffb433;
	color: #FFF;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
.confirm-info-wrap .confirm-info-btn-wrap .btn.cancel {
	background-color: #FFF;
	color: #333;
	border: 1px solid #ccc;
	width: 98px;
	height: 38px;
	line-height: 38px;
}
/* 审批确认 ]] */


.info-icon-24 {
	float: left;
	width: 24px;
	height: 24px;
	background: url(../images/tipIcon.png) -156px -70px no-repeat;
}

.success-icon-24 {
	float: left;
	width: 24px;
	height: 24px;
	background: url(../images/tipIcon.png) -156px 0 no-repeat;
}

/* 审批确认弹框 [[ */
.approve-confirm-desc .success-pop {
	margin: 50px 0 0 138px;
}
.approve-confirm-desc .remain-pop {
	margin: 40px 0 0 110px;
}
.approve-confirm-desc .none-pop {
	margin: 50px 0 0 108px;
}
.approve-confirm-desc .desc-wrap {
	font-size: 16px;
	color: #333;
	overflow: hidden;
	font-family: "Microsoft Yahei";
}
.approve-confirm-desc .desc-wrap .desc-txt {
	padding-left: 10px;
	float: left;
	line-height: 24px;
}
.approve-confirm-desc .desc-wrap .num{
	color: #F70;	
}
.approve-confirm-desc .btn {
	margin: 30px auto;
	display: block;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	font-family: "Microsoft Yahei";
}
.approve-confirm-desc .btn:hover {
	text-decoration: none;
}
.approve-confirm-desc .btn.ok {
	background-color: #ffb433;
	color: #FFF;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
/* 审批确认弹框 ]] */

.wait-td .info {
    margin: 180px auto;
	width: 140px;
}