@import url(ECode.calendar.css);
.w1190 {width: 1190px;min-width: 1190px;margin: 0 auto;}
ul.abs{position: absolute;}
input::-ms-clear { display: none; } 
input::-ms-reveal{display:none;}
a:hover{text-decoration: none;}
.rel{position: relative;}
.bordert{border-top: 1px #e6e6e6 solid}
ul.top29{top:29px;}
.color9{color: #999}
.placeholder{position: absolute;width: 148px;height: 22px;font-size: 12px;color: #999;top:0;left: 0}
.placeholder.left720{left: 720px}
.placeholder.left596{left: 596px}
.placeholder.left486{left: 486px}
.placeholder.left164{left: 164px}
.placeholder.left177{left: 177px}
.placeholder.left170{left: 170px}
.placeholder.left180{left: 180px}
.placeholder.top6{top: 6px}
.placeholder.top10{top: 10px}
.placeholder.top-23{top: -23px}
.placeholder.textleft{text-align: left;}
.placeholder.margin0{margin:0 !important;}
.redtip{position: absolute;width: 148px;height: 22px;font-size: 12px !important;color: #999;top:0;left: 0}
.redtip i{display: inline-block;vertical-align: bottom;width: 18px;height: 18px;background: url(../images/tipsBg.png) no-repeat;background-position: -155px -208px;}
.redtip.left710{left: 710px}
.redtip.top34{top: 34px}
.redtip.left580{left: 580px}
.redtip.left470{left: 470px}
.redtip.left460{left: 460px}
.redtip.left423{left: 423px}
.redtip.left412{left: 412px}
.redtip.left154{left: 154px}
.redtip.left167{left: 167px}
.redtip.left179{left: 179px}
.redtip.textleft{text-align: left;}
.redtip.margin0{margin:0 !important;}
.redtip.top36{top: 36px}
.redtip.top10{top: 10px}
.redtip.widthauto{width: auto;}
.redtip.colorf5{color:#ff5555;}
.padbtm30{padding-bottom: 30px}
.textc{text-align: center;}
.w100{width: 100px}
.paddbtm20{padding-bottom: 20px}
.paddtop20{padding-top: 20px}
.w200{width: 200px}
.disinlbk{display: inline-block;}
.hei100{height: 100px}
.mrb20{margin-bottom: 20px}
.padd20{padding:20px 0;}
.padd16{padding:16px 0;}
.padd30{padding-top: 30px !important}
.mrt9{margin-top: 9px}
.mrt18{margin-top: 18px}
.mrt38{margin-top: 38px}
.mrt28{margin-top: 28px}
.mrb33{margin-bottom: 33px}
.width40{width: 40px}
.mrb35{margin-bottom: 35px}
.mrb38{margin-bottom: 38px}
.mrl9{margin-left: 9px}
.mrr117{margin-right: 117px}
.mrr226{margin-right: 226px}
.mrr164{margin-right: 164px}
.mrr260{margin-right: 260px}
.mrr174{margin-right: 174px}
.mrr282{margin-right: 282px}
.width356{width: 356px}
.width580{width: 580px}
.ml20 {margin-left: 20px;}
.mrl36{margin-left: 36px}
.mrl70{margin-left: 70px}
.height46{height: 46px}
.fl {float: left;}
.fr{float: right;}
.fl, .fr { display: inline;}
.color6{color: #666666}
div.color6{color: #666666}
.color3{color: #333333}
div.mrt20{margin-top: 20px}
.border_ec{border:1px #ececec solid;}
.borderbottom_ec{border-bottom:1px #ececec solid;}
.mrl220{margin-left: 220px}
.mrl276{margin-left: 276px}
.mrl285{margin-left: 285px}
.mrl230{margin-left: 230px}
.mrl642{margin-left: 642px}
.mrl306{margin-left: 306px}
.mrl28{margin-left: 28px}
.h18{height: 18px}
.h40{height: 40px}
.bgf8{background: #f8f8f8}
.oprator_head li:first-child{margin-left: 0 !important}
.oprator_head li.clearlaston{border-top: none;margin: 0;padding: 0 20px;}
.oprator_head li.clearlaston a{color: #333}
.oprator_head li.addactiveon{border-top: 1px solid #39f;margin: 0 20px;padding: 0;}
.oprator_head li a.activeaon{color:#39f;}
.labelo{width: 6px;height: 16px;background: #ffab19;margin-left: 14px;float: left;}
.optitl{font-size: 16px;color: #333333;line-height: 16px;margin-left: 10px;float: left;}
.optitladd{font-size: 14px;color: #3399ff;line-height: 19px;float: right;margin-right: 20px}
.optitladd a{color: #3399ff;}
.optitladd a:hover{text-decoration: none;}
.state_title{font-size: 14px;color: #666666;line-height: 14px;float: left;height: 16px;padding:7px 0;}
.state_title.width70{width: 70px}
.query_cont{padding:0 20px;margin-top:20px;}
.query_input{width: 280px;height: 16px;padding:5px 0 5px 5px;}
#parent{background: url('../images/arrow_down.png') right center no-repeat;width: 280px;height: 30px;overflow: hidden;border: solid 1px #ccc;float: left; margin-left: 9px;}
#parent select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;border:none;width: 306px;height: 30px;color: #999999;padding:6px; }
.query_selt:focus{outline-color: rgb(169,169,169);}
.query_button{}
.query_button a.btn160.chaxun{font-size: 14px;color: #ffffff;font-weight: bold;margin-left: 42px;margin-top: 20px;cursor: pointer;line-height: 30px;height: 30px}
.operator_result{margin: 30px 20px 20px 20px;border: 1px #eeeeee solid;border-bottom: none;}
.operator_lit{background: #dce9f5;height: 22px;padding: 9px 20px;}
.operator_lit div,.operator_result dd div{float: left;font-size: 14px;color: #666666;overflow:hidden;
text-overflow:ellipsis;/*文字溢出的部分隐藏并用省略号代替*/
white-space:nowrap;/*文本不自动换行*/}
.operator_result dd div.color3{color: #333333}
.operator_result dd div.color39f{color: #3399ff}
.operator_result dd a{color: #3399ff}
.operator_result dd div.colorf5{color: #ff5555}
.operator_result dd{padding: 9px 20px;border-bottom:1px #eeeeee solid;overflow: hidden;}
.login_accountt{width: 163px;}
.operator_namet{margin-left: 74px;width: 83px}
.position_namet{margin-left: 76px;width: 83px}
.state_namet{margin-left: 74px;width: 32px}
.loginhis_namet{margin-left: 65px;width: 60px}
.power_namet{margin-left: 60px;width: 32px}
.operatehis_namet{margin-left: 56px;width: 60px;text-align:center;}
.operator_lit div.operate_namet, .operator_result dd div.operate_namet{float: right;width: 172px;}
/*翻页标签*/
.fanye{height: 45px;margin-right: 20px}
.mt20 {margin-top: 20px;}
.snPages {float: right;padding-bottom: 10px;padding: 0px;}
.snPages span.prev, .snPages span.next {display: inline;float: left;width: 68px;height: 24px;line-height: 24px;line-height: 28px\9;_line-height: 24px;color: #b1b1b1;text-align: center;background: #fff;border: 1px solid #d7d7d7;border-radius: 4px 4px 4px 4px;}
.snPages a.prev, .snPages span.prev {text-indent: 6px;}
.snPages a.next, .snPages span.next {text-indent: -6px;}
.snPages span {font-size: 12px;}
.snPages a, .snPages a:visited, .snPages span, .snPages div {position: relative;display: inline;float: left;margin-right: 4px;color: #333;font-size: 12px;}
.snPages a.prev, .snPages a.next, .snPages a.prev, .snPages a.next:visited {display: inline-block;width: 68px;height: 24px;line-height: 24px;line-height: 28px\9;_line-height: 24px;padding: 0;overflow: hidden;color:#000;}
.snPages a, .snPages a:visited {height: 24px;line-height: 24px;padding: 0 8px;text-align: center;background: #fff;border: 1px solid #d7d7d7;border-radius: 4px 4px 4px 4px;}
.snPages a, .snPages a:visited, .snPages span, .snPages div {position: relative;display: inline;float: left;margin-right: 4px;font-size: 12px;}
.snPages a.current {color: #f60;}
.snPages a.nowpage {font-weight: bold;border: none;}
.snPages a.next b {right: 1px;border-color: #fff #fff #fff #333;}
.snPages b {position: absolute;width: 0;height: 0;line-height: 0;margin:7px 0 0 -18px;font-size: 0;border-width: 5px;border-style: solid;border-color: #fff #b1b1b1 #fff #fff;}
.snPages div {line-height: 24px;padding-left: 30px;overflow: hidden;}
.snPages div input {width: 32px;height: 24px;line-height: 24px;margin: 0 3px;text-align: center;border: 1px solid #d7d7d7;}
.snPages div input.pagesubmit {cursor: pointer;width: 45px;height: 26px;color: #333;line-height: 26px;_line-height: 20px;background: #fff;border-radius: 4px 4px 4px 4px;}
.snPages div input {width: 32px;height: 24px;line-height: 24px;margin: 0 3px;text-align: center;border: 1px solid #d7d7d7;}
/*以下是add_operator.html用到的样式*/
.addopt_cont{padding: 0 40px}
.addopt_safname{text-align:left;font-size: 16px;color: #333333;border-bottom: 2px #dedede dotted;margin-top: 36px}
.addopt_form{text-align: right;margin: 0 auto;}
.addopt_form div{margin-right:33%;}
.addopt_form div.mrr484{margin-right: 484px;}
.addopt_form div.mrr594{margin-right: 594px;}
.addopt_form div.mrr642{margin-right: 642px;}
.addopt_loginacc,.addopt_loginapas{font-size: 14px;line-height: 14px;color: #666666;position: relative;}
.addopt_loginacc input,.addopt_loginapas input{width: 258px;height: 29px;line-height:29px;margin-left: 8px;padding-left: 3px}
.addopt_loginacc input.w148, .addopt_loginapas input.w148{width: 148px}
.addopt_loginacc div{position: absolute;left: 481px;top:0;margin-right: -481px}
.beizhutitle{display: block;float: left;width: 470.38px;*width: 446.38px;}
.beizhuspan{float: left !important;width: 466.38px;*width: 446.38px;}
.addopt_loginapas textarea{height: 70px;width: 258px;margin-left: 8px;padding-left: 3px}
.height60{height: 60px}
a.btn160:hover {color: #fff;background: #ffc35c;text-decoration: none;}
a.btn160 {display: block;width: 100px;height: 40px;color: #fff;font: bold 16px/40px 'Microsoft Yahei';text-align: center;background: #ffb433;border-radius: 3px;margin-left: 480px;margin-top: 8px}
a.btn160ie7{*margin-right: 400px}
/*alter_operator.html用到的样式*/
a.J_cancel{margin-left: 600px;margin-top: -42px; background: #fff;border: 1px #cccccc solid;color: #333;}
a.J_cancel:hover{color: #333;text-decoration: none;background: #fafafa;}
/*his_operator.html用到的样式*/
/*时间范围选择模式一*/
.search-item {line-height: 30px;font-size: 14px;float: left;width: 665px; height: 80px;}
.search-item .search-key {float: left; width: 94px; line-height: 30px;text-align: right;font-size: 14px; color: #666;}
.search-item .date-range-wrap { float: left; position: relative; z-index: 1;}
.search-item .date-range-wrap input {padding: 0 0 0 10px;float: left;height: 28px;width: 118px;border: 1px solid #CCC;outline: none; line-height: 28px;font-size: 14px; background: url(../images/input_data.png) 102px 7px no-repeat;cursor: default;}
.search-item .date-range-wrap .to-line {margin: 0 5px;float: left;height: 14px;width: 10px; border-bottom: 1px solid #CCC;}
.search-item .date-range-wrap .date-sel-wrap {position: relative; margin-left: 10px;float: left;width: 28px;height: 28px;border: 1px solid #CCC;cursor: pointer;}
.search-item .date-range-wrap div {float: left;}
.search-item .date-range-wrap .date-sel-wrap .arrow { display: block;position: absolute; top: 12px;left: 9px;width: 0; height: 0;line-height: 0; font-size: 0;border: 5px solid transparent; border-top-color: #CCC;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;}
.search-item .sel-list-wrap {position: absolute;top: 29px;right: 0;width: 318px;line-height: 28px;border: 1px solid #ccc;color: #666;background-color: #FFF; cursor: pointer;}
.select-box-wrap { display: none;overflow: hidden;position: relative;top: -1px;*top: -2px;*left: 0; width: 278px;border: 1px solid #BBB;background-color: #FFF;font-size: 14px; z-index: 2;}
.select-box-wrap.width318{*width: 318px}
/*下拉时间选择序列*/
.select-box-wrap .sel-val { display: block;width: 100%; height: 32px;text-indent: 10px;color: #333;line-height: 32px;}
.select-box-wrap .sel-val:hover {color: #FFF;background-color: #4ca6ff;text-decoration: none;}
/*时间范围选择模式二*/
.search-item .date-select-wrap {display: none;}
.select-box-input { outline: none;width: 278px; height: 28px;border: 1px solid #CCC;text-indent: 10px;line-height: 24px;font-size: 14px;font-family: "Microsoft Yahei";background: url(../images/icon_white_arrow.png) 260px 12px no-repeat;cursor: pointer; color: #333;}
.select-box-input.width318{*width: 308px !important}
.select-box-input.ie7{text-indent: 0px;width: 268px;padding-left: 10px}
.search-item .data-range-select {}
.search-btn{margin-left: 94px; display: block;width: 100px; height: 30px; background-color: #ffb433;border-radius: 2px;text-align: center;line-height: 30px;color: #FFF;font-size: 14px;float: left;}
.search-btn:hover{color: #fff}
/*列表模版的样式*/
table {border-collapse: collapse; border-spacing: 0;}
.table-wrap{margin-bottom: 20px}
.table-wrap table {margin: 20px 20px 0 20px;width: 1150px; border: 1px solid #eee;}
.table-wrap tr {height: 60px;border-bottom: 1px solid #eee;}
.table-wrap tr.thead {height: 40px;}
.table-wrap th {text-align: center;height: 36px;line-height: 36px;font-size: 14px;color: #666;font-family: "Microsoft Yahei";background-color: #dce9f5;}
.table-wrap .login-time {padding-left: 20px; width: 576px; text-align: left;}
.table-wrap .login-ip {text-align: left;}
/*翻页模版的样式*/
.m-paginate { margin-top: 20px;float: right;height: 26px;overflow: hidden;zoom: 1;}
.m-paginate .previous-disabled, .m-paginate .next-disabled {border: 1px solid #CCC;color: #999;}
.m-paginate .previous {position: relative;width: 63px;height: 24px;border: 1px solid #CCC;line-height: 24px;cursor: pointer;margin-right: 5px;}
.m-paginate .previous-disabled i {position: absolute;width: 5px;height: 9px;top: 7px;left: 9px;background: url(../images/sprite.png) -47px 0px no-repeat;cursor: pointer;}
.m-paginate .previous i {position: absolute;width: 5px;height: 9px;top: 7px;left: 9px;background: url(../images/sprite.png) -29px 0px no-repeat;cursor: pointer;}
.m-paginate .page { cursor: pointer; }
.m-paginate .current {width: 26px;height: 26px;line-height: 26px;text-align: center;margin-right: 5px; color: #FF9500;}
.m-paginate .page span { float: left;}
.m-paginate .page-num {margin-right: 5px;cursor: pointer;width: 24px;height: 24px;line-height: 24px;text-align: center;border: 1px solid #CCC; font-family: "Arial";font-size: 12px;color: #333;}
.m-paginate .next {position: relative;width: 63px;height: 24px;border: 1px solid #CCC;line-height: 24px;cursor: pointer;margin-right: 26px;}
.mr7 { margin-right: 7px;}
.paginate-txt { height: 26px;line-height: 26px;}
.m-paginate .jump-to-num {margin-right: 8px;height: 22px;width: 26px;line-height: 20px; text-align: center;}
.paginate-txt { height: 26px;line-height: 26px;}
.m-paginate .jump {cursor: pointer;height: 24px;width: 48px;border: 1px solid #CCC;line-height: 24px;text-align: center;}
.mr40 {margin-right: 40px;}
.mr20 {margin-right: 20px;}
.m-paginate .next i {position: absolute;width: 5px;height: 9px;top: 7px; right: 9px;background: url(../images/sprite.png) -37px 0px no-repeat;cursor: pointer;}
/*查询等待*/
.table-wrap td {font-family: "Microsoft Yahei";color: #333;font-size: 14px; text-align: center;}
.m-result .no-result-td, .m-result .wait-td {height: 270px;border-bottom: 0;}
.info-icon-24 {float: left;width: 24px;height: 24px; background: url(../images/tipIcon.png) -156px -70px no-repeat;}
.empty-tpl{height: 270px}
/*.empty-tpl div.body{text-align: center;}*/
.desc{width: 140px;margin:70px auto 0 auto;font-size: 16px;color: #333}
.mrt35{margin-top: 35px;}
.with268{width: 268px}
/*operator_record.html用到的样式*/
.table-wrap .width266{width: 266px;}
.table-wrap .width306{width: 306px;}
.table-wrap .width218{width: 218px;}
.table-wrap .width348{width: 348px;}
.login-time .listtext,.login-ip .listtext{height: 25px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.detailtxt{position: absolute;z-index:999;padding: 10px;padding-top:15px;white-space: normal;width: 369px;min-height:26px;background: url(../images/detail_tip.png) no-repeat;background-size: 100% 100%;-ms-behavior: url(backgroundsize.min.htc);behavior: url(backgroundsize.min.htc);}
/*operator_self.html用到的样式*/
.mrr{width: 174px;float: right;}
.mrr a{color:#39f;}
.mrr a:hover{text-decoration:none;}
.labelcc {width: 1px;height: 14px; background: #cccccc;margin-left: 9px; float: left;}
.altercont,.alterpass{font-size: 16px;color: #333333;line-height: 16px;margin-left: 8px;float: left;}
.selftitle{font-size: 14px;color: #666;height: 126px;position: absolute;display: block;margin-left: 385px;}
.selftitle div{text-align: right;margin: 4px 0;}
.selftxt{font-size: 14px;color: #333;position: relative;margin-left: 466px;*margin-top: -16px;}
.selftxt div{text-align: left;margin: 4px 0;width: 290px;height: 21px}
/*弹窗*/
.Fanxi-window-pop {position: fixed;left: 50%;margin-left: -260px;top: 50%;margin-top: -148px;width: 370px;height: 170px;border: 6px solid #b2b2b2;background: #fff;z-index: 2}
.Fanxi-window-pop p {font-size: 16px;padding: 45px 0 25px 0;text-align: center;}
.Fanxi-window-pop a {float: none;display: block;margin: 0 auto;}
.hide{display: none;}
.Fanxi-window-pop input{width: 280px;height: 20px;padding: 5px 0px 5px 8px}
/*更改信息弹窗*/
.mrl11{margin-left: -11px}
.mrl14{margin-left: 14px}
.altermima{width: 520px;height: 330px;}
.altermima div{margin-top: 28px;text-align: center;font-size: 14px;color: #666;}
.altermima div.mimatitile{font-weight:bold;padding:5px 0;text-align: left;margin-top: 0;background: #f8f8f8;color: #333;font-size: 14px;border-bottom: 1px #cccccc solid}
.altermima div.mimatitile span{float: right;display: block;background: url(../images/cancel.png) no-repeat;width: 28px;height: 28px;margin-top: -5px;*margin-top:-30px;cursor: pointer;}
.altermima div:nth-child(2){margin-top: 30px;}
.altermima div.margin0{margin: 0}
.altermima a{margin: 20px auto 28px auto;display: inline-block;}
.altermima .closemima{margin-left: 19px;background: #fff;color: #333;border: 1px #ccc solid}
.altermima .closemima:hover{background: #fff;color: #333;}
.altermima.height316{height: 316px}
.altermima div.mrt16{margin-top: 16px}
/*冻结弹框*/
.dongjiepop{height: 239px;width: 520px}
.dongjiepop div{text-align: center;font-size: 16px;color: #333;}
.dongjiepop div.mimatitile{font-weight:bold;padding:5px 0;text-align: left;margin-top: 0;background: #f8f8f8;color: #333;font-size: 14px;border-bottom: 1px #cccccc solid}
.dongjiepop div.mimatitile span{float: right;display: block;background: url(../images/cancel.png) no-repeat;width: 28px;height: 28px;margin-top: -5px;*margin-top:-30px;cursor: pointer;}
.dongjietitle{margin: 60px  auto 0 auto;width: 190px;}
.dongjiepop a{margin: 38px auto 38px auto;display: inline-block;}
.dongjiepop .closedongjie{margin-left: 19px;background: #fff;color: #333;border: 1px #ccc solid}
.dongjiepop .closedongjie:hover{background: #fff;color: #333;}
/*确定冻结弹窗*/
.dongjieok{height: 239px;width: 520px}
.dongjieok div{text-align: center;font-size: 16px;color: #333;}
.dongjieok div.mimatitile{font-weight:bold;padding:5px 0;text-align: left;margin-top: 0;background: #f8f8f8;color: #333;font-size: 14px;border-bottom: 1px #cccccc solid}
.dongjieok div.mimatitile span{float: right;display: block;background: url(../images/cancel.png) no-repeat;width: 28px;height: 28px;margin-top: -5px;*margin-top:-30px;cursor: pointer;}
.dongjieok .dongjiecont{margin: 28px  50px 20px 50px;}
.Fanxi-window-pop .dongjiecont p{font-size: 14px;text-align: left;padding: 0}
.dongjiecont span{color: #ff8d42}
.dongjieok a{margin: 0 auto;display: inline-block;}
/*operator_yewu.html*/
.line-authority{position:relative;height: 534px;width: 218px;margin:40px auto 35px auto;}
.mrl{float: left;margin-left: 20px;margin-top:-6px;}
.line-title,.approve-title{font-size: 14px;padding: 4.5px 0;width: 80px;float: left;text-align: center;}
.line-title a,.approve-title a{color: #666666;}
a.colorf{color: #fff}
.quanxianon{background: #3399ff;}
.checkbox, .checkbox01{display: inline-block;margin-bottom:-2px;width: 13px;height: 13px;background: url(../images/checkbox.jpg) no-repeat;}
.checkbox.checked,.checkbox01.checked {background: url(../images/checkbox.jpg) -18px 0 no-repeat;}
.selectall{font-size: 14px;color: #333}
.treebg{position:absolute;top:51px;width:218px;height:477px;background: url("../images/tree.png") no-repeat;}
.line-authority .clickxiugai{position: absolute;right: -466px;top: -20px;}
.clickxiugai a{color: #3399ff;font-size: 14px}
.line-authority ul{font-size: 14px;color: #333;position: absolute;top: 21px;width: 218px;height: 477px;z-index: 999}
.line-authority .li1,.li9{margin-top: 21px;margin-left: 32px;}
.line-authority .li2{margin-top: 22px;margin-left: 69px;}
.line-authority .li3{margin-top: 21px;margin-left: 106px;}
.line-authority .li4{margin-top: 21px;margin-left: 106px;}
.backposy18{background-position-y:-18px;}
.backposx18{background-position-x:-18px;}
.line-authority .li5,.li6,.li8{margin-top: 22px;margin-left: 69px;}
.line-authority .li7{margin-top: 22px;margin-left: 69px;}
.line-authority .li10{margin-top: 24px;margin-left: 69px;}
.line-authority .li11{margin-top: 22px;margin-left: 69px;}
.line-authority .li12{margin-top: 22px;margin-left: 69px;}
/*operator_yewu01.html*/
.bordertop{border-top: 1px #ececec solid;}
/*operatoe_quanxian.html*/
.minheight548{min-height: 548px}
.quanxian-authority{position: relative;margin: 20px}
.quanxian-authority li{position: relative;border: 1px #eeeeee solid;border-top: none;height: 20px;padding: 25px 0}
.quanxian-authority li span{position: relative;font-size: 14px;color: #333}
li.quanxian-li1{height:20px;padding:10px 0;background: #dce9f5;border:none;} 
li.quanxian-li1 span{color: #666}
li span.quanxian-litip{position: absolute;top: 14px;left: 0px;margin-left: 362px;}
li span.quanxian-litip span{color: #999}


