@charset "utf-8";

@import "reset.css";
@import "dialog.css";
@import "select.css";
@import "pagination.css";
@import "calendar.css";

body {
    background: #FFF;
}

.platform-container {
    width: 1190px;
    margin: 0 auto;
    padding: 20px 0;
}
.platform-panel {
    padding: 20px;
    background: #FFF;
    border: 1px solid #E8E8E8;
}

.platform-button {
    color: #333;
    background: #FFF;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    text-align: center;
    display: block;
}
.platform-button:hover {
    color: #333;
}
.platform-button.active {
    background: #FFA200;
    border: 1px solid #FFA200;
    color: #FFF;
}
.platform-button.active:hover {
    color: #fff;
}
.platform-button.active.disabled {
    background: #F4F4F4;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    cursor: default;
}

.platform-input {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
    padding: 4px 10px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.platform-input.date {
    background: #fff url(../images/icon-date.png) 90% 6px no-repeat;
}
.platform-select {

}
.platform-select .select-input {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
    padding: 4px 10px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.platform-select .input {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
    padding: 4px 10px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    cursor:text;
}
.platform-select.jr-select .select-input-arrow-icon.arrow-icon-closed {
    /* top: 14px;
    right: 14px; */
}
.platform-select.jr-select .select-input-arrow-icon.arrow-icon-open {
    /* top: 10px;
    right: 14px; */
}
.platform-select.disabled .select-input {
    background: #F8F8F8;
}
.platform-select .select-box {
    max-height: 120px;
    overflow-y: auto;
}
.platform-checkbox {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/icon-nocheckbox.png) center center no-repeat;
    cursor: pointer;
}
.platform-checkbox.checked {
    background: url(../images/icon-checkbox.png) center center no-repeat;
}

.platform-table {
    width: 100%;
    font-size: 14px;
    border: 1px solid #E6E2E2;
}
.platform-table thead {
    
}
.platform-table thead tr {
    height: 38px;
    background: #DCE9F5;
}
.platform-table thead th {
    color: #666;
    text-align: center;
}
.platform-table tbody {
    
}
.platform-table tbody tr {
    height: 50px;
    border-bottom: 1px solid #E6E2E2;
}
.platform-table tbody td {
    text-align: center;
}

.platform-scroll-table {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.platform-scroll-table .platform-scroll-table-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.platform-scroll-table .platform-scroll-table-head .platform-table {
    table-layout: fixed;
    border: 0 none;
}
.platform-scroll-table .platform-scroll-table-body {
    margin-top: 38px;
    position: relative;
    z-index: 9;
}
.platform-scroll-table .platform-scroll-table-body .platform-table {
    table-layout: fixed;
    border: 0 none;
}
.platform-scroll-table .platform-scroll-table-border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #E6E2E2;
    box-sizing: border-box;
    z-index: 2;
}


.common-tip-dialog {
    padding-top: 55px;
    padding-bottom: 38px;
}
.common-tip-dialog .common-tip-dialog-content {
    text-align: center;
    font-size: 0;
}
.common-tip-dialog .common-tip-dialog-content .common-tip-icon {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
}
.common-tip-dialog .common-tip-dialog-content .common-tip-icon.confirm {
    background-image: url(../images/tip-icon-confirm.png);
}
.common-tip-dialog .common-tip-dialog-content .common-tip-icon.success {
    background-image: url(../images/tip-icon-success.png);
}
.common-tip-dialog .common-tip-dialog-content .common-tip-icon.error {
    background-image: url(../images/tip-icon-error.png);
}
.common-tip-dialog .common-tip-dialog-content .common-tip-msg {
    font-size: 16px;
    color: #666;
    display: inline-block;
    
}
.common-tip-dialog .common-tip-dialog-ctrl {
    font-size: 0;
    text-align: center;
    margin-top: 40px;
}
.common-tip-dialog .common-tip-dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}
.common-tip-dialog .common-tip-dialog-ctrl .platform-button.mr {
    margin-right: 20px;
}


.platform-toast {
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    padding: 0 20px 0 46px;
    height: 36px;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10009;
}
.platform-toast .toast-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 10px;
    left: 20px;
}
.platform-toast .toast-icon.success {
    background-image: url(../images/toast-success.png);
}
.platform-toast .toast-icon.error {
    background-image: url(../images/toast-error.png);
}
.platform-toast p {
    font-size: 13px;
    color: #666;
    line-height: 36px;
}

.common-import-dialog {
    padding: 50px 0 38px;
}
.common-import-dialog .upload-wrap {
    
}
.common-import-dialog .upload-wrap label {
    float: left;
    width: 108px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    text-align: right;
}
.common-import-dialog .upload-wrap .file-path {
    float: left;
    width: 188px;
}
.common-import-dialog .upload-wrap .platform-button.up {
    float: left;
    margin-left: 10px;
    width: 84px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.common-import-dialog .upload-wrap .platform-button.up input {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.common-import-dialog .upload-wrap .download {
    font-size: 14px;
    float: left;
    margin-left: 10px;
    line-height: 30px;
    color: #3399FF;
}
.common-import-dialog .result-text {
    min-height: 26px;
    margin-top: 8px;
    padding-left: 108px;
    padding-right: 20px;
}
.common-import-dialog .result-text .fail {
    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    padding: 12px;
    overflow-y: auto;
    
}
.common-import-dialog .result-text .fail .icon {
    width: 21px;
    height: 21px;
    background: url(../images/tip-icon-error.png) 0 0 no-repeat;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.common-import-dialog .result-text .fail .title {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    display: inline-block;
}
.common-import-dialog .result-text .fail .error-txt {
    display: block;
    margin-top: 8px;
    padding-left: 31px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space: nowrap;
}
.common-import-dialog .dialog-ctrl {
    font-size: 0;
    text-align: center;
    margin-top: 20px;
}
.common-import-dialog .dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}
.common-import-dialog .dialog-ctrl .platform-button.mr {
    margin-right: 20px;
}

.no-result {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding: 80px 0;
}
.no-result i {
    width: 16px;
    height: 16px;
    background: url(../images/icon-little-tip.png) center center no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.no-result-s {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0;
}
.no-result-s i {
    width: 16px;
    height: 16px;
    background: url(../images/icon-little-tip.png) center center no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.wait-wrap {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding: 80px 0;
}
.wait-wrap i {
    width: 24px;
    height: 16px;
    background: url(../images/loading.gif) center center no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.platform-error-wrap {
    padding: 100px 0;
}
.platform-error-wrap .error-img {
    width: 160px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}
.platform-error-wrap .error-img.noservice {
    background-image: url(../images/not-open.png);
}
.platform-error-wrap .error-title {
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 18px;
    margin-top: 30px;
    font-weight: bold;
}
.platform-error-wrap .error-tip {
    font-size: 14px;
    color: #999;
    line-height: 14px;
    text-align: center;
    margin-top: 20px;
}
.platform-error-wrap .error-tip .high {
    color: #39f;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
}
.pop-upload {
    padding: 10px;
}
.pop-upload label{
	font-size: 14px;
	line-height: 30px;
	color: #666;
	float: left;
	margin-left: 17px;

}
.pop-upload .file-path{
	width: 208px;
	height: 28px;
    line-height: 28px;
    padding: 0;
	padding-left:10px;
	border: 1px solid #ccc;
	color: #333; 
	float: left;

}
.pop-upload .up{
	margin-left: 9px;
    position: relative;
    float: left;
    width: 84px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #c2c2c2;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    border-radius: 2px;
}

.pop-upload .up input{
	    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: -25px;
    top: 0;
    width: 130%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-left: 0;
    font-size: 0;
}
.pop-upload .file-operation{
	position:relative;
	float:left;
}
.pop-upload .download{
	font-size: 14px;
	line-height: 30px;
	color: #39f;
	margin-left: 10px;
}
.pop-upload .result-text{
	min-height: 115px;
}
.pop-upload .result-text>div{
	position: relative;
	width: 315px;
    padding: 11px 20px 11px 43px;
    max-height: 113px;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
    margin-left: 87px;
    margin-top: 7px;
}
.pop-upload .result-text>div .title{
	font-size: 14px;
	line-height: 18px;
	color: #333;
	padding: 0;
}
.pop-upload .input-item .result-text{
	margin-left: 243px;
	min-height: auto;
}
.pop-upload .result-text>div span{
	font-size: 14px;
	line-height: 22px;
	color: #888;
	display: block;
    width: 200px;
    white-space: nowrap;
}
.pop-upload .result-text img{
	position: absolute;
	left: 13px;
	width: 21px;
	height: 21px;
}
.pop-upload .submit-btn{
	margin-left: 144px;
	margin-top: 29px;
	margin-bottom: 28px;
	display:inline-block;
}
.pop-upload .cancel-btn{
	margin-left: 20px;
	margin-top: 29px;
	margin-bottom: 28px;
}
.pop-upload .cancel-btn:hover{
	color: #333;
}

.pop-upload .submit-btn {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    height: 38px;
    width: 98px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ffb433;
    border-radius: 3px;
    background: #ffb433;
    cursor: pointer;
    font-weight: bold;
    margin-left: 144px;
    margin-top: 29px;
    margin-bottom: 28px;
}
.pop-upload .submit-btn.disabled {
    color: #ccc;
    border: 1px solid #ddd;
    background: #f8f8f8;
    cursor: default;
}
.pop-upload .cancel-btn {
    display: inline-block;
    width: 98px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 29px;
    margin-bottom: 28px;
}