/*通用空格*/
/*格内间距*/
.box_pt60{
    padding-top: 60px;
}
/*链接*/
.line_one{
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*a.a_link_right{
    float: right;
    margin-right: 10px;
    height: 29px;
    line-height: 29px;
}
a.a_link_right:hover{
    color: #ff9500;
    text-decoration: none;
}*/
.info_scode .row_way{
    line-height: 40px;
}
/*input 验证*/
.row_way .info_scode{
    clear: both;
    overflow: hidden;
}
.reg_start .row_way{
    line-height: 40px;
}
.reg_start .row_way .input_mod{
    /*height: 14px;*/
    /*padding: 12px 10px;*/
    margin-right: 10px;
    /*line-height: 14px\0;*/
    height: 38px;
    padding: 0 10px;
    line-height: 38px;
}
.reg_start .success .icon_success_16{
    margin-top: 1px;
}
.AutoComplete{
    width: 258px;
}
.reg_start .info_scode .input_mod{
    width: 114px;
    padding-right: 40px;
    overflow: hidden;
}
.success_scode{
    top: -18px !important;
}
.reg_start .info_scode a{
    float: left;
    display: block;
    width: 80px;
    height: 40px;
}



/*弹窗 [[*/
.com_win{
    width: 600px;
    margin-left: -300px;
    margin-top: -177px;

    display: none;
    position: fixed;
    _position: absolute;
    _top: expression(documentElement.scrollTop+555+"px");
    top: 50%;
    left: 50%;
    overflow: hidden;
    z-index: 10000;
}
div.show{
    display: block;
}
.com_win a{
    color: #39f;
}
.com_win a:hover{
    color: #f70;
    text-decoration: none;
}
.com_win .com_win_box{
    position: relative;
    margin: 6px;
    background: #fff;
    z-index: 3;
    overflow: hidden;
    _width: 588px;
    clear: both;
}
.com_win .com_win_box .title {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 40px;
    overflow: hidden;
}

.com_win .com_win_box .title_close {
    width: 12px;
    height: 12px;
    color: #333;
    text-align: center;
    font: normal 14px/12px simsun;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}
.com_win .com_win_box a.title_close:hover {
    color: #f30;
    text-decoration: none;
}
.com_win .com_win_box .title h3{
    margin: 0;
    padding: 0;
    font-weight: blod;
    font-family:'Microsoft Yahei';
    color: #333;
    text-indent: 10px;
	font-size:14px;
}
.com_win .com_win_box .com_win_info{

}
.com_win .com_win_box .info_email{
    padding: 50px 0 60px 141px;
}
.com_win .com_win_info h4{
    display: block;
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
    font: normal 16px/32px 'Microsoft Yahei';
}
.com_win .com_win_info .txt{
    color: #666;
    line-height: 20px;
    margin-bottom: 37px;
}
.com_win .com_win_info .row_link{
    padding-bottom: 15px;
}

.com_win .com_win_info a.btn{
    float: left;
    display: inline;
    width: 156px;
    margin-right: 20px;
    color:#fff;
}
.com_win .com_win_info a.a_link{
    position: relative;
    line-height: 40px;
}
.com_win .com_win_info i.icon_blue_arrow{
    position: absolute;
    top: 8px;
    left: 89px;
    display: block;
    width: 8px;
    height: 4px;
    /*background: url(../images/icon_blue_arrow_down.png) no-repeat 0 0;*/
    background: url(../images/reg.sprite.png) no-repeat 0 -38px;
}
.com_win .com_win_info i.up{
    background: url(../images/reg.sprite.png) no-repeat 0 -42px;
    /*background: url(../images/icon_blue_arrow_up.png) no-repeat 0 0;*/
    background-position: 0 -42px;
}
.com_win .com_win_shadow{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    height: 1500px;
    width: 100%;
    z-index: 2;
    filter: alpha(opacity=30);
    opacity: .3;
}
.com_win .com_win_box .com_no_email{
    padding-left: 15px;
    font: normal 12px/20px 'Microsoft Yahei';
    color: #666;
    list-style: disc;
}
.com_win .com_no_email .time{
    color: #999;
}
.com_win .com_no_email .red{
    color: #f55;
    padding-left: 5px;
}
.mask_layer{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
}
/*弹窗 ]]*/

/*注册详情*/
.reg_info .title h3{
    text-indent: 0;
    margin: 16px 0 16px 354px;
    font: normal 12px/16px 'Microsoft Yahei';
}
.reg_info .title i{
    float: left;
    margin-left: -20px;
}


/*错误*/
.reg_error{
    padding-top: 60px;
}
/*成功*/
.reg_success{
    padding-top: 80px;
}
.reg_success p.txt,
.reg_success .message_info{
    width: 100%;
    margin-left: 343px;
}
.reg_error .message_info{
    margin-left: 400px;
}
.reg_success p.txt{
    color: #666;
    line-height: 18px;
    margin-bottom: 34px;
}

.reg_success .row_btn_one{
    margin-left: 343px;
}
.reg_success .row_btn_one a.btn{
    float: left;
    display: inline;
    width: 156px;
    margin-right: 20px;
}
.reg_success .row_btn_one a.a_link{
    line-height: 40px;
}


