@charset "utf-8";


@import "platform-common.css";
@import "deal-center.css";

.top-info-box {
    background: #F5F6F9;
    border-radius: 4px;
    padding: 17px 20px 20px;
}

.top-info-box .left-info {
    width: 50%;
    float: left;
}
.top-info-box .right-info {
    width: 50%;
    float: left;
}
.top-info-box .info-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.top-info-box .info-title .info-title-icon {
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;

}
.top-info-box .info-title .info-title-icon.withdraw {
    background-image: url(../images/tixian-icon.png);
}
.top-info-box .info-title .info-title-icon.batch {
    background-image: url(../images/pifu-icon.png);
}
.top-info-box .info-content {
    margin-top: 13px;
    max-width: 320px;
}
.top-info-box .info-content dl {
    float: left;
    font-size: 14px;
    width: 160px;
    line-height: 14px;
    margin-bottom: 12px;
}
.top-info-box .info-content dt {
    float: left;
    padding-right: 6px;
    color: #999;
}
.top-info-box .info-content dd {
    float: left;
    color: #151515;
    font-weight: bold;
}
.shop-toggle-wrap {
    margin: 20px 0;
}
.shop-toggle-wrap .shop-toggle-btn {
    overflow: hidden;
}
.shop-toggle-wrap .shop-toggle-btn a {
    float: left;
    width: 78px;
    height: 28px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 28px;
    border: 1px solid #CDCDCD;
}
.shop-toggle-wrap .shop-toggle-btn a.left {
    border-radius: 4px 0 0 4px;
    border-right: 0 none;
}
.shop-toggle-wrap .shop-toggle-btn a.right {
    border-radius: 0 4px 4px 0;
    border-left: 0 none;
}
.shop-toggle-wrap .shop-toggle-btn a.active {
    color: #fff;
    background: #262E32;
    border-color: #262E32;
}


.search-form-box {
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}
.search-form-box dl {
    float: left;
    height: 30px;
    margin-right: 80px;
}
.search-form-box dt {
    float: left;
    height: 30px;
    font-size: 14px;
    color: #333;
    padding-right: 6px;
    line-height: 30px;
    text-align: right;
}
.search-form-box dd {
    float: left;
}
.search-form-box dd .platform-input {
    width: 238px;
}

.search-form-box dd .platform-select {
    width: 260px;
}
.search-form-box dd .platform-select .select-input {
    width: 238px;
}
.search-form-box dd .platform-select .select-box {
    width: 258px;
}
.search-form-box .platform-button {
    width: 78px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
}

.shop-list-table-wrap {

}
.shop-list-table-wrap .top-ctrl {
    margin: 20px 0;
}
.shop-list-table-wrap .top-ctrl .platform-button {
    width: 78px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
}
.shop-list-table-wrap .top-ctrl .platform-button .btn-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 6px;
    background-position: center;
    background-repeat: no-repeat;
}
.shop-list-table-wrap .top-ctrl .platform-button .btn-icon.icon-add {
    background-image: url(../images/icon-add.png);
}

.pagination-box {
    margin-top: 20px;
}

.add-shop-dialog-body {
    padding: 30px 0;
}
.add-shop-dialog-body .add-shop-form {
    
}
.add-shop-dialog-body .add-shop-form dl {
    margin-bottom: 10px;
}
.add-shop-dialog-body .add-shop-form dt {
    width: 150px;
    padding-right: 6px;
    text-align: right;
    font-size: 14px;
    color: #333;
    height: 30px;
    line-height: 30px;
    float: left;
}
.add-shop-dialog-body .add-shop-form dd {
    float: left;
}
.add-shop-dialog-body .add-shop-form .input-field {
    float: left;
}
.add-shop-dialog-body .add-shop-form .input-field .error-tip {
    display: none;
    font-size: 12px;
    color: #FF3535;
    line-height: 12px;
    margin-top: 6px;
}
.error-show {
    display: none;
    font-size: 12px;
    color: #FF3535;
    line-height: 12px;
    margin-top: 6px;
}
.add-shop-dialog-body .add-shop-form .platform-input {
    width: 258px;
}

.add-shop-dialog-body .add-shop-form .platform-select {
    width: 280px;
}
.add-shop-dialog-body .add-shop-form .platform-select .select-input {
    width: 258px;
}
.add-shop-dialog-body .add-shop-form .platform-select .select-box {
    width: 278px;
}

.add-shop-dialog-body .dialog-ctrl {
    text-align: center;
    font-size: 0;
    padding-top: 10px;
}
.add-shop-dialog-body .dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}
.add-shop-dialog-body .dialog-ctrl .platform-button.mr {
    margin-right: 20px;
}

.detail-dialog-body {
    padding: 36px 0 30px;
}
.detail-dialog-body .detail-list-wrap {
    
}
.detail-dialog-body .detail-list-wrap dl {
    line-height: 18px;
    margin-bottom: 22px;
    font-size: 14px;
    color: #333;
}
.detail-dialog-body .detail-list-wrap dt {
    float: left;
    text-align: right;
    width: 150px;
    padding-right: 6px;

}
.detail-dialog-body .detail-list-wrap dd {
    float: left;
    width: 300px;
    word-wrap: break-word;
    word-break: break-all;
}
.detail-dialog-body .dialog-ctrl {
    text-align: center;
    font-size: 0;
    padding-top: 6px;
}
.detail-dialog-body .dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}
/*添加成功弹框*/
.add-success{
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
.add-success i{
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: url(../images/sign_success.jpg) no-repeat center;
}

/*添加失败弹框*/
.add-fail{
	font-size: 14px;
	line-height: 16px;
	color: #333;
}
.add-fail i{
	display: inline-block;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	background: url(../images/sign_fail.jpg) no-repeat center;

}
.platform-header-inner{
    width:auto;
}
 .platform-container{
    padding: 0px 0;
}

.platform-inputs {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
    padding: 4px 10px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 258px;
}
.w1190{
    width: 500px !important;
}
.input-fields{
    float: left;
}
.myul{
    left: -120px !important;
}
.platform-table{
    margin:0 auto !important;
    width: 88%;
}