@import "sjh-apply-index.css";
@import "select.css";
@import "pagination.css";
@import "ECode.calendar.css";
@import "dialog.css";
a {
    outline: none;
}

.batch-payment .content .tab-wrap {
    height: 40px;
    background: #F8F8F8;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
}

.batch-payment .content .tab-wrap a {
    float: left;
    width: 138px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #666666;
}

.batch-payment .content .tab-wrap a.on {
    color: #FFB433;
    background: #FFFFFF;
    box-shadow: inset 0 2px 0 0 #FFB433, inset -1px 0 0 0 #EEEEEE, inset 1px 0 0 0 #EEEEEE;
}

.main-container .query-wrap {
    margin: 33px 0 4px 0;
    *margin: 33px 0 26px 0;
}

.main-container .inp-wrap {
    float: left;
    font-size: 14px;
    margin-bottom: 26px;
    position: relative;
}

.main-container .inp-wrap label {
    display: inline-block;
    min-width: 120px;
    height: 30px;
    *height: 36px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    text-align: right;
}

.w240 {
    width: 240px!important;
}

.padd8 {
    padding: 0 8px;
}

.main-container .inp-wrap label em {
    font-size: 12px;
    color: #FF3535;
    margin-right: 6px;
}

.main-container .inp-wrap label.pl33 {
    padding-left: 16px;
}

.main-container .inp-wrap label font {
    font-size: 14px;
    color: #999999;
}
.main-container .inp-wrap .btn-wrap {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0;
}

.outport-btn{
	display: inline-block;
	width: 68px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 14px;
	color: #555;
	margin: 0 0 20px 860px;
}
.outport-btn:hover{
	color: #555;
}
.outport-btn i{
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url(../images/checkout.png) no-repeat center;
	vertical-align:middle;
	margin-top:-2px;
	*margin-top:0;
	*margin-right:3px;
}

#startDate1,
#endDate1,
#startDate2,
#endDate2 {
    cursor: pointer;
    background: url("../images/icon_time.png") no-repeat 99px 6px;
}

.main-container .inp-wrap input {
    width: 268px;
    height: 28px;
    *line-height: 28px;
    line-height: 28px\0;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
}

.w88 {
    width: 117px!important;
}

.btn-wrap {
    margin-bottom: 34px;
}

.btn-wrap a {
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

.btn-wrap a.light {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FFB433;
}

.btn-wrap a.dark {
    width: 98px;
    height: 28px;
    line-height: 28px;
    color: #333333;
    border: 1px solid #CCCCCC;
    margin-left: 20px;
}

.jr-select {
    display: inline-block;
}

.arrow-icon-open {
    top: 8px;
    left: 262px;
}

.arrow-icon-closed {
    top: 13px;
    left: 262px;
}

.jr-select .select-box {
    width: 278px;
}

.jr-select .select-box .sel-val {
    font-size: 14px;
}

.jr-select .select-box .sel-val:hover {
    background-color: #3399ff;
}

.count-wrap {
    margin-bottom: 10px;
}

.count-wrap span.fl p {
    float: left;
    font-size: 14px;
    color: #333333;
    margin-right: 20px;
}

.count-wrap span.fr {
    margin-top: 3px;
}

.count-wrap span.fr a {
    float: right;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    color: #3399FF;
    border-right: 1px solid #C9C9C9;
}

.count-wrap span.fr a.br0 {
    border-right: 0;
}

.pad12 {
    padding: 0 12px;
}

.pad26 {
    padding: 0 26px;
}

.pl19 {
    padding-left: 19px;
}

.table-wrap table,
.table-wrap table tr {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
}

.table-wrap table tr.active {
    background: #EBF1F6;
}

.table-wrap table tr th {
    height: 38px;
    color: #666666;
    background: #DCE9F5;
    text-align: center;
}

.table-wrap table tr td {
    height: 50px;
    color: #333333;
    text-align: center;
}

.table-wrap table tr td a {
    font-size: 14px;
    color: #3399FF;
}

.uncheck {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 13px;
    background: url("../images/checkboxno.png") no-repeat center;
}

.uncheck.checked {
    background: url("../images/checkboxyes.png") no-repeat center;
}

.margin {
    margin: 14px 0 30px 0;
}


/*分页模板样式 [[*/

.wait-wrap .wait .info {
    text-align: center;
    padding: 100px 0;
}

.wait-wrap .wait .info .desc {
    font-size: 16px;
    color: #333;
}


/*分页模板样式 ]]*/


/*导入明细 弹窗 [[*/

.upload-wrap .main {
    padding: 51px 0 55px 0;
    font-size: 16px;
    color: #666666;
}

.upload-wrap .main.main2 {
    padding: 38px 0;
}

.center {
    text-align: center;
}

.upload-wrap .main i.icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin: -2px 10px 0 0;
}

.upload-wrap .main i.icon.success {
    background: url("../images/icon_right21.png") no-repeat center;
}

.upload-wrap .main label,
.upload-wrap .main input,
.upload-wrap .main a {
    float: left;
}

.upload-wrap .main label {
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    color: #666666;
}

.upload-wrap .main input {
    width: 188px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.upload-wrap .main a.file {
    width: 84px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
}

.upload-wrap .main span.posre {
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.upload-wrap .main .posre input {
    width: 86px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.upload-wrap .main a.download {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #3399FF;
}

.upload-wrap .btns-wrap {
    text-align: center;
    padding-bottom: 38px;
}

.upload-wrap .btns-wrap p a.go-info {
    font-size: 14px;
    color: #3399FF;
    margin-top: 10px;
}

.upload-wrap .btns-wrap a {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.upload-wrap .btns-wrap a.save {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #FFB433;
    color: #FFFFFF;
}

.upload-wrap .btns-wrap a.cancel {
    width: 98px;
    height: 38px;
    line-height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
}

.mr18 {
    margin-right: 18px;
}


/*导入明细 弹窗 ]]*/

.tips {
    line-height: 26px;
    position: absolute;
    top: 28px;
    left: 0;
}

.err {
    font-size: 12px;
    color: #FF3535;
}

.head-amount-wrap {
    margin-bottom: 10px;
}
.head-amount-wrap .head-amount-content {
    font-size: 14px;
    color: #333;
    line-height: 30px;
    float: left;
}
.head-amount-wrap .head-amount-content .num {
    color: #FF870D;
}
.head-amount-wrap .tip-box {
    float: left;
    margin-left: 6px;
    position: relative;
}
.head-amount-wrap .tip-box .tip-icon {
    width: 16px;
    height: 16px;
    background: url(../images/icon_sigh_16.png) 0 0 no-repeat;
    margin-top: 7px;
    display: block;
    float: left;
    cursor: pointer;
}

.head-amount-wrap .tip-box .tip-pop-box {
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
    display: none;
}
.head-amount-wrap .tip-box .tip-pop-box .tip-arrow {
    position: absolute;
    pointer-events: none;
    display: block;
    content: "";
    width: 0;
    height: 0;
    z-index: 1;
    
    top: 9px;
}
.head-amount-wrap .tip-box .tip-pop-box .tip-arrow.before {
    left: -5px;
    border-top: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 0 dashed transparent;
    border-right: 4px solid #ccc;
}
.head-amount-wrap .tip-box .tip-pop-box .tip-arrow.after {
    left: -4px;
    border-top: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 0 dashed transparent;
    border-right: 4px solid #fff;
}
.head-amount-wrap .tip-box .tip-pop-box .tip-pop-cnt {
    font-size: 12px;
    color: #333333;
}

.head-amount-wrap .tip-box:hover .tip-pop-box {
    display: block;
}
.import-btn {
	display: inline-block;
	width: 78px;
	height: 28px;
	line-height: 28px;
    text-align: center;
    background: #FFF;
    border-radius: 4px;
	border: 1px solid #999;
	font-size: 14px;
	color: #333;
}

.import-btn i {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/icon_import.png) no-repeat center;
	vertical-align:middle;
	margin-top:-2px;
	*margin-top:0;
	*margin-right:3px;
}
.jr-pagination .page{
    padding: 0;
}
.table-wrap{
    overflow: hidden;
}