@import "sjh-apply-index.css";
@import "select.css";
@import "jquery.searchableSelect.css";
@import "dialog.css";
a{outline: none;}
.batch-payment .content .title{
    margin:10px 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.batch-payment .content .title font{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    margin-left: 15px;
}
.batch-payment .content .result-box{
    text-align: center;
    margin-top: 117px;
}
.batch-payment .content .result-box p.desc{
    width: 396px;
    margin: 33px auto 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.batch-payment .content ul.valid-form{
    margin: 77px 0 0;
}
.batch-payment .content ul.valid-form li{
    *margin-bottom: 22px;
}
.batch-payment .content ul.valid-form li .select-box .select-item{
    *margin-bottom:0;
}
.batch-payment .content ul.valid-form li div{
    float: left;
}
.batch-payment .content ul.valid-form li div div{
    float: none;
}
.batch-payment .content ul.valid-form li div.label-filed{
    width: 330px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    margin-bottom: 26px;
}
.batch-payment .content ul.valid-form li div.label-filed em{font-size: 12px;color: #FF3535;margin-right: 4px;}
.batch-payment .content ul.valid-form li div.input-item{font-size: 14px;line-height:30px;margin-bottom: 26px;color: #333;max-width: 580px;position: relative;}
.batch-payment .content ul.valid-form li div.input-item input{
    width: 268px;
    height: 28px;
    padding-left: 10px;
    *line-height: 28px;
    line-height: 28px\0;
    border: 1px solid #CCCCCC;
    outline: none;
    font-family: "Microsoft YaHei";
}
.batch-payment .content ul.valid-form li div.input-item input[name="jhTotalNum"]{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
}
/*searchableSelect插件样式调整 [[*/
.searchable-select{
    width: 278px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCCCCC;
}
.searchable-select .searchable-select-holder{
    *width: 268px;
    border: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
}
/*searchableSelect插件样式调整 ]]*/
.batch-payment .content ul.valid-form li div.input-item input.w208{
    width: 208px;
}
.jr-select .arrow-icon-closed{
    top: 13px;
    left: 258px;
}
.jr-select .arrow-icon-open{
    top: 9px;
    left: 258px;
}
.jr-select .select-box{
    width: 278px;
    max-height: 100px;
    overflow-y:auto;
    overflow-x:hidden; 
}
.jr-select .select-box .sel-val:hover{
    background-color: #3399ff;
}

.jr-select .select-box .sel-val-other:hover{
    background-color: #3399ff;
}


.file{
    display: inline-block;
    width: 84px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
}
.download{
    font-size: 14px;
    color: #3399FF;
    line-height: 30px;
}
/*按钮不可用状态*/
.disable{
    display: inline-block;
    width: 98px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #F5F7FA;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    font-size: 18px;
    color: #CCCCCC;
    margin:8px 0 0 330px;
    cursor: default;
    position:absolute;
    z-index:-1;
}
/*按钮可用状态*/
.submit-btn{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FFB433;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    margin:8px 0 0 330px;
    
}


.file-upload-wrap{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}
.batch-payment .content ul.valid-form li div.input-item .file-upload-wrap input{
    width: 86px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.result-wrap{
    display: inline-block;
    width: 380px;
    max-height: 150px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding:10px 0;
    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    margin-top: 8px;
    position: relative;
}
.result-wrap .icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    left: 12px;
}
.result-wrap .icon.icon-success{
    background: url("../images/icon_right21.png") no-repeat center;
}
.result-wrap .icon.icon-fail{
    background: url("../images/icon_wrong21.png") no-repeat center;
}
.result-wrap p{
	width: 800px;
    padding: 0 10px 0 43px;
    font-size: 14px;
    color: #333333;
}
.result-wrap p.gray{
    color: #666;
}
.mt8{margin-top: 8px;}
.search-icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 8px;
    background: url("../images/icon_search.png") no-repeat center;
    background-color: #ffffff;
    position: absolute;
    top: 1px;
    *top: 2px;
    left: 250px;
    border-left: 1px solid #cccccc;
    cursor: pointer;
}
.content form{padding-bottom: 40px;}
.tips{
    line-height: 26px;
    position: absolute;
    top: 28px;
    left: 0;
}
.err{
    font-size: 12px;
    color: #FF3535;
}
/*结汇金额 弹窗 [[*/
.l112{left: 112px!important;}
.w128{width: 128px!important;}
.search-container{padding: 40px 0 26px 0;}
.search-container .label-item,.search-container .input-item,.search-container .container-main,.search-container .query-btn{
    float: left;
}
.search-container .container-main,.search-container .query-btn{
    display: inline-block;
}
.search-container .label-item{
    width: 64px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    color: #666666;
}
.search-container .input-item input{
    width: 118px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    outline: none;
}
.search-container .query-btn{
    width: 86px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #FFB433;
    border-radius: 3px;
    font-size: 14px;
    color: #FFFFFF;
}
.ml16{margin-left: 16px;*margin-left: 22px;}
.table-container{
    width: 472px;
    margin: 0 auto;
}
.table-container table{
    width: 100%;
    border: 1px solid #E6E2E2;
    border-bottom: 0;
}
.table-container table tr{
    height: 38px;
    border-bottom: 1px solid #E6E2E2;
}
.table-container table tr th{
    background: #DCE9F5;
}
.table-container table tr th,.table-container table tr td{
    text-align: center;
}
.table-container table tr td i.radio{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    background: url("../images/radio.jpg") no-repeat center;
}
.table-container table tr td i.radio.on{
    background: url("../images/radioOn.jpg") no-repeat center;
}
.btn-wrap{
    padding: 14px 0 26px 0;
}
.table-container{
    max-height: 115px;
    overflow-y: scroll;
}
.btn-wrap a{
    float: left;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
}
.btn-wrap{text-align: center;}
.btn-wrap a.ok{
    width: 98px;
    height: 38px;
    line-height: 38px;
    background: #F5F7FA;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    color: #CCCCCC;
}
.btn-wrap a.query{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #FFB433;
    color: #FFFFFF;
}
.btn-wrap a.no{
    width: 98px;
    height: 38px;
    line-height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
}
.mar-center{
    margin: 0 16px 0 146px;
}

.red-warn{
	font-style: normal;
	color: #fc1a1d;
}


/*loading*/
.loading-box{
	position: fixed;
    width: 116px;
    height: 132px;
    left: 50%;
    margin-left: -58px;
    top: 50%;
    margin-top: -66px;
    /* background: #333; */
    color: #333;
    text-align: center;
    z-index:9999;
}
.loading-box p{
	position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 25px;
    font-size: 14px;
}

/*结汇金额 弹窗 ]]*/

/*汇款金额计算begin*/
.exchange-count-btn{
	font-size: 14px;
    color: #3399FF;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.count{
	height: 160px;
    margin:3px;10px;
}
.count-input font{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    margin-left: 5px;
}
.count-title{
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #333333;
    margin-bottom: 26px;
}
.count-title em{
    font-size: 12px;color: #FF3535;margin-right: 4px;
}
.count-item .condition-input{
    font-size: 14px;line-height:30px;margin-bottom: 26px;color: #333;max-width: 580px;position: relative;
}
.count-item .count-input input{
    width: 180px;
    height: 28px;
    padding-left: 10px;
    *line-height: 28px;
    line-height: 28px\0;
    border: 1px solid #CCCCCC;
    outline: none;
    font-family: "Microsoft YaHei";
}
.back-btn{
    display: inline-block;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #FFB433;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
    margin-left:50px
}
p.tip-red{
    font-size: 12px;
    color: #fb272a;
}
/*汇款金额计算end*/
