@import "reset.css";
body {
    font-family: "Microsoft YaHei";
}


/*type=number类型输入框不显示右侧上下箭头*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/** 二级菜单 **/

.second-menu {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e6e6e6;
    background: #f8f8f8;
    font-size: 14px;
}

.second-menu .second-menu-list {
    margin: auto;
    width: 1190px;
    height: 40px;
}

.second-menu .second-menu-item {
    float: left;
    padding-right: 32px;
    cursor: pointer;
}

.second-menu .second-menu-item a {
    color: #666;
    display: block;
    cursor: pointer;
}

.second-menu .second-menu-item.hover a {
    color: #3399ff;
    border-top: 1px solid #3399ff;
    margin-top: -1px;
}

.second-menu .second-menu-item:hover a {
    color: #3399ff;
    border-top: 1px solid #3399ff;
    margin-top: -1px;
}

.batch-payment {
    position: relative;
    width: 1188px;
    min-height: 596px;
    border: 1px solid #e6e6e6;
    margin: 20px auto;
    font-family: "Microsoft YaHei";
}


/*左侧菜单icon*/

.three-menu {
    float: left;
    width: 218px;
    min-height: 596px;
    line-height: 48px;
    font-size: 16px;
    border-right: 1px solid #e6e6e6;
    position: relative;
    z-index: 2;
}

.three-menu .three-menu-item {
    height: 48px;
    width: 218px;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
    position: relative;
}

.three-menu .three-menu-item.three-menu-item-first {
    border-top: 0;
}

.three-menu .three-menu-item.three-menu-item-last {
    border-bottom: 1px solid #e6e6e6;
}

.three-menu .three-menu-item a {
    display: block;
    padding-left: 63px;
    color: #999;
    cursor: pointer;
}

.three-menu .three-menu-item.hover a {
    color: #3399ff;
}

.three-menu .three-menu-item a .icon {
    position: absolute;
    width: 20px;
    left: 27px;
    top: 17px;
    background: url(../images/icon-batch-payment.png) no-repeat;
}

.three-menu .three-menu-item a .icon-1 {
    height: 14px;
    background-position: 0 0;
}

.three-menu .three-menu-item a .icon-2 {
    top: 13px;
    height: 20px;
    background-position: 0 -18px;
}

.three-menu .three-menu-item.hover {
    border-right: 1px solid #fff;
}

.three-menu .three-menu-item a .icon {
    top: 16px;
}

.three-menu .three-menu-item.single-transfer a .danbi_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -23px -2px;
}

.three-menu .three-menu-item.single-transfer.hover a .danbi_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -23px -46px;
}

.three-menu .three-menu-item.single-transfer a .huilv_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -1px -45px;
}

.three-menu .three-menu-item.single-transfer.hover a .huilv_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -1px -25px;
}

.three-menu .three-menu-item.single-transfer a .sjh_icon {
    width: 15px;
    height: 18px;
    background: url(../images/icon-sjh-off.png) center no-repeat;
}

.three-menu .three-menu-item.single-transfer.hover a .sjh_icon {
    width: 15px;
    height: 18px;
    background: url(../images/icon-sjh-on.png) center no-repeat;
}

.three-menu .three-menu-item.single-transfer a .jinkou_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -67px -23px;
}

.three-menu .three-menu-item.single-transfer.hover a .jinkou_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -67px -43px;
}

.three-menu .three-menu-item.single-transfer a .liuxue_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -23px -24px;
}

.three-menu .three-menu-item.single-transfer.hover a .liuxue_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -45px -1px;
}

.three-menu .three-menu-item.single-transfer a .piliang_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -45px -24px;
}

.three-menu .three-menu-item.single-transfer.hover a .piliang_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -1px -1px;
}

.three-menu .three-menu-item.single-transfer a .shoukuan_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -67px -2px;
}

.three-menu .three-menu-item.single-transfer.hover a .shoukuan_icon {
    width: 20px;
    height: 20px;
    background: url(../images/left-menu-icon.png) -45px -45px;
}

.three-menu .three-menu-item.single-transfer a .wuliu_icon {
    width: 20px;
    height: 20px;
    background: url(../images/wuliu.png) -20px -20px;
}

.three-menu .three-menu-item.single-transfer.hover a .wuliu_icon {
    width: 20px;
    height: 20px;
    background: url(../images/wuliu_blue.png) -20px -20px;
}

.three-menu .three-menu-item.single-transfer a .chukou_icon {
    width: 20px; height: 20px;
    background: url(../images/yewu02.png) 1px 1px;
}
.three-menu .three-menu-item.single-transfer.hover a .chukou_icon {
    width: 20px; height: 20px;
    background: url(../images/yewu01.png) 1px 1px;
}

.three-menu .three-menu-item.single-transfer a .new_chukou_icon {
    width: 20px; height: 20px;
    background: url(../images/tab_icon_off_00.png) 1px -2px;
}
.three-menu .three-menu-item.single-transfer.hover a .new_chukou_icon {
    width: 20px; height: 20px;
    background: url(../images/tab_icon_on_00.png) 1px -2px;
}
/*左侧菜单icon end*/

.batch-payment .content {
    position: relative;
    float: left;
    width: 929px;
    min-height: 596px;
    padding: 14px 20px 0;
    border-left: 1px solid #e6e6e6;
    margin-left: -1px;
    z-index: 1;
}

.info-content .back-btn {
    font-size: 14px;
    color: #3399FF;
    line-height: 34px;
}

.pfxq-wrap {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.bankcard-inp {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.number-inp {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.ordername-inp {
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.msg-box {
    font-size: 14px;
    color: #FF3535;
    line-height: 14px;
    margin: 17px 0;
    text-align: center;
}

.msg-box.orange {
    color: #FF8000;
}

.msg-box.green {
    color: #666666;
    font-size: 16px;
    padding: 55px 0 40px 0;
    margin: 0;
}

.msg-box i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icon_wrong21.png) no-repeat center;
    vertical-align: middle;
    margin: -2px 6px 0 0;
}

.msg-box.orange i {
    background: url(../images/info_orange.png) no-repeat center;
}

.msg-box.green i {
    background: url(../images/icon_success_16.png) no-repeat center;
}

.pb35 {
    padding-bottom: 35px;
}

.mt48 {
    margin-top: 48px;
}

.pf-btn-wrap {
    text-align: center;
}

.pf-btn-wrap.pf-btn-wrap2 a {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    background: #FFB433;
    color: #fff;
}

.pf-btn-wrap a {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

.pf-btn-wrap a.yes-btn {
    background: #FFB433;
    color: #fff;
}

.mr20 {
    margin-right: 20px;
}

.pf-btn-wrap a.clear-btn {
    color: #333333;
    border: 1px solid #CCCCCC;
}

.pf-btn-wrap a.disabled {
    background: #999999;
    border: 1px solid #CCCCCC;
}

.batch-payment .content.info-content {
    position: absolute;
    top: 0;
    left: 219px;
    background-color: #fff;
    z-index: 9;
    height:100%;
}

.function-item-list {
    overflow: hidden;
    margin-top: 16px;
    margin-left: 75px;
}

.function-item-list .function-item {
    position: relative;
    width: 778px;
    height: 148px;
    border: 1px solid #ececec;
    margin-top: 18px;
    transition: ease .5s;
}

.function-item-list .function-item:hover {
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 11px #e9e9e9;
}

.function-item-list .right-icon {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 26px 44px 26px 54px;
}

.function-item .left-content {
    position: absolute;
    left: 194px;
    top: 0;
    width: 526px;
    cursor: default;
}

.function-item .left-content a {
    position: absolute;
    top: 95px;
}

.function-item h3 {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-top: 30px;
    font-weight: bold;
}

.function-item p {
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    margin-top: 6px;
}

.function-item a {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #39f;
    margin-top: 5px;
    cursor: pointer;
}

.model-file_icon {
    background: url(../images/icon-model-file.png) center no-repeat;
}

.model-bussiness_icon {
    background: url(../images/icon-model-bussiness.png) center no-repeat;
}