/* public [[ */
.jr-tips-wrap {    
    position: relative;
    display: block;
    top: 8px;
    float: left;
    width: 14px;
    height: 14px;
    background: url(../images/icons.png) 0 -50px no-repeat;
    margin-left: 8px;
}
.jr-tips-wrap-warning {
    background: url(../images/icon_tips_14.png) no-repeat;
}

.jr-tips-wrap:hover {
    text-decoration: none;
}
/* public ]] */

/* 上方 [[ */
.jr-tips-wrap .top-tips-wrap {
    display: none;
    position: absolute;
    bottom: 26px;
    margin-left: 50%;
    left: -110px;
    padding: 6px 10px;
    width: 200px;
    border: 1px solid #FC6;
    background-color: #fffff0;
    line-height: 18px;
    color: #666;
}
.jr-tips-wrap:hover .top-tips-wrap {
    display: block;
}
.jr-tips-wrap .top-tips-wrap .tips-wrap-arrow {
    display: block;
    position: absolute;
    margin-left: 50%;
    left: -6px;
    bottom: -7px;
    width: 12px;
    height: 7px;
    background: url(img/top-icon.png) no-repeat;
}
/* 上方 ]] */

/* 下方 [[ */
.jr-tips-wrap .down-tips-wrap {
    display: none;
    position: absolute;
    top: 24px;
    margin-left: 50%;
    left: -110px;
    padding: 6px 10px;
    width: 200px;
    border: 1px solid #FC6;
    background-color: #fffff0;
    line-height: 18px;
    color: #666;
}
.jr-tips-wrap:hover .down-tips-wrap {
    display: block;
}
.jr-tips-wrap .down-tips-wrap .tips-wrap-arrow {
    display: block;
    position: absolute;
    margin-left: 50%;
    left: -6px;
    top: -7px;
    width: 12px;
    height: 7px;
    background: url(img/down-icon.png) no-repeat;
}
/* 下方 ]] */

/* 左边 [[ */
.jr-tips-wrap .left-tips-wrap {
    display: none; 
    position: absolute;
    top: -6px;
    right: 30px;
    padding: 6px 10px;
    width: 200px;
    border: 1px solid #FC6;
    background-color: #fffff0;
    line-height: 18px;
    color: #666;
}
.jr-tips-wrap:hover .left-tips-wrap {
    display: block;
}
.jr-tips-wrap .left-tips-wrap .tips-wrap-arrow {
    display: block;
    position: absolute;
    top: 7px;
    right: -7px;
    width: 7px;
    height: 10px;
    background: url(img/left-icon.png) no-repeat;
}
/* 左边 ]] */

/* 右边 [[ */
.jr-tips-wrap .right-tips-wrap {
    display: none; 
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 6px 10px;
    width: 205px;
    border: 1px solid #FC6;
    background-color: #fffff0;
    line-height: 18px;
    color: #666;
}
.jr-tips-wrap:hover .right-tips-wrap {
    display: block;
}
.jr-tips-wrap .right-tips-wrap .tips-wrap-arrow {
    display: block;
    position: absolute;
    top: 10px;
    left: -7px;
    width: 7px;
    height: 10px;
    background: url(../images/right-icon.png) no-repeat;
}
/* 右边 ]] */

