/*
animation:[<animation-name> || <animation-duration> || <animation-timing-function> || <animation-delay> || <animation-iteration-count> || <animation-direction>] ]
*/
.ui-tooltips {
  display: none;
  padding: 6px;
  font: normal 12px/1.5  "microsoft yahei" arial simsun;
  word-wrap: break-word;
  word-break: break-all;
  position: absolute;
  z-index: 100;
  border-radius: 3px;
}
.ui-tooltips .arrow {
  position: absolute;
}
.ui-tooltips .arrow-bg,
.ui-tooltips .arrow-bd {
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  overflow: hidden;
}
/* IE6边框不透明 */
.ui-tooltips .arrow-bg {
  border: 6px solid transparent;
  _border-style: dotted;
}
.ui-tooltips .arrow-bd {
  border: 7px solid transparent;
  _border-style: dotted;
}
/* yellow */
.ui-tooltips-yellow {
  color: #5b5316;
  background-color: #f9f2ba;
  border: 1px solid #e9d315;
}
.ui-tooltips-yellow .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-yellow .arrow-down .arrow-bg {
  border-top: 6px solid #f9f2ba;
  left: 1px;
}
.ui-tooltips-yellow .arrow-down .arrow-bd {
  border-top: 7px solid #e9d315;
}
.ui-tooltips-yellow .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-yellow .arrow-left .arrow-bg {
  border-right: 6px solid #f9f2ba;
  top: 1px;
  right: 0;
}
.ui-tooltips-yellow .arrow-left .arrow-bd {
  border-right: 7px solid #e9d315;
}
.ui-tooltips-yellow .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-yellow .arrow-top .arrow-bg {
  border-bottom: 6px solid #f9f2ba;
  top: 2px;
  left: 1px;
}
.ui-tooltips-yellow .arrow-top .arrow-bd {
  border-bottom: 7px solid #e9d315;
}
.ui-tooltips-yellow .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-yellow .arrow-right .arrow-bg {
  border-left: 6px solid #f9f2ba;
  top: 1px;
}
.ui-tooltips-yellow .arrow-right .arrow-bd {
  border-left: 7px solid #e9d315;
}
/* white */
.ui-tooltips-white {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
}
.ui-tooltips-white .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-white .arrow-down .arrow-bg {
  border-top: 6px solid #fff;
  left: 1px;
}
.ui-tooltips-white .arrow-down .arrow-bd {
  border-top: 7px solid #ddd;
}
.ui-tooltips-white .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-white .arrow-left .arrow-bg {
  border-right: 6px solid #fff;
  top: 1px;
  right: 0;
}
.ui-tooltips-white .arrow-left .arrow-bd {
  border-right: 7px solid #ddd;
}
.ui-tooltips-white .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-white .arrow-top .arrow-bg {
  border-bottom: 6px solid #fff;
  top: 2px;
  left: 1px;
}
.ui-tooltips-white .arrow-top .arrow-bd {
  border-bottom: 7px solid #ddd;
}
.ui-tooltips-white .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-white .arrow-right .arrow-bg {
  border-left: 6px solid #fff;
  top: 1px;
}
.ui-tooltips-white .arrow-right .arrow-bd {
  border-left: 7px solid #ddd;
}
/* blue */
.ui-tooltips-blue {
  color: #1b475a;
  background-color: #d9f1fb;
  border: 1px solid #7fcdee;
}
.ui-tooltips-blue .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-blue .arrow-down .arrow-bg {
  border-top: 6px solid #d9f1fb;
  left: 1px;
}
.ui-tooltips-blue .arrow-down .arrow-bd {
  border-top: 7px solid #7fcdee;
}
.ui-tooltips-blue .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-blue .arrow-left .arrow-bg {
  border-right: 6px solid #d9f1fb;
  top: 1px;
  right: 0;
}
.ui-tooltips-blue .arrow-left .arrow-bd {
  border-right: 7px solid #7fcdee;
}
.ui-tooltips-blue .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-blue .arrow-top .arrow-bg {
  border-bottom: 6px solid #d9f1fb;
  top: 2px;
  left: 1px;
}
.ui-tooltips-blue .arrow-top .arrow-bd {
  border-bottom: 7px solid #7fcdee;
}
.ui-tooltips-blue .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-blue .arrow-right .arrow-bg {
  border-left: 6px solid #d9f1fb;
  top: 1px;
}
.ui-tooltips-blue .arrow-right .arrow-bd {
  border-left: 7px solid #7fcdee;
}
/* green */
.ui-tooltips-green {
  color: #558221;
  background-color: #f2fdf1;
  border: 1px solid #b6e184;
}
.ui-tooltips-green .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-green .arrow-down .arrow-bg {
  border-top: 6px solid #f2fdf1;
  left: 1px;
}
.ui-tooltips-green .arrow-down .arrow-bd {
  border-top: 7px solid #b6e184;
}
.ui-tooltips-green .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-green .arrow-left .arrow-bg {
  border-right: 6px solid #f2fdf1;
  top: 1px;
  right: 0;
}
.ui-tooltips-green .arrow-left .arrow-bd {
  border-right: 7px solid #b6e184;
}
.ui-tooltips-green .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-green .arrow-top .arrow-bg {
  border-bottom: 6px solid #f2fdf1;
  top: 2px;
  left: 1px;
}
.ui-tooltips-green .arrow-top .arrow-bd {
  border-bottom: 7px solid #b6e184;
}
.ui-tooltips-green .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-green .arrow-right .arrow-bg {
  border-left: 6px solid #f2fdf1;
  top: 1px;
}
.ui-tooltips-green .arrow-right .arrow-bd {
  border-left: 7px solid #b6e184;
}
/* red */
.ui-tooltips-red {
  color: #fcfcfc;
  background-color: #bb3b1d;
  border: 1px solid #8f2a0f;
}
.ui-tooltips-red .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-red .arrow-down .arrow-bg {
  border-top: 6px solid #bb3b1d;
  left: 1px;
}
.ui-tooltips-red .arrow-down .arrow-bd {
  border-top: 7px solid #8f2a0f;
}
.ui-tooltips-red .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-red .arrow-left .arrow-bg {
  border-right: 6px solid #bb3b1d;
  top: 1px;
  right: 0;
}
.ui-tooltips-red .arrow-left .arrow-bd {
  border-right: 7px solid #8f2a0f;
}
.ui-tooltips-red .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-red .arrow-top .arrow-bg {
  border-bottom: 6px solid #bb3b1d;
  top: 2px;
  left: 1px;
}
.ui-tooltips-red .arrow-top .arrow-bd {
  border-bottom: 7px solid #8f2a0f;
}
.ui-tooltips-red .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-red .arrow-right .arrow-bg {
  border-left: 6px solid #bb3b1d;
  top: 1px;
}
.ui-tooltips-red .arrow-right .arrow-bd {
  border-left: 7px solid #8f2a0f;
}
/* black */
.ui-tooltips-black {
  color: #fcfcfc;
  background-color: #333;
  border: 1px solid #111;
}
.ui-tooltips-black .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-black .arrow-down .arrow-bg {
  border-top: 6px solid #333;
  left: 1px;
}
.ui-tooltips-black .arrow-down .arrow-bd {
  border-top: 7px solid #111;
}
.ui-tooltips-black .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-black .arrow-left .arrow-bg {
  border-right: 6px solid #333;
  top: 1px;
  right: 0;
}
.ui-tooltips-black .arrow-left .arrow-bd {
  border-right: 7px solid #111;
}
.ui-tooltips-black .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-black .arrow-top .arrow-bg {
  border-bottom: 6px solid #333;
  top: 2px;
  left: 1px;
}
.ui-tooltips-black .arrow-top .arrow-bd {
  border-bottom: 7px solid #111;
}
.ui-tooltips-black .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-black .arrow-right .arrow-bg {
  border-left: 6px solid #333;
  top: 1px;
}
.ui-tooltips-black .arrow-right .arrow-bd {
  border-left: 7px solid #111;
}
/*theme*/
.ui-tooltips-yellow {
  color: #5b5316;
  background-color: #fffff0;
  border: 1px solid #e1bd85;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 3px #ccc;
}
.ui-tooltips-yellow .arrow-down {
  width: 14px;
  height: 14px;
  left: -1px;
  bottom: -14px;
}
.ui-tooltips-yellow .arrow-down .arrow-bg {
  border-top: 6px solid #fef7d9;
  left: 1px;
}
.ui-tooltips-yellow .arrow-down .arrow-bd {
  border-top: 7px solid #e1bd85;
}
.ui-tooltips-yellow .arrow-left {
  width: 14px;
  height: 14px;
  left: -14px;
  top: -1px;
}
.ui-tooltips-yellow .arrow-left .arrow-bg {
  border-right: 6px solid #fef7d9;
  top: 1px;
  right: 0;
}
.ui-tooltips-yellow .arrow-left .arrow-bd {
  border-right: 7px solid #e1bd85;
}
.ui-tooltips-yellow .arrow-top {
  width: 14px;
  height: 14px;
  top: -14px;
  left: -1px;
}
.ui-tooltips-yellow .arrow-top .arrow-bg {
  border-bottom: 6px solid #fef7d9;
  top: 2px;
  left: 1px;
}
.ui-tooltips-yellow .arrow-top .arrow-bd {
  border-bottom: 7px solid #e1bd85;
}
.ui-tooltips-yellow .arrow-right {
  width: 14px;
  height: 14px;
  top: -1px;
  right: -14px;
}
.ui-tooltips-yellow .arrow-right .arrow-bg {
  border-left: 6px solid #fef7d9;
  top: 1px;
}
.ui-tooltips-yellow .arrow-right .arrow-bd {
  border-left: 7px solid #e1bd85;
}
.ui-tooltips-show {
  visibility: visible !important;
  animation: ani-ui-tooltips-show 300ms ease 0ms 1 both;
  -moz-animation: ani-ui-tooltips-show 300ms ease 0ms 1 both;
  -ms-animation: ani-ui-tooltips-show 300ms ease 0ms 1 both;
  -webkit-animation: ani-ui-tooltips-show 300ms ease 0ms 1 both;
  -o-animation: ani-ui-tooltips-show 300ms ease 0ms 1 both;
}
.ui-tooltips-hide {
  visibility: hidden !important;
  animation: ani-ui-tooltips-hide 300ms ease 0ms 1 both;
  -moz-animation: ani-ui-tooltips-hide 300ms ease 0ms 1 both;
  -ms-animation: ani-ui-tooltips-hide 300ms ease 0ms 1 both;
  -webkit-animation: ani-ui-tooltips-hide 300ms ease 0ms 1 both;
  -o-animation: ani-ui-tooltips-hide 300ms ease 0ms 1 both;
}
.ui-tooltips-show-right {
  visibility: visible !important;
  animation: ani-ui-tooltips-show-right 300ms ease 0ms 1 both;
  -moz-animation: ani-ui-tooltips-show-right 300ms ease 0ms 1 both;
  -ms-animation: ani-ui-tooltips-show-right 300ms ease 0ms 1 both;
  -webkit-animation: ani-ui-tooltips-show-right 300ms ease 0ms 1 both;
  -o-animation: ani-ui-tooltips-show-right 300ms ease 0ms 1 both;
}
.ui-tooltips-show-right .arrow-left .arrow-bd {
  border-right: 7px solid #ccc;
}
.ui-tooltips-show-right .arrow-left .arrow-bg {
  border-right: 6px solid #fff;
  top: 1px;
  right: 0;
}
.ui-tooltips-hide-right {
  visibility: hidden !important;
  animation: ani-ui-tooltips-hide-right 300ms ease 0ms 1 both;
  -moz-animation: ani-ui-tooltips-hide-right 300ms ease 0ms 1 both;
  -ms-animation: ani-ui-tooltips-hide-right 300ms ease 0ms 1 both;
  -webkit-animation: ani-ui-tooltips-hide-right 300ms ease 0ms 1 both;
  -o-animation: ani-ui-tooltips-hide-right 300ms ease 0ms 1 both;
}
/*显示*/
@-webkit-keyframes ani-ui-tooltips-show {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes ani-ui-tooltips-show {
  0% {
    -moz-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-ms-keyframes ani-ui-tooltips-show {
  0% {
    -ms-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -ms-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes ani-ui-tooltips-show {
  0% {
    -o-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -o-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes ani-ui-tooltips-show {
  0% {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
/*隐藏*/
@-webkit-keyframes ani-ui-tooltips-hide {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes ani-ui-tooltips-hide {
  0% {
    -moz-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-ms-keyframes ani-ui-tooltips-hide {
  0% {
    -ms-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -ms-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes ani-ui-tooltips-hide {
  0% {
    -o-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -o-transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes ani-ui-tooltips-hide {
  0% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
/*显示*/
@-webkit-keyframes ani-ui-tooltips-show-right {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes ani-ui-tooltips-show-right {
  0% {
    -moz-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-ms-keyframes ani-ui-tooltips-show-right {
  0% {
    -ms-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -ms-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes ani-ui-tooltips-show-right {
  0% {
    -o-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -o-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes ani-ui-tooltips-show-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
/*隐藏*/
@-webkit-keyframes ani-ui-tooltips-hide-right {
  0% {
    -webkit-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes ani-ui-tooltips-hide-right {
  0% {
    -moz-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -moz-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-ms-keyframes ani-ui-tooltips-hide-right {
  0% {
    -ms-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -ms-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes ani-ui-tooltips-hide-right {
  0% {
    -o-transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -o-transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes ani-ui-tooltips-hide-right {
  0% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=tooltips.css.map */