@import url(deal-center.css);


/** 批量转账到易付宝 **/
.wrap{width: 100%;height: 100%;position: fixed;top: 0;left:0;bottom:0;background: #000000;opacity: 0.4;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);z-index: 999;display: none;}
.three-menu .three-menu-item.batch-transfer a {padding-left:60px;}
.three-menu .three-menu-item.batch-transfer a .icon {left:28px;background:url(../images/transfer_batch.png) no-repeat;}
.three-menu .three-menu-item.batch-transfer a .icon-1 {height:17px;top:16px;background-position:0 0;}
.three-menu .three-menu-item.batch-transfer a .icon-2 {height: 16px;top: 16px;background-position:-23px 0;}
.three-menu .three-menu-item.batch-transfer a .icon-3 {width: 18px;height: 16px;background: url(../images/icon-3.png) no-repeat center;margin-top: -1px;}
.batch-payment .content img.guide{position: fixed;top: 50%;right:50%;z-index: 999;display: none;border: 4px solid #FFFFF0;}
.batch-payment .content .tab-list li{float:left;cursor: pointer; position: relative;font-size: 14px;line-height: 28px;color: #666;display: inline-block;padding: 0 10px;}
.batch-payment .content .tab-list li.font{font-size: 12px;color: #bbb;}
.batch-payment .content .tab-list li.hover{color: #fff;background: #39f;}
.batch-payment .content .tab-list span{display:inline-block;font-size:12px;color: #bbb;padding: 0 10px; }

/*上传表格 start*/
.content-list .upload-table table{width: 930px;table-layout: fixed;}

.content-list .upload-table table thead tr th{background: #dce9f5;}
.content-list .upload-table table thead th{height: 39px;font-size: 14px;color: #666;border: 1px solid #c4d4e3;border-right: 0;text-align: center;}
.content-list .upload-table table thead th.end{border-right:1px solid #c4d4e3;}
.content-list .upload-table thead .number{width: 58px;}
.content-list .upload-table thead .payee-name{width: 133px;text-align: left;padding: 0 10px;}
.content-list .upload-table thead .payee-type{width: 139px;} 
.content-list .upload-table thead .account-number{width: 168px;}
.content-list .upload-table thead .amount{width: 132px;}
.content-list .upload-table thead .purpose{padding: 0 10px;} 
.content-list .upload-table thead .check{width: 119px;} 


.content-list .upload-table table td input{border:0; }
.content-list .upload-table table tr{background: #fff;}
.content-list .upload-table table td{height: 52px;font-size: 14px;color: #333;border: 1px solid #eee;border-right: 0;border-top: 0;text-align: center;}
.content-list .upload-table table td.end{border-right:1px solid #eee;background: #fafafa;}
.content-list .upload-table tbody .number{width: 58px;}
.content-list .upload-table tbody .payee-name{width: 133px;text-align: left;padding: 0 10px;}
.content-list .upload-table tbody .payee-name input{width: 133px;}
.content-list .upload-table tbody .payee-type{width: 139px;} 
.content-list .upload-table tbody .account-number{width: 168px;text-align: center;}
.content-list .upload-table tbody .account-number input{width: 166px;}
.content-list .upload-table tbody .amount{width: 132px;}
.content-list .upload-table tbody .amount input{width: 130px;}
.content-list .upload-table tbody .purpose{padding: 0 10px;} 
.content-list .upload-table tbody .check{width: 119px;}
.content-list .upload-table tbody .check.err-text{color: #ff5555;;}
.content-list .upload-table tbody input[type='radio']{vertical-align: middle;}
.content-list .upload-table tbody input[type='radio'].radio-two{margin-left: 6px;}
/*上传表格 end*/

.quick-fill .info-list label{font-size: 14px;line-height: 30px;color: #666;margin-left: 26px;width: auto;}
.quick-fill .info-list span{font-size: 14px;line-height: 30px; color: #333;font-weight: bold;}
.quick-fill .info-list li{display: inline-block; float: left; width: 280px;}
.quick-fill .info-list .unclick{position: absolute; display: inline-block;width: 94px;height: 32px;line-height:32px;top:20px; right: 27px;text-align: center; border: 1px solid #ddd;color: #ddd;border-radius: 3px;cursor: not-allowed;}
.payment-date{padding: 30px 0 25px 0;}
.payment-date span{position: relative;}
/*到账时间提示浮框*/
.account-type-tip{
	position: absolute;
	top: 8px;
	left: 105px;
	*left: 110px;
	z-index: 99;
	width: 100px;
	padding: 5px;
	font-size: 12px;
	color: #333;
	background-color: #fff;
	border:1px solid #666;
	word-break:break-all;
	display: none;	
}
.payment-date label{display: inline-block;width: 350px; font-size: 16px;color: #333;font-weight: bold;text-align: right;}
.payment-date input[type='radio']{vertical-align: middle;}
.payment-date span{display: inline-block;width: 112px;text-align: left;font-size: 16px;color: #333;}
.payment-date i{display: inline-block; height: 16px;width: 16px;background: url(../images/icon-warn.png) no-repeat center;vertical-align: middle;margin: -3px 0 0 3px;}
.agreement{text-align: center;font-size: 14px;color: #333;}
.agreement .agree{display: inline-block;width: 13px;height: 13px;background: url(../images/checkboxyes.png) no-repeat center;vertical-align: middle;margin-right: 8px;}
.agreement .disagree{display: inline-block;width: 13px;height: 13px;background: url(../images/checkboxno.png) no-repeat center;vertical-align: middle;margin-right: 8px;}
.agreement input[type='checkbox']{padding: 0 7px; vertical-align: middle;margin-top: -1px;}
.agreement a{color: #39f;}
.agreement a:hover{text-decoration: underline;}
.agreement .unclick{width: 147px;height: 38px;line-height: 38px; font-size: 16px;color: #ccc;font-weight: bold;border: 1px solid #ccc;border-radius: 3px;margin: 20px auto 60px;cursor: not-allowed;}
.agreement .J_okpay{color: #fff;background: #ffad19;cursor: pointer;border: 1px solid #ffad19;}

.more-agreement{font-size: 14px; color: #999;text-align: center;padding-bottom: 30px;}
.more-agreement a{color: #39f;text-decoration: underline;}
.more-agreement span{color: #39f;}
.upload-files .more-agreement label{width: auto;}
.upload-files{font-size: 14px; color: #666; }
.upload-files .select-file-opera label{float:left;display: inline-block;width: 350px;height: 30px;line-height:30px;text-align: right;}
.upload-files .download-template{margin-top: 15px; margin-bottom: 16px;}
.upload-files .download-template label{display:inline-block;width: 350px;text-align: right;}
.upload-files .download-template a{color: #39f;}
.upload-files .download-template a.a_search{margin-left: 85px;color: #39f;font-size: 14px;padding: 0;border: 0;}
.upload-files .download-template a:hover{text-decoration: underline;}
.upload-files .file-path{float:left;font-size: 14px; width: 208px;height: 28px;color: #333; line-height: 28px;border: 1px solid #ccc;background: #fff;padding: 0 5px;position: relative;z-index: 888;}
.upload-files .file{font-size: 14px; width: 84px;height: 30px;color: #333; line-height: 28px;*line-height:22px;border: 1px solid #ccc;text-align: center;background: #fff;font-family: "微软雅黑";margin-left: 5px;}
.upload-files .J_upload{float:left;font-size: 14px;font-weight: bold; height: 30px;width: 84px;line-height: 28px;*line-height:22px;color: #fff;background: #ffad19;border: 1px solid #ffad19;text-align: center;border-radius: 1px;    font-family: "微软雅黑";margin-left: 9px;}
.upload-files .text{font-size: 12px;color:#999;margin: 3px 0 0 355px; padding-bottom: 25px;}
.page .posi-left{float: left;width: 90px;height: 30px;line-height: 30px; font-size: 14px;color: #fff;font-weight: bold;text-align: center; background: #ffab19;border-radius: 1px;cursor: pointer;}
.upload-files .quick-fill .info-list ul{border-top:1px solid #eee;}
.account-number input,.amount input,.purpose input{text-align: center;}
.amount input{width: 133px;}
.purpose input{width: 133px;}
.quick-fill .unclick.J_confirm{color: #fff;background: #ffad19;cursor: pointer;border: 1px solid #ffad19;}
.upload-files div .up{margin-left:9px;position:relative;float:left;width:84px;height:28px;text-align:center;line-height:28px;border:1px solid #c2c2c2;font-size:14px;color: #333;overflow: hidden;}
.upload-files div .up input {cursor:pointer;z-index:1;position:absolute;left:-25px;top:0;width:130%;height:100%;opacity:0;filter:alpha(opacity=0);margin-left:0;font-size: 0;}
/*确认弹框样式*/
.ui-dialog-wrap p{font-size: 16px;color: #333;text-align: center;}
.ui-dialog-wrap p.first{margin-top: 45px;}
.ui-dialog-wrap p em{color: #ff7700;}
.ui-dialog-wrap .buttonList{padding-bottom: 32px;text-align: center;}
.ui-dialog-wrap .buttonList div{display: inline-block;float: left;}
.ui-dialog-wrap .confirm{font-size: 16px; width: 98px;height: 38px;line-height: 38px; color: #fff;background: #ffb433;border: 1px solid #ffb433;border-radius: 4px;margin-top: 34px;margin-right: 20px;*margin-left:135px;cursor: pointer;}
.ui-dialog-wrap .cancel{font-size: 16px; width: 98px;height: 38px;line-height: 38px; color: #333;background: #fff;border: 1px solid #ccc;border-radius: 4px;margin-top: 34px;cursor: pointer;}
/*确认核对弹窗 --- 数据变更提示弹窗*/
.ui-dialog-wrap p.oP{width: 285px;margin:0 auto;word-break:break-all;font-size: 16px;color: #333333;padding: 40px 0 45px 0;}
.ui-dialog-wrap .btn-wrap{text-align: center;padding-bottom: 30px;}
.ui-dialog-wrap .btn-wrap a.oA{display: inline-block;text-align: center;margin-top: 0;}

/*快速填写表格--新 start*/
.quick-fill .info-list {
	position: relative;
}

.quick-fill .info-list ul {
	position: relative;
	width: 911px;
	padding: 8px;
	border: 1px solid #eee;
	border-top: 0;
}
.fill-table{
	margin-top: 14px;
}
.fill-table table {
	font-size: 14px;
	color: #666666;
	font-family: "microsoft yahei";
	text-align: center;
	/*边框不会合并为一个单一的边框*/
	border-collapse:separate;
}

.fill-table table .t-head {
	height: 34px;
}

.fill-table table .t-body {
	height: 30px;
}

.fill-table table .t-body td {
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	position: relative;
}

.fill-table table tr th {
	font-weight: normal;
	border-top: 1px solid #c4d4e3;
	border-bottom: 1px solid #c4d4e3;
	border-left: 1px solid #c4d4e3;
	background: #dce9f5;
	text-align: center;	
}

.fill-table .bright2 {
	border-right: 1px solid #eeeeee;
	background: #fafafa;
}
.fill-table .error-res{
	color: #ff5555;
}
.fill-table .bright {
	border-right: 1px solid #c4d4e3;
}

.fill-table .column {
	height: 27px;
	line-height: 27px;
	border: 0;
	outline: none;
	text-align: center;
	font-size: 14px;
	color: #666666!important;
	font-family: "microsoft yahei";
	padding: 0 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.fill-table .column02 {
	width: 141px;
}

.fill-table .column03 {
	width: 157px;
}

.fill-table .column05 {
	width: 121px;
}

.fill-table .column06 {
	width: 140px;
}

/*快速填写表格--新 end*/
