@charset "utf-8";
@import "platform-common.css";

.search-form-box {
    padding: 14px 0 30px;
    border-bottom: 1px solid #E8E8E8;
}
.search-form-box dl {
    float: left;
    height: 30px;
}
.search-form-box dl.mb {
    margin-bottom: 20px;
}
.search-form-box dl.mr {
    margin-right: 84px;
}
.search-form-box dt {
    float: left;
    min-width: 42px;
    height: 30px;
    font-size: 14px;
    color: #333;
    padding-right: 6px;
    line-height: 30px;
}
.search-form-box dd {
    float: left;
    width: 260px;
}
.search-form-box dd .platform-input {
    width: 238px;
}

.search-form-box dd .platform-select {
    width: 260px;
}
.search-form-box dd .platform-select .select-input {
    width: 238px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    outline: none;
    padding: 4px 10px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.search-form-box dd .platform-select .select-box {
    width: 258px;
}
.search-form-box dd .platform-input.date {
    float: left;
    width: 94px;
}
.search-form-box dd .date-txt {
    float: left;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.search-form-box dd .platform-button {
    width: 78px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
}

.withdraw-account-table-wrap {

}
.withdraw-account-table-wrap .top-ctrl {
    margin: 20px 0;
}
.withdraw-account-table-wrap .top-ctrl .platform-button {
    width: 78px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    float: left;
}
.withdraw-account-table-wrap .top-ctrl .platform-button .btn-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 6px;
    background-position: center;
    background-repeat: no-repeat;
}
.withdraw-account-table-wrap .top-ctrl .platform-button .btn-icon.icon-add {
    background-image: url(../images/icon-add.png);
}
.withdraw-account-table-wrap .top-ctrl .platform-button .btn-icon.icon-import {
    background-image: url(../images/icon-import.png);
}
.withdraw-account-table-wrap .top-ctrl .platform-button .btn-icon.icon-export {
    height: 15px;
    margin-top: 6px;
    background-image: url(../images/icon-export.png);
}
.withdraw-account-table-wrap .withdraw-account-table-box {

}
.withdraw-account-table-wrap .withdraw-account-table {
    overflow-x: auto;
    width: 1078px;
    float: left;
    border: 1px solid #e8e8e8;
    border-bottom: 0 none;
    border-right: 0 none;
}
.withdraw-account-table-wrap .withdraw-account-table .platform-table {
    width: 1600px;
    border: 0 none;
}
.withdraw-account-table-wrap .withdraw-account-table .platform-table .fail-detail {
    text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
}
.pagination-box {
    margin-top: 20px;
}

.withdraw-account-table-wrap .withdraw-account-table-ctrl {
    width: 68px;
    float: left;
    border: 1px solid #e8e8e8;
    border-bottom: 0 none;
    border-left: 0 none;
    box-shadow: -4px 4px 10px rgba(221, 221, 221, .6);
    -webkit-box-shadow: -4px 4px 10px rgba(221, 221, 221, .6);
    -moz-box-shadow: -4px 4px 10px rgba(221, 221, 221, .6);
    -ms-box-shadow: -4px 4px 10px rgba(221, 221, 221, .6);
}
.withdraw-account-table-wrap .withdraw-account-table-ctrl .platform-table {
    border: 0 none;
}



.add-account-dialog-body {
    max-height: 524px;
    overflow-y: auto;
}
.add-account-dialog-body .add-account-form {
    padding-top: 30px;
}
.add-account-dialog-body .add-account-form dl {
    margin-bottom: 10px;
}
.add-account-dialog-body .add-account-form dt {
    width: 138px;
    padding-right: 6px;
    text-align: right;
    font-size: 14px;
    color: #333;
    height: 30px;
    line-height: 30px;
    float: left;
}
.add-account-dialog-body .add-account-form dd {
    float: left;
}
.add-account-dialog-body .add-account-form .input-field {
    float: left;
}
.add-account-dialog-body .add-account-form .input-field .error-tip {
    display: none;
    font-size: 12px;
    color: #FF3535;
    line-height: 12px;
    margin-top: 6px;
}
.add-account-dialog-body .add-account-form .platform-input {
    width: 258px;
}

.add-account-dialog-body .add-account-form .platform-select {
    width: 280px;
}
.add-account-dialog-body .add-account-form .platform-select .select-input {
    width: 258px;
}
.add-account-dialog-body .add-account-form .platform-select .select-box {
    width: 278px;
}

.add-account-dialog-body .dialog-ctrl {
    text-align: center;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 30px;
}
.add-account-dialog-body .dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}
.add-account-dialog-body .dialog-ctrl .platform-button.mr {
    margin-right: 20px;
}
.condition-list .condition-item{
	position: relative;
	float: right;
	margin-top: 16px;
	margin-right: 18px;
}
.condition-list .condition-item-company{
	position: relative;
	float: right;
	margin-top: 16px;
	margin-right: 16px;
}
.pop-add-list .condition-item.item-btn {
    margin: 22px 60px 21px 200px;
}
.result-text>div{
	width: 242px;
	margin-left: 0px;	
}
.common-import-dialog .result-text .fail {
	padding: 11px 20px 11px 43px;
}
.condition-item .condition-input .jr-select .select-input-hidden{
	position:absolute;
	z-index:-1;
	font-size:0;
	border:0;
	left:-1000%;
}