@charset "utf-8";

@import "platform-common.css";

.withdraw-apply-form {

}

.withdraw-apply-form dl {
    margin-bottom: 20px;
    position: relative;
}

.withdraw-apply-form dt {
    float: left;
    width: 484px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    color: #333;
    padding-right: 6px;

}

.withdraw-apply-form dd {
    float: left;
    line-height: 30px;
    font-size: 14px;
    width: 658px;
}

.withdraw-apply-form dd .platform-input {
    width: 258px;
    float: left;
}

.withdraw-apply-form dd .platform-select {
    width: 280px;
    float: left;
}

.withdraw-apply-form dd .platform-select .select-input {
    width: 258px;
}

.withdraw-apply-form dd .platform-select .input {
    width: 258px;
}

.withdraw-apply-form dd .platform-select .select-box {
    width: 278px;
}

.withdraw-apply-form dd .tip-txt {
    font-size: 12px;
    color: #999;
    line-height: 30px;
    margin-left: 10px;
    float: left;
}

.withdraw-apply-form dd .err{
    color: red;
}

.withdraw-apply-form dd .submit-button {
    float: left;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}

.withdraw-apply-form dd .file-btn {
    float: left;
    width: 68px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    margin-left: 20px;
    font-size: 12px;
}

.withdraw-apply-form dd .result-text {
    width: 436px;
    float: left;
}

.withdraw-apply-form dd .result-text .success {
    margin-top: 8px;

}

.withdraw-apply-form dd .result-text .success .icon {
    width: 21px;
    height: 21px;
    background: url(../images/tip-icon-success.png) 0 0 no-repeat;
    margin-right: 4px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.withdraw-apply-form dd .result-text .success .title {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    display: inline-block;
}

.withdraw-apply-form dd .result-text .fail {
    background: #FBFBFB;
    border: 1px solid #CCCCCC;
    padding: 12px;
    overflow-y: auto;
    margin-top: 8px;

}

.withdraw-apply-form dd .result-text .fail .icon {
    width: 21px;
    height: 21px;
    background: url(../images/tip-icon-error.png) 0 0 no-repeat;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.withdraw-apply-form dd .result-text .fail .title {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
    display: inline-block;
}

.withdraw-apply-form dd .result-text .fail .error-txt {
    display: block;
    margin-top: 8px;
    padding-left: 31px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    white-space: nowrap;
}

.withdraw-apply-form dd .tmpl-link {
    line-height: 30px;
    color: #39f;
    margin-left: 10px;
    float: left;
}

.inf-confirm-dialog-body {
    padding: 38px 0 30px;
}

.inf-confirm-dialog-body dl {
    margin-bottom: 26px;
    font-size: 14px;
    color: #333;
    line-height: 14px;
    height: 14px;
}

.inf-confirm-dialog-body dt {
    float: left;
    width: 223px;
    padding-right: 6px;
    text-align: right;

}

.inf-confirm-dialog-body dd {
    float: left;
}

.inf-confirm-dialog-body .dialog-ctrl {
    text-align: center;
    font-size: 0;
    margin-top: 2px;
}

.inf-confirm-dialog-body .dialog-ctrl .platform-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
}

.inf-confirm-dialog-body .dialog-ctrl .platform-button.mr {
    margin-right: 20px;
}

/*loading*/
.loading-box {
    position: fixed;
    width: 116px;
    height: 132px;
    left: 50%;
    margin-left: -58px;
    top: 50%;
    margin-top: -66px;
    /* background: #333; */
    color: #333;
    text-align: center;
    z-index: 9999;
}

.loading-box p {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 25px;
    font-size: 14px;
}