.xy_box{
    padding:  10px 30px 60px;
    font: normal 14px/24px 'microsoft yahei';
    color: #333;
    text-indent: 2em;
}
.xy_box h3{
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    border-bottom: 1px dashed #ddd;
}
.xy_box h3 span{
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.xy_box p{
    padding-bottom: 5px;
}
.xy_box p b{
    font-weight: bold;
}