body,
input,
div,
span,
dd,
dt,
dl {
	margin: 0;
	padding: 0;
}

.cal-close {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 15px;
	height: 15px;
	font-size: 0;
	background: url(../../images/oca/calendarIcon.png) no-repeat right -13px;
	cursor: pointer;
	text-indent: -20px;
}

.calendar {
	float: left;
  	padding: 10px 18px;
	position: relative;
	border: 1px solid #D3DCE6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
	border-radius: 2px;
	background: #fff;
}

.calendar > i {
    position: absolute;
    display: inline-block;
    top: 21px;
    width: 8px;
    line-height: 34px;
    height: 11px;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 1;
}

.calendar > i:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.calendar > i.month-prev {
    background: url(../../images/oca/icon-arrow-calendar.png) -6px 0 no-repeat;
    left: 62px;
}

.calendar > i.month-next {
    background: url(../../images/oca/icon-arrow-calendar.png) 1px 0 no-repeat;
    right: 62px;
}

.calendar > i.year-prev {
    width: 12px;
    background: url(../../images/oca/icon-arrow-calendar.png) -24px 0 no-repeat;
    left: 27px;
}

.calendar > i.year-next {
    width: 12px;
    background: url(../../images/oca/icon-arrow-calendar.png) -13px 0 no-repeat;
    right: 27px;
}

.calendar dl,
.calendar dd {
	margin: 0;
	padding: 0;
	width: 230px;
	font-size: 12px;
	line-height: 24px;
}

.calendar dt.title-date {
	font-size: 14px;
	color: #475669 !important;
	width: 100%;
	background: none;
	border: none;
	display: block;
	line-height: 34px;
	height: 34px;
	position: relative;
}

.calendar dt {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
	color: #666;
	background: none !important;
	border: none !important;
}

.calendar dt.week {
  font-size: 12px;
  color: #8492A6 !important;
}

.calendar dt.last {
	padding-left: 1px;
	border-right: none;
}

.calendar dt.first {
	padding-left: 1px;
}

.calendar dd {
	clear: both;
	width: 231px;
	font-weight: 700;
    overflow: hidden;
	margin: 0;
}

.prevyear {
	left: 4px;
	width: 9px;
}

.prevmonth {
	width: 5px;
	background-position: -9px 0;
	left: 20px;
}

.nextyear {
	width: 9px;
	background-position: -19px 0;
	right: 5px;
}

.nextmonth {
	width: 5px;
	background-position: -14px 0;
	right: 20px;
}

.calendar dd a {
	float: left;
    width: 32px;
	height: 32px;
    line-height: 32px;
	overflow: hidden;
	text-decoration: none;
  	font-weight: normal;
	text-align: center;
  	color: #475669;
}

.calendar dd a.hover {
  background: #ff9500;
	color: #fff;
}

.calendar dd a:hover {
  background: #ff9500;
  color: #fff;
}

.calendar dd a.disabled:hover,
.calendar dd a.disabled {
	background: #fff;
	color: #999;
	cursor: default;
}

.calendar dd a.startdate {
	background: #06c;
	color: #fff;
}

.calendar dd a.yuandan,
.calendar dd a.chuxi,
.calendar dd a.chunjie,
.calendar dd a.yuanxiao,
.calendar dd a.qingming,
.calendar dd a.wuyi,
.calendar dd a.duanwu,
.calendar dd a.zhongqiu,
.calendar dd a.guoqing,
.calendar dd a.today {
	text-indent: -999px;
	background: url(../../images/oca/calendarFestival.png) no-repeat;
}

.calendar dd a.yuandan {
	background-position: 5px 5px;;
}

.calendar dd a.chuxi {
	background-position: 4px -26px;
}

.calendar dd a.chunjie {
	background-position: 4px -56px;
}

.calendar dd a.yuanxiao {
	background-position: 4px -86px;
}

.calendar dd a.qingming {
	background-position: 4px -116px;
}

.calendar dd a.wuyi {
	background-position: 4px -146px;
}

.calendar dd a.duanwu {
	background-position: 4px -176px;
}

.calendar dd a.zhongqiu {
	background-position: 4px -206px;
}

.calendar dd a.guoqing {
	background-position: 4px -236px;
}

.calendar dd a.today {
	background-position: 4px -266px;
}

.calendar dd a.yuandan:hover,
.calendar dd a.yuandan:hover .select-range,
.calendar dd a.yuandan .selected,
.calendar dd a.yuandan .start-date {
	background-position: -27px 5px;
}

.calendar dd a.chuxi:hover,
.calendar dd a.chuxi:hover .select-range,
.calendar dd a.chuxi .selected,
.calendar dd a.chuxi .start-date {
	background-position: -27px -25px;
}

.calendar dd a.chunjie:hover,
.calendar dd a.chunjie:hover .select-range,
.calendar dd a.chunjie .selected,
.calendar dd a.chunjie .start-date {
	background-position: -27px -55px;
}

.calendar dd a.yuanxiao:hover,
.calendar dd a.yuanxiao:hover .select-range,
.calendar dd a.yuanxiao .selected,
.calendar dd a.yuanxiao .start-date {
	background-position: -27px -85px;
}

.calendar dd a.qingming:hover,
.calendar dd a.qingming:hover .select-range,
.calendar dd a.qingming .selected,
.calendar dd a.qingming .start-date {
	background-position: -27px -115px;
}

.calendar dd a.wuyi:hover,
.calendar dd a.wuyi:hover .select-range,
.calendar dd a.wuyi .selected,
.calendar dd a.wuyi .start-date {
	background-position: -27px -145px;
}

.calendar dd a.duanwu:hover,
.calendar dd a.duanwu:hover .select-range,
.calendar dd a.duanwu .selected,
.calendar dd a.duanwu .start-date {
	background-position: -27px -175px;
}

.calendar dd a.zhongqiu:hover,
.calendar dd a.zhongqiu:hover .select-range,
.calendar dd a.zhongqiu .selected,
.calendar dd a.zhongqiu .start-date {
	background-position: -27px -205px;
}

.calendar dd a.guoqing:hover,
.calendar dd a.guoqing:hover .select-range,
.calendar dd a.guoqing .selected,
.calendar dd a.guoqing .start-date {
	background-position: -27px -235px;
}

.calendar dd a.today:hover,
.calendar dd a.today:hover .select-range,
.calendar dd a.today .selected,
.calendar dd a.today .start-date {
	background-position: 4px -266px;
}

.calendar dd a.end-date,
.cal-end dd a:hover,
.cal-end dd a.select-range:hover {
	color: #fff;
	background-color: #e2ad44;
}

.calendar dd a.yuandan .end-date,
.cal-end dd a.yuandan:hover,
.cal-end dd a.yuandan:hover .select-range {
	background-position: -62px 0;
}

.calendar dd a.chuxi .end-date,
.cal-end dd a.chuxi:hover,
.cal-end dd a.chuxi:hover .select-range {
	background-position: -62px -30px;
}

.calendar dd a.chunjie .end-date,
.cal-end dd a.chunjie:hover,
.cal-end dd a.chunjie:hover .select-range {
	background-position: -62px -60px;
}

.calendar dd a.yuanxiao .end-date,
.cal-end dd a.yuanxiao:hover,
.cal-end dd a.yuanxiao:hover .select-range {
	background-position: -62px -90px;
}

.calendar dd a.qingming .end-date,
.cal-end dd a.qingming:hover,
.cal-end dd a.qingming:hover .select-range {
	background-position: -62px -120px;
}

.calendar dd a.wuyi .end-date,
.cal-end dd a.wuyi:hover,
.cal-end dd a.wuyi:hover .select-range {
	background-position: -62px -150px;
}

.calendar dd a.duanwu .end-date,
.cal-end dd a.duanwu:hover,
.cal-end dd a.duanwu:hover .select-range {
	background-position: -62px -180px;
}

.calendar dd a.zhongqiu .end-date,
.cal-end dd a.zhongqiu:hover,
.cal-end dd a.zhongqiu:hover .select-range {
	background-position: -62px -210px;
}

.calendar dd a.guoqing .end-date,
.cal-end dd a.guoqing:hover,
.cal-end dd a.guoqing:hover .select-range {
	background-position: -62px -240px;
}

.calendar dd a.today .end-date,
.cal-end dd a.today:hover,
.cal-end dd a.today:hover .select-range {
	background-position: -62px -270px;
}

.calendar dd a.select-range {
	background-color: #d9f2ff;
}

.calendar dd a.yuandan .select-range {
	background-position: -93px 0;
}

.calendar dd a.chuxi .select-range {
	background-position: -93px -30px;
}

.calendar dd a.chunjie .select-range {
	background-position: -93px -60px;
}

.calendar dd a.yuanxiao .select-range {
	background-position: -93px -90px;
}

.calendar dd a.qingming .select-range {
	background-position: -93px -120px;
}

.calendar dd a.wuyi .select-range {
	background-position: -93px -150px;
}

.calendar dd a.duanwu .select-range {
	background-position: -93px -180px;
}

.calendar dd a.zhongqiu .select-range {
	background-position: -93px -210px;
}

.calendar dd a.guoqing .select-range {
	background-position: -93px -240px;
}

.calendar dd a.today .select-range {
	background-position: -93px -270px;
}

.calendar > span.now {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3C76FB;
    border-top: 2px solid #E9E9E9;
    cursor: pointer;
}

.calendar > span.now:hover {
    font-weight: bold;
}

.cal-end dd a.hover {
	background-color: #bbddf4;
}

.cal-end dd a.yuandan .hover {
	background-position: -124px 0;
}

.cal-end dd a.chuxi .hover {
	background-position: -124px -30px;
}

.cal-end dd a.chunjie .hover {
	background-position: -124px -60px;
}

.cal-end dd a.yuanxiao .hover {
	background-position: -124px -90px;
}

.cal-end dd a.qingming .hover {
	background-position: -124px -120px;
}

.cal-end dd a.wuyi .hover {
	background-position: -124px -150px;
}

.cal-end dd a.duanwu .hover {
	background-position: -124px -180px;
}

.cal-end dd a.zhongqiu .hover {
	background-position: -124px -210px;
}

.cal-end dd a.guoqing .hover {
	background-position: -124px -240px;
}

.cal-end dd a.today .hover {
	background-position: -124px -270px;
}

.calendar-time {
	float: left;
	clear: left;
	/* 2018-znn-modify : margin: 15px 0 0 7px */
	margin: 15px 0 0 32px;
	color: #333;
	_display: inline;
}

.calendar-time strong {
	font-size: 14px;
	font-weight: 700;
}

.calendar-time .plan {
	clear: left;
	float: left;
	/* 2018-znn-modify : width: 185px */
	width: 189px;
	margin-top: 15px;
}

.calendar-time .plan span {
	float: left;
	width: 12px;
	/* 2018-znn-modify : margin-top: -6px */
	margin: -6px 5px 0 0;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.calendar-time .plan .barM {
	float: left;
	position: relative;
	width: 170px;
	height: 3px;
	border: 1px solid #aaa;
	background: #d8d8d8;
	font-size: 0;
}

.calendar-time .plan .bar {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: -5px;
	width: 17px;
	height: 13px;
	background: url(../../images/oca/calendarIcon.png) no-repeat;
}
