.header{
    width: 100%;
    height: 76px;
    text-align: center;
    background-color: #ffffff;
}
.header .content-nr{
    width: 1190px;
    margin: 0 auto;
}
.header .title{
    width: 230px;
    font-size: 24px;
    height: 30px;
    margin-top: 26px;
    line-height: 30px;
    color: #FF8000;
    float: left;
    display: inline;
}
.header .nav-list{
    padding-top: 30px;
    width: 515px;
    float: right;
}
.header .item{
    float: left;
    display: inline;
    font-size: 14px;
    margin: 0 23px;
    line-height: 26px; 
}
.header .item a{
    color: #666666;
}
.header .current a{
    color: #FF8000;
}
.header .current{
    border-bottom: 3px solid #FF8000;
}


/***列表页滚动条样式[[***/

.main-hidden{
    overflow: hidden;
    padding-bottom: 2px;
}
.main-hidden .query-box-list{
    position: relative;
}
.main-hidden .main-criteria{
    position: relative;
    z-index: 13;
    background-color: #ffffff;
}
.main-hidden .reminder-box{
    position: relative;
    height: 47px;
    padding: 0;
    z-index: 12;
    background-color: #ffffff;
}

.main-hidden .query-box-list::before{
    position: absolute;
    width: 18px;
    display: block;
    content: '';
    display: block;
    z-index: 11;
    bottom: 0;
    right: -18px;
    top: 0;
    background: #FFFFFF;
box-shadow: -4px -49px 4px 0 rgba(0,0,0,0.05);
}
.main-hidden .main-criteria .nth03 .label{
    width: 83px;
    
}
/*#manage-table::-webkit-scrollbar {
    width: 4px;    
    height: 4px;
    scrollbar-arrow-color:red;
}
#manage-table::-webkit-scrollbar-thumb {
    border-radius: 2px;
    height: 4px;
    background-color: #BABABA;
}
#manage-table::-webkit-scrollbar-track {
    display: none; 
}*/
/***]]列表页滚动条样式***/


/***系统异常通用报错[[***/
.dialog-err{
    height: 36px;
    line-height: 36px;
    background-color: #ffffff;
    text-indent: 50px;
    font-size: 13px;
    color: #666666;
    background-image: url('../../images/oca/err-ico.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 24px 10px;
}
.dialog-order-err{
    height: 36px;
    line-height: 36px;
    position: relative;
    background-color: #ffffff;
    text-indent: 50px;
    font-size: 13px;
    color: #666666;
    background-image: url('../../images/oca/err-ico.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 24px 10px;
}
.dialog-order-err .err-close{
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url('../../images/oca/close-ico.png');
    background-size: 100%;
    background-repeat: no-repeat;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

/***]]系统异常通用报错***/
/***处理外部引入导致页面过宽出现滚动条问题[[***/
#contentNvgSecond{
    overflow: hidden;
}
/***]]处理外部引入导致页面过宽出现滚动条问题***/