@import "plugIncss/pagination.css";
@import "plugIncss/select.css";
@import "plugIncss/dialog.css";
body{
    background-color: #F2F2F2;;
}
.main{
    width: 1134px;
    padding: 28px 28px 46px 28px;
    margin: 15px auto 0 auto;
    background-color: #ffffff;
}

.main .go-backorder{
    padding-left: 15px;
    height: 22px;
    line-height: 22px;
    position: relative;
    color: #2B99FF;
    font-size: 14px;
    
}
.main .go-backorder::before{
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    left: 1px;
    top: 6px;
    background-image: url('../../images/oca/callback-ico.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
.main .reminder-box{
    margin-top: 10px;
    height: 30px;
    padding-left: 24px;
    background-repeat: no-repeat;
    line-height: 30px;
    color: #FF9C00;
    background-image: url('../../images/oca/tip-ico.png');
    background-position: 0 8px;
    background-size: 14px 14px;
}


/****接受[[****/
.dialog-accept{
    width: 670px;
    height: auto;
    background-color: #ffffff;
}
.dialog-accept .title{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e8e8e8;
}
.dialog-accept .close{
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-image: url('../../images/oca/close-ico.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dialog-accept .accept-content{
    padding-top: 8px;
    width: 640px;
    height: auto;
    margin: 20px auto 0 auto;
    background: #F5F9FD;
    border-radius: 2px;
}
.dialog-accept .accept-content-top{
    color: #666666;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 15px;
    line-height: 24px;
}
.dialog-accept .accept-content-top .line-block{
    color: #333333;
    padding-left: 38px;
}
.dialog-accept .accept-content-top .line-color{
    color: #333333;
    display:inline-block;
    padding-right: 18px;
    width: 370px;
}
.dialog-accept .accept-content-top .line-color-reason{
    color: #333333;
    display:inline-block;
    padding-right: 18px;
    width: 630px;
}
.dialog-accept .sure-txt{
    padding-top: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.dialog-accept .sure-btn{
    clear: both;
    padding: 10px 0 0 195px;
    padding-left: 245px;
}
.dialog-accept .sure-btn .btn{
    width: 78px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #FF9C00;
    color: #FF8000;
    background: #ffffff;
    border-radius: 4px;
}
.dialog-accept .sure-btn .surebtn{
    color: #ffffff;
    background: #FF9C00;
    margin-left: 0;

}
.dialog-accept .messageBox{
    color: #f08d2c;;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}
/****]]接受****/



/***申诉[[***/
.dialog-appeal{
    width: 650px;
    height: 625px;
    background-color: #ffffff;
}
.dialog-appeal .title{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e8e8e8;
}
.dialog-appeal .close{
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-image: url('../../images/oca/close-ico.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dialog-appeal .appeal-contents{
    padding-top: 8px;
    width: 630px;
    height: auto;
    margin: 20px auto 0 auto;
    background: #F5F9FD;
    border-radius: 2px;
}
.dialog-appeal .appeal-contents-top{
    color: #666666;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 15px;
    line-height: 24px;
}
.dialog-appeal .appeal-contents-top .line-block{
    color: #333333;
}
.dialog-appeal .appeal-contents-top .line-color{
    color: #333333;
    display:inline-block;
    padding-right: 18px;
    width: 370px;
}
.dialog-appeal .appeal-content{
    padding: 0 30px;
    height: 625px;
}
.dialog-appeal .appeal-content-item{
    margin-top: 30px;
    position: relative;
}
.dialog-appeal .appeal-title{
    width: 70px;
    float: left;
    font-size: 14px;
    color: #333333;
    line-height: 36px;
}
.dialog-appeal .appeal-txt{
    width: 520px;
    float: right;
    display: inline;
    position: relative;
    margin-left: -45px;
}

.dialog-appeal .reason{
    width: 448px;
    height: 73px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 19px;
    resize: none;
    outline: none;
}
.dialog-appeal .reason-infor{
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 12px;
    color: #CCCCCC;
    letter-spacing: 0;
    text-align: right;
    line-height: 12px;
    right: 60px;
    left: 380px;
}
.reason-infor{
	margin-top:4px;
}

.dialog-appeal .showfile{
    width: 369px;
    height: 34px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    display: inline;
    line-height: 34px;
    text-indent: 10px;
    color: #333333;
    font-size: 14px;
}
.dialog-appeal .fileclass{
    float: left;
    display: inline;
    width: 72px;
    height: 34px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 4px;
}
.dialog-appeal .fileopt{
    display: none;
}
.dialog-appeal .file-infor{
    padding: 10px 0 0 70px;
    font-size: 12px;
    color: #999999;
    right: 60px;
    left: 380px;
}
.dialog-appeal .file-infor span{
    display: block;
}
.dialog-appeal .file-format{
    margin: 13px 0 0 70px;
    width: 458px;
    height: 112px;
    background: #FFF5EA;
    border: 1px solid rgba(255,128,0,0.32);
    border-radius: 4px;
}
.dialog-appeal .file-format-title{
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding: 2px 0 0 28px;
    color: #E38F37;
    background-image: url('../../images/oca/tip-ico.png');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 10px 11px;;
}
.dialog-appeal .list-item{
    padding-left: 28px;
    font-size: 12px;
    color: #E38F37;
    letter-spacing: 0;
    line-height: 18px;
}
.dialog-appeal .appeal-btn{
    padding: 15px 0 0 70px;
}
.dialog-appeal .appeal-btn .btn{
    width: 78px;
    height: 30px;
    border: 1px solid #FF8000;
    background-color: #FF8000;
    color: #ffffff;
    cursor: pointer;
    float: left;
    display: inline;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.dialog-appeal .appeal-btn .isbtn{
    opacity: 0.5;
}
.dialog-appeal .appeal-btn .appeal-caner{
    color: #FF8000;
    background-color: #ffffff;
}
/***]]申诉***/

/*****查询列表公共样式[[******/
.query-box-list{
    position: relative;
    margin-top: 9px;
}
#manage-table{
    overflow: hidden;
    overflow-x: scroll;
}
#manage-table .manage-header{
    height: 47px;
    background-color: #F5F9FD;
    border-bottom: 1px solid #E8E8E8;
    width: 2100px;
}
#manage-table .manage-list{
    width: 2100px;
    border-bottom: 1px solid #E8E8E8;
    height: 47px;

}
#manage-table .th{
    float: left;
    display: inline;
    color: #1F2D3D;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
}

.manage-list .td{
    float: left;
    display: inline;
    color: #666666;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#manage-table .thitem01{
    width: 68px;
}
#manage-table .thitem02{
    width: 365px;
}
#manage-table .thitem03{
    width: 365px;
}
#manage-table .thitem04{
    width: 175px;
}
#manage-table .thitem05{
    width: 175px;
}
#manage-table .thitem06{
    width: 130px;
}
#manage-table .thitem07{
    width: 130px;
}
#manage-table .thitem08{
    width: 130px;
}
#manage-table .thitem09{
    width: 130px;
}
#manage-table .thitem10{
    width: 130px;
}

#manage-table .thitem11{
    width: 100px;
}
#manage-table .manage-list .thitem05{
    color: #FF3535;

}

#manage-table .operation{
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
}

#manage-table .shadowhow{
    box-shadow: -4px 0 4px 0 rgba(0,0,0,0.05);
}
#manage-table .operation .operation-th{
    width: 140px;
    height: 47px;
    background-color: #F5F9FD;
    color: #1F2D3D;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
}
#manage-table .operation .operation-item{
    width: 140px;
    height: 47px;
    color: #666666;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    color: #3399FF ;
}
#manage-table .operation .operation-item span{
    padding-right: 12px;
}
.g-row.wait-wrap {
    text-align: center;
    padding: 150px 0 228px 422px;
  }
  
  .g-row.wait-wrap .desc{
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
  }
  
  .g-row.wait-wrap .empty{
    position: absolute;
    left: 0;
    top: 0px;
    
  }

/*****查询列表公共样式[[******/


/***提交成功[[****/
.dialog-success{
    width: 155px;
    height: 36px;
    text-indent: 50px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    line-height: 36px;
    background-color: #ffffff;
    font-size: 13px;
    color: #666666;
    background-image: url('../../images/oca/success-ico.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 24px 10px;
}
/***]]提交成功***/


.footer{
    height: 100px;
    width: 100%;
    clear: both;
}