
/***banner[[***/
.banner{
    width: 100%;
    height: 400px;
    position: relative;
}
.banner .notice{
    width: 925px;
    height: 36px;
    padding-top: 6px;
    position: absolute;
    top: 272px;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    margin-left: -462px;
    position: relative;
    line-height: 42px;
    border-radius: 21px;
    color: #ffffff;
    background-image: url('../../images/oca/notice-ico.png');
    background-repeat: no-repeat;
    background-size: 20px 15px;
    background-position: 68px 14px;
}
.banner .notice-bord{
    position: relative;
    height: 30px;
    overflow:hidden;
    margin-top: 2px;
}
.banner .notice-box{
    margin-left: 94px;
}
.banner .more{
    cursor: pointer;
    display: block;
    width: 75px;
    height: 22px;
    position: absolute;
    right: 85px;
    top: 5px;
    line-height: 22px;
    color: #373236;
    text-align: center;
    border-radius: 13px;
    background: #ffffff;
}
.banner .list-item{
    width: 665px;
    line-height: 36px;
    position: relative;
    overflow:hidden;
    overflow-y:auto;
}
.banner .more a {
 color: #373236;
}
.banner .banner-bg{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
.banner .banner-bg img{
    width: 1920px;
    height: 400px;
    display: block;
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -990px;
    top: 0;


}
/***]]banner***/

.main{
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.top-amount{
    width: 1190px;
    height: 110px;
    position: absolute;
    top: -45px;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0 6px 13px 0 rgba(124,65,50,0.12);
    border-radius: 4px;
}
.top-amount .amount-item{
    width: 305px;
    float: left;
    display: inline;
    padding: 25px 0 0 90px;
}
.amount-item-tit{
    padding-left: 30px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    color: #333333;  
    background-image: url('../../images/oca/balance-ico.png'); 
    background-repeat: no-repeat;  
    background-size: 22px 22px;  
    background-position: 0 5px;
}
.amount-item-tit a{
    color: #ffffff;
}
.amount-item-tit .anunt-btn a:hover{
    color:#ffffff;
    text-decoration: none;
    background-color: #FFAB27;
    border-radius: 3px;
    display: block;
}
.funds-transit{
    background-image: url('../../images/oca/funds-transit-ico.png');
}
.bond{
    background-image: url('../../images/oca/bond-ico.png');
    background-size: 19px 19px;
}
.amount-item-tit .anunt-btn{
    display: inline-block;
    width: 58px;
    height: 30px;
    margin-left: 14px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background-color: #FF9C00;
    color: #ffffff;
    border-radius: 3px;
}
.top-amount .amount-many{
    font-size: 14px;
    line-height: 40px;
}
.top-amount .anunt-color{
    color: #FF8000;
    font-size: 26px;
    padding: 0 3px;
}

/***交易概况[[***/
.transaction-overview{
    padding-top: 108px;
    text-align: center;


}
.transaction-overview .transaction-title{
    font-size: 28px;
    color:#333333 ;
    display: inline-block;
    position: relative;
}
.transaction-overview .transaction-title::before{
    content: '';
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    background-color: #FF9C00;
    bottom: -10px;
    left: 50%;
    margin-left: -24px;
}
.transaction-overview .transaction-content-query{
    width: 500px;
    margin: 0 auto;
}
.transaction-overview .title-infor{
    width: 72px;
    height: 32px;
    line-height: 32px;
    float:left;
    display: inline;
    font-size: 14px;
    color: #333333;
}
.transaction-overview .transaction-content-query{
    clear: both;
    margin-top: 34px;
}
.transaction-overview .title-datafirst{
    width: 148px;
    height: 32px;
    float: left;
    display: inline;
    

}
.transaction-overview .title-datafirst input{
    width: 148px;
    height: 32px;
    text-indent: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-image: url('../../images/oca/data-ico.png');
    background-size: 14px 12px;
    background-position: 123px 9px;
    background-repeat: no-repeat;
}
.transaction-overview .title-datalast{
    width: 148px;
    height: 32px;
    float: left;
    display: inline;
    margin-left: 16px;
}
.transaction-overview .title-datalast input{
    width: 148px;
    height: 32px;
    text-indent: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-image: url('../../images/oca/data-ico.png');
    background-size: 14px 12px;
    background-position: 123px 9px;
    background-repeat: no-repeat;
}
.transaction-overview .title-btn{
    float: left;
    width: 78px;
    height: 32px;
    margin-left: 16px;
    line-height: 32px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background-color: #FF9C00;
    border-radius: 4px;
    cursor: pointer;
}
.transaction-overview .query-list-item{
    width: 340px;
    height: 300px;
    float: left;
    display: inline;
    position: relative;
}
.transaction-overview .query-box {
    padding-top: 24px;
    position: relative;
    padding-left: 36px;

}
.transaction-overview .query-border{
    width: 1px;
    height: 230px;
    background-color: #E8E8E8;
    position: absolute;
    left: 754px;
    top: 38px;
}
.transaction-overview  .laster-item{
    margin-left: 80px;

}
.transaction-overview .query-data{
    width: 145px;
    position: absolute;
    left: 100px;
    top: 78px;
}
.transaction-overview .query-name{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}
.transaction-overview .query-txt{
    text-align: center;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
}
.transaction-overview .query-txt .query-num{
    font-size: 22px;
}
.transaction-overview .content-box{
    width: 346px;
    height: 270px;
}
.tooltipbox{
    width: 120px;
    height: 78px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 2px;
}
.tooltipbox .tooltipname{
    position: relative;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 20px;
    padding-left: 27px;
    padding-top: 6px;
    text-align: left;
}
.tooltipbox .tooltipvalue{
    padding-top: 4px;
    padding-left: 27px;
    line-height: 20px;
    color: #333333;
    text-align: left;
}
.tooltipbox .tooltipname::before{
    position: absolute;
    content: '';
    display: block;
    left: 10px;
    top: 9px;
    width: 8px;
    height: 14px;
    background-color: #FFECD9;
}

/***]]交易概况***/

/***商户结算流程[[***/
.settlement-process{
    width: 100%;
    height: 408px;
    background-image: url('../../images/oca/bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #F2F2F2;
}
.settlement-process .settlement-title{
    text-align: center;
    padding-top: 35px;
}
.settlement-process .settlement-title .settlement-title-txt{
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 28px;
    position: relative;
}
.settlement-process .settlement-title .settlement-title-txt::before{
    width: 45px;
    height: 4px;
    content: '';
    display: block;
    position: absolute;
    background-color: #FF9C00;
    bottom: -18px;
    left: 50%;
    margin-left: -22px;
}
.settlement-process .settlement-content{
    width: 1190px;
    clear: both;
    margin: 51px auto 0 auto;
}
.settlement-process .content-item{
    width: 222px;
    height: 239px;
    margin-left: 20px;
    background-color: #ffffff;
    float: left;
    display: inline;
    background-image: url('../../images/oca/1.png');
    box-shadow: 0 6px 13px 0 rgba(124,65,50,0.12);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 54px 55px;
}
.settlement-process .csm{
    color: #FF9D00;
}
.settlement-process .laster01{
    margin-left: 0;
}
.settlement-process .laster02{
    background-image: url('../../images/oca/2.png');
}
.settlement-process .laster03{
    background-image: url('../../images/oca/3.png');
}
.settlement-process .laster04{
    background-image: url('../../images/oca/4.png');
}
.settlement-process .laster05{
    background-image: url('../../images/oca/5.png');
}

.settlement-process .laster04 .content-txt{
    padding: 20px 27px 0 27px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.settlement-process .content-itemimg{
    width: 65px;
    height: 65px;
    margin: 68px auto 0 auto;
}
.settlement-process .content-itemimg img{
    width: 65px;
    height: 65px;
    display: block;
}
.settlement-process .content-txt{
    padding: 20px 34px 0 34px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
/***]]商户结算流程***/

/***拒付处理流程[[***/
.dishonor .dishonor-title{
    text-align: center;
    padding-top: 35px;
}
.dishonor .dishonor-title .dishonor-title-txt{
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 28px;
    position: relative;
}
.dishonor .dishonor-title .dishonor-title-txt::before{
    width: 45px;
    height: 4px;
    content: '';
    display: block;
    position: absolute;
    background-color: #FF9C00;
    bottom: -18px;
    left: 50%;
    margin-left: -22px;
}
.dishonor .dishonor-content-dist{
    width: 730px;
    border-bottom: 1px dashed #FFAF34;
    left: 100px;
    position: absolute;
    top: 25px;
    z-index: -1;
}
.dishonor .dishonor-content{
    width: 945px;
    position: relative;
    margin: 45px auto 0 auto;
}
.dishonor .dishonor-content-item{
    width: 154px;
    float: left;
    display: inline;
    margin-left: 99px;
}
.dishonor .dishonor01{
    margin-left: 0;
}
.dishonor .dishonor02{
    width: 168px;    
}
.dishonor .dishonor03{
    width: 210px;    
    margin-left: 78px;
}
.dishonor .dishonor04{
    width: 168px;    
    margin-left: 64px;
}


.dishonor .dishonor-content-num{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: linear-gradient(-53deg, #FF9300 0%, #FFD073 100%);
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.dishonor .dishonor-content-txt{
    padding-top: 10px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

/***]]拒付处理流程***/


/*****查询列表公共样式[[******/



/*****查询列表公共样式[[******/




.footer{
    height: 100px;
    width: 100%;
    clear: both;
}