@import "plugIncss/pagination.css";
@import "plugIncss/select.css";
@import "plugIncss/dialog.css";
body{
    background-color: #F2F2F2;;
}
.main{
    width: 1134px;
    padding: 28px 28px 46px 28px;
    margin: 15px auto 0 auto;
    background-color: #ffffff;
}
.main-criteria .criteria-list-item{
    width: 378px;
    float: left;
    display: inline;
    margin-bottom: 20px;
}
.main-criteria .label{
    width: 98px;
    line-height: 32px;
    float: left;
    display: inline;
    color: #333333;
    font-size: 14px;
    text-align: right;
}
.main-criteria .inputbox{
    width: 260px;
    height: 32px;
    float: left;
    display: inline;
}
.main-criteria .inputbox input{
    width: 268px;
    height: 30px;
    padding-left: 0;
    text-indent: 10px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    outline: none;
}
.main-criteria .nth01 .label,.main-criteria .nth04 .label{
    width: 84px;
}

.main-criteria .nth06,.main-criteria .nth03{
    width: 368px;
    margin-left: 10px;
}
.main-criteria .inputbox{
    width: 268px;
}
.main-criteria .inputlsit{
    width: 270px;
}
.main-criteria .inputlsit input{
    width: 126px;
    height: 30px;
    float: left;
    line-height: 30px;
    cursor: pointer;
    background-image: url('../../images/oca/data-ico.png');
    background-size: 14px 12px;
    background-position: 102px 9px;
    background-repeat: no-repeat;

}
.main-criteria .inputlsit .inputlater{
    float: right;
}

.query-box{
    clear: both;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}
.query-box .query-btn{
    width: 63px;
    height: 30px;
    float: left;
    display: inline;
    margin-right: 20px;
    line-height: 30px;
    text-align: center;
    color: #FF9C00;
    border-radius: 4px;
    border: 1px solid #FF9C00;
    cursor: pointer;
}
.query-box .queryfirest{
    background-color: #FF9C00;
    color: #ffffff;
    font-size: 14px;
}
.reminder-box{
    clear: both;
    padding: 8px 0;
    position: relative;

}
.reminder-box .reminder{
    
    height: 30px;
    padding-left: 24px;
    background-repeat: no-repeat;
    line-height: 30px;
    color: #FF9C00;
    background-image: url('../../images/oca/tip-ico.png');
    background-position: 0 8px;
    background-size: 14px 14px;
}
.reminder-box .export{
    font-size: 14px;
    color: #1890FF;
    position: absolute;
    text-align: right;
    width: 48px;
    height: 28px;
    top: 12px;
    right: 0px;
    cursor: pointer;
    line-height: 28px;
    background-image: url('../../images/oca/export-ico.png');
    background-position: 0 7px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.reminder-box .queryChannel{
    font-size: 14px;
    color: #1890FF;
    position: absolute;
    text-align: right;
    width: 98px;
    height: 28px;
    top: 12px;
    right: 70px;
    cursor: pointer;
    line-height: 28px;
    /*background-image: url('../../images/oca/export-ico.png');*/
    background-position: 0 7px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

/****闁拷濞嗙抖[****/
.dialog-refund{
    border-radius: 4px;
}
.dialog-refund .title{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e8e8e8;
}
.dialog-refund .refund-content{
    padding-top: 22px;
}
.dialog-refund .close{
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-image: url('../../images/oca/close-ico.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dialog-refund .refund-item{
    position: relative;
    text-align: right;
    padding-right: 341px;
    line-height: 34px;
    color: #333333;
    font-size: 14px;
}
.dialog-refund .cour{
    padding: 8px 341px 8px 0;
    height: 36px;
    line-height: 36px;

}
.dialog-refund .cour input{
    width: 212px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    line-height: 34px;
    text-indent: 10px;
    outline: none;
}
.dialog-refund .cour .item-right{
    top: 8px;
    line-height: 36px;
}
.dialog-refund .item-right{
    position: absolute;
    height: 34px;
    line-height: 34px;
    top: 0;
    left: 231px;
    color: #333333;
    font-size: 14px;
}
.dialog-refund .refund-bttom{
    padding: 18px 0 45px 229px ;
}
.dialog-refund .item-right .record{
    padding-left: 14px;
    color: #3399FF;
    cursor: pointer;
}

.dialog-refund .refund-item .err .err-txt{
    display: block;
}
.dialog-refund .refund-item .err input{
    border-color: #FF3535;
}

.dialog-refund .refund-item .err-txt{
    display: none;
    color: #FF3535;
    font-size: 12px;
    line-height: 14px;
    position: absolute;

}
.dialog-refund .refund-btn{
    cursor: pointer;
    color: #ffffff;
    float: left;
    display: inline;
    margin-right: 20px;
    font-size: 14px;
    text-align: center;
    width: 78px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #FF9C00;
    background-color: #FF9C00;
    opacity: 0.5;
}
.dialog-refund .canor{
    background-color: #ffffff;
    border: 1px solid #FF9D00;
    color: #FF8000 ;
    opacity: 1;
}
.dialog-refund .surebtn{
    opacity: 1;
}
/****]]闁拷濞嗭拷****/

/***闁拷濞嗙偓鍨氶崝鐒刐****/
.dialog-refund-success{
    width: 155px;
    height: 36px;
    text-indent: 50px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    line-height: 36px;
    background-color: #ffffff;
    font-size: 13px;
    color: #666666;
    background-image: url('../../images/oca/success-ico.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 24px 10px;
}

.batch-query-success{
    width: 255px;
    height: 36px;
    text-indent: 50px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    line-height: 36px;
    background-color: #ffffff;
    font-size: 13px;
    color: #666666;
    background-image: url('../../images/oca/success-ico.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 24px 10px;
}
/***]]闁拷濞嗙偓鍨氶崝锟�***/

/*****閺屻儴顕楅崚妤勩�冮崗顒�鍙￠弽宄扮础[[******/
.query-box-list{
    position: relative;
}
#manage-table{
    overflow: hidden;
    /*overflow-x: scroll;*/
}
#manage-table .manage-header{
    height: 47px;
    background-color: #F5F9FD;
    border-bottom: 1px solid #E8E8E8;
    width: 1990px;
}
#manage-table .manage-list{
     width: 1990px;
    border-bottom: 1px solid #E8E8E8;
    height: 47px;

}
#manage-table .th{
    float: left;
    display: inline;
    color: #1F2D3D;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
}

.manage-list .td{
    float: left;
    display: inline;
    color: #666666;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
#manage-table .thitem00{
    width: 15px;
}

#manage-table .thitem01{
    width: 48px;
}
#manage-table .thitem02{
    width: 70px;
}
#manage-table .thitem03{
    width: 320px;
}
#manage-table .thitem04{
    width: 200px;
}
#manage-table .thitem05{
    width: 170px;
}
#manage-table .thitem06{
    width: 170px;
}
#manage-table .thitem07{
    width: 125px;
}
#manage-table .thitem08{
    width: 125px;
}
#manage-table .thitem09{
    width: 100px;
}
#manage-table .thitem10{
    width: 75px;
}
#manage-table .thitem10{
    width: 148px;
}

#manage-table .operation{
    position: absolute;
    right: 0;
    top: 0;
    width: 148px;
}

#manage-table .shadowhow{
    box-shadow: -1px 0 1px 0 rgba(0,0,0,0.05);
}
#manage-table .operation shadowhow{
    width: 60px;
}

#manage-table .operation .operation-th{
    width: 60px;
    height: 47px;
    background-color: #F5F9FD;
    color: #1F2D3D;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
}
#manage-table .operation .operation-item{
    width: 60px;
    height: 47px;
    color: #666666;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 47px;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    color: #3399FF ;
}
#manage-table .operation .operation-item .refund{
    cursor: pointer;

}
.g-row.wait-wrap {
    text-align: center;
    padding: 150px 0 228px 422px;
  }
  
  .g-row.wait-wrap .desc{
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
  }
  
  .g-row.wait-wrap .empty{
    position: absolute;
    left: 0;
    top: 0px;
    
  }

/*****閺屻儴顕楅崚妤勩�冮崗顒�鍙￠弽宄扮础[[******/

.footer{
    height: 100px;
    width: 100%;
    clear: both;
}