.ui-dialog-wrap {
  color: #333;
  position: absolute;
  left: 50%;
  top: 15%;
  /* transition: top .2s ease-in-out; */
}

.ui-dialog-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.4; display: none;
}

.ui-dialog-outer {
  filter: alpha(opacity=20);
  zoom: 1;
}

.ui-dialog-inner {
  font: normal 14px/1.5 arial simsun;
  font-family: "Microsoft YaHei", PingFangSC-Regular;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
}

.ui-dialog-head {
  background: #fff;
  position: relative;
}

.ui-dialog-cont {
  /**height: 540px;**/
  background: #fff;
}

.ui-dialog-foot {
  background: #fff;
  text-align: right;
  font-size: 0;
  word-spacing: -1px;
}

.ui-dialog-title {
  height: 1px;
  overflow: hidden;
  position: absolute;
  z-index: -111;
}

.ui-dialog-close {
  width: 20px;
  height: 20px;
  text-align: center;
  outline: none;
  position: absolute;
  top: 0;
  right: -36px;
  background: url('../../../images/oca/diagio-close.png') no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}
.ui-dialog-close:hover {
  color: #666;
  text-decoration: none;
}