.jr-pagination {
  width: 100%;
  margin-top: 20px;
  height:32px;
  float:right;
  font-size: 14px;
}
.jr-pagination span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jr-pagination .previous,
.jr-pagination .next {
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  line-height: 30px;
  cursor: pointer;
  background: #FAFAFA;
  text-align: center;
  font-family: 'simsun';
  font-weight: bold;
  margin-right: 8px;
  color: #213E68;
}

.jr-pagination .previous span,
.jr-pagination .next span {
  margin: 0;
  text-align: center;
}
.jr-pagination .previous:hover,
.jr-pagination .next:hover {
  color: #FF9500;
}
.jr-pagination .previous.disabled,
.jr-pagination .next.disabled {
  color: #CCC;
  background: #FAFAFA;
  cursor: default;
}
.jr-pagination .totalCount {
  float: left;
  margin-right: 8px;
  height: 32px;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 32px;
}
.jr-pagination .totalCount > span {
  color: #2A2A2A;
}
.jr-pagination .page span {
  float:left;
}
.jr-pagination .page-num {
  padding: 0 5px;
  min-width: 20px;
  height: 30px;
  color: #666;
  border: 1px solid #D9D9D9;
  background: #fff;
  margin-right: 8px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.jr-pagination .current {
  width: 32px;
  height:32px;
  line-height: 32px;
  text-align: center;
  margin-right: 8px;
  background: #FF9500;
  color: #fff;
}
.jr-pagination .hover {
  color: #FF9500;
}
.jr-pagination .ellipsis {
  width:14px;
  height:32px;
  margin-right: 8px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}


.jr-pagination .jump-to-num {
  height:32px;
  width:36px;
  line-height: 32px;
  text-align: center;
  background: #FFF;
  border: 1px solid #D9D9D9;
  margin: 0 8px;
}
.jr-pagination .jump {
  cursor: pointer;
  height:24px;
  width:48px;
  border:1px solid #CCC;
  line-height: 24px;
  text-align: center;
}
.pagination-txt {
  margin: 0 0 0 2px;
  height:32px;
  line-height: 32px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mr7 {
  margin-right: 7px;
}
.mr40 {
  margin-right: 40px;
}
