/* 下拉框[[ */

.jr-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #333333;
  z-index: 99;
}

.jr-select .select-item.search {
    position: absolute;
    background: #fff;
    top: 0;
    padding: 15px 10px 15px;
    z-index: 2;
}

.jr-select .select-item.search > input[type=text] {
    width: 266px !important;
    height: 30px !important;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.jr-select .select-input {
  outline: none;
  width: 240px;
  height: 28px;
  border: 1px solid #ccc;
  padding-left: 10px;
  line-height: 24px;
  cursor: pointer;
}

.jr-select .select-input-arrow-icon {
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 12px;
  width: 12px;
  height: 8px;
  background: url(../../../images/oca/icon-select.png) no-repeat;
  background-size: 10px 6px;
}

.jr-select .arrow-icon-open {
  transform: rotate(180deg);
}

.jr-select .select-box {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.10);
  border-radius: 4px;
  max-height: 155px;
  overflow: auto;
  margin-top: 5px;
  padding: 8px 0;
}

.jr-select .select-box .sel-val {
  display: block;
  position: relative;
  height: 22px;
  text-indent: 10px;
  color: #666;
  padding: 5px;
  line-height: 22px;
  transition: all .1s ease-in-out;
}

.jr-select .select-box .sel-val:hover {
  color: #FF9500;
  background-color: #FAFAFA;
  text-decoration: none;
}

/* 下拉框]] */
