@charset "utf-8";

.e-receiptContent{
  width: 1190px;
  height: 400px;
  border: 1px solid #E8E8E8;
  margin: auto;
  padding: 20px;
}

.back-top-up{
  font-size: 14px;
  line-height: 40px;
  color: #39f;
  text-decoration: none;
  outline: none;
}

.back-icon{
  display: inline-block;
  width: 12px;
  height: 11px;
  margin-right: 5px;
  vertical-align: middle;
  background: url(../../images/back-icon.png) no-repeat center;
  margin-top: -2px;
}

.e-receiptIcon-op{
  margin: auto;
  width: 140px;
  height: 140px;
  background: url(../../images/receipt.gif) no-repeat center;
}

.e-receiptIcon-success{
  margin: auto;
  width: 140px;
  height: 140px;
  background: url(../../images/receipt-success.png) no-repeat center;
}

.e-receiptIcon-fail{
  margin: auto;
  width: 140px;
  height: 140px;
  background: url(../../images/receipt-fail.png) no-repeat center;
}

.e-receiptIcon-title{
  font-family: PingFangSC-Regular;
font-size: 16px;
color: #333333;
letter-spacing: 0;
text-align: center;
margin-top: 20px;
}

.e-receiptIcon-btn{
  width: 134px;
  height: 28px;
  line-height: 28px;
  background: #3399FF;
border-radius: 4px;
font-family: PingFangSC-Regular;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
margin: auto;
margin-top: 20px;
cursor: pointer;
}
.e-receiptIcon-btn.gray{
  background: #999;
}
.e-receiptIcon-tip{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  margin-top: 15px;
}
